<div #minLabel class="cc-range-slider-label" [style.left.px]="0" [style.visibility]="hideMinLabel ? 'hidden' : 'visible'">
    {{ minValue }}
</div>
<div
    #currentLeftLabel
    class="cc-range-slider-label"
    [style.left.px]="currentLeftLabelLeftPosition"
    [style.visibility]="doLeftRightLabelOverlap ? 'hidden' : 'visible'"
>
    {{ leftValueLabel }}
</div>
<div
    #currentRightLabel
    class="cc-range-slider-label"
    [style.left.px]="currentRightLabelLeftPosition"
    [style.visibility]="doLeftRightLabelOverlap ? 'hidden' : 'visible'"
>
    {{ rightValueLabel }}
</div>
<div
    #combinedCurrentLeftRightLabel
    class="cc-range-slider-label"
    [style.left.px]="combinedCurrentLeftRightLabelLeftPosition"
    [style.visibility]="doLeftRightLabelOverlap ? 'visible' : 'hidden'"
>
    {{ leftValueLabel }} - {{ rightValueLabel }}
</div>
<div #maxLabel class="cc-range-slider-label" [style.right.px]="0" [style.visibility]="hideMaxLabel ? 'hidden' : 'visible'">
    {{ maxValue }}
</div>
