<section layout="row" layout-align="center center" class="mode-chooser">
	<md-button
		class="state-selector-button left"
		id="tree-view"
		ng-class="{ current: $ctrl._viewModel.searchPanelMode == 'treeView' }"
		ng-click="$ctrl.onToggleSearchPanelMode('treeView')"
		title="Folder Structure"
		><i class="fa fa-sitemap"></i
	></md-button>
	<md-button
		class="state-selector-button middle"
		ng-class="{ current: $ctrl._viewModel.searchPanelMode == 'flatten' }"
		ng-click="$ctrl.onToggleSearchPanelMode('flatten')"
		title="Flattened Buildings"
		><i class="fa fa-eye-slash"></i>
		<div class="list-length-count" ng-show="$ctrl._viewModel.flattenListLength > 0"></div
	></md-button>
	<md-button
		class="state-selector-button right"
		ng-class="{ current: $ctrl._viewModel.searchPanelMode == 'exclude' }"
		ng-click="$ctrl.onToggleSearchPanelMode('exclude')"
		title="Excluded Buildings"
		><i class="fa fa-ban"></i>
		<div class="list-length-count" ng-show="$ctrl._viewModel.excludeListLength > 0"></div
	></md-button>
</section>
