<section layout="row" layout-align="center center" class="mode-chooser">
	<md-button
		class="state-selector-button left"
		id="tree-view"
		ng-class="{ current: $ctrl.searchPanelMode == 'treeView' }"
		ng-click="$ctrl.updateSearchPanelMode({ searchPanelMode: 'treeView' })"
		title="Folder structure"
		><i class="fa fa-sitemap"></i
	></md-button>
	<md-button
		class="state-selector-button right"
		id="blacklist"
		ng-class="{ current: $ctrl.searchPanelMode == 'blacklist' }"
		ng-click="$ctrl.updateSearchPanelMode({ searchPanelMode: 'blacklist' })"
		title="Excluded and flattened buildings"
		><i class="fa fa-eye-slash"></i>
		<div class="list-length-count" ng-show="$ctrl._viewModel.flattenListLength > 0 || $ctrl._viewModel.excludeListLength > 0"></div
	></md-button>
</section>
