<span
    class="node-name"
    [class.flattened]="node.isFlattened"
    [class.noAreaMetric]="!(node | areaMetricValid: (areaMetric$ | async))"
    [class.tree-search-result]="(searchedNodePaths$ | async).has(node.path)"
>
    {{ node.name }}
</span>

@if (!(node | isNodeLeaf) && unaryValue != null) {
    <span class="unary-number">
        <span [ngPlural]="unaryValue">
            ({{ ((100 * unaryValue) / (rootUnary$ | async)).toFixed(0) }}% / {{ unaryValue }}
            <ng-template ngPluralCase="=1">File</ng-template>
            <ng-template ngPluralCase="other">Files</ng-template
            >)
        </span>
    </span>
}
