<span
    class="node-name"
    [class.flattened]="node.isFlattened"
    [class.noAreaMetric]="!(node | areaMetricValid: (areaMetric$ | async))"
    [class.tree-search-result]="(searchedNodePaths$ | async).has(node.path)"
>
    {{ node.name }}
</span>

@if (!(node | isNodeLeaf)) {
    <span class="unary-number">
        @if (!isHovered) {
            <span>{{ ((100 * unaryValue) / (rootUnary$ | async)).toFixed(0) }}%</span>
        } @else {
            <span [ngPlural]="unaryValue">
                {{ unaryValue }}
                <ng-template ngPluralCase="=1">File</ng-template>
                <ng-template ngPluralCase="other">Files</ng-template>
            </span>
        }
    </span>
}
