@import "../../../../material/theme";
@import "../legendPanel.component.scss";

.screenshot-button {
	@extend .rotated-button;
	width: 50px;
	bottom: ($fixedHeight + 20 + 72) + px;
	margin: 6px -10px;
	transition: right 0.3s ease, margin 0.3s ease;
	z-index: 0;
	display: none;

	&.disabled {
		opacity: 0.5;
	}

	&.visible {
		display: block;
		margin: 6px 27px;
	}
}
