<md-card
	class="search-panel-card"
	ng-class="{ expanded: $ctrl._viewModel.searchPanelMode !== 'minimized' }"
	ng-attr-id="search-panel-card"
	ng-mouseup="$event.stopPropagation()"
>
	<div class="section">
		<div class="section-header">
			<cc-search-bar ng-click="$ctrl.openSearchPanel()"></cc-search-bar>
			<cc-search-panel-mode-selector
				[search-panel-mode]="$ctrl._viewModel.searchPanelMode"
				[update-search-panel-mode]="$ctrl.updateSearchPanelMode"
			></cc-search-panel-mode-selector>
		</div>
		<span class="section-title" ng-click="$ctrl.updateSearchPanelMode('treeView')">
			File/Node Explorer <i class="fa fa-angle-down" title="Show folder structure"></i>
		</span>
		<div class="section-body">
			<blacklist-panel-component ng-show="$ctrl._viewModel.searchPanelMode === 'blacklist'"></blacklist-panel-component>
			<cc-matching-files-counter ng-show="$ctrl._viewModel.searchPanelMode === 'treeView'"></cc-matching-files-counter>
			<cc-map-tree-view ng-show="$ctrl._viewModel.searchPanelMode === 'treeView'"></cc-map-tree-view>
		</div>
	</div>
</md-card>
