<md-button class="md-raised" href="https://github.com/MaibornWolff/codecharta/blob/master/README.md" target="_blank">Manual</md-button>
<md-button class="md-raised" href="https://github.com/MaibornWolff/codecharta/issues/new" target="_blank">New Issue</md-button><br>
<md-button class="md-raised" href="https://github.com/MaibornWolff/codecharta/blob/master/CHANGELOG.md" target="_blank">Changelog</md-button>
<md-button class="md-raised" href="https://github.com/MaibornWolff/codecharta/" target="_blank">Github</md-button>