@if (node(); as currentNode) {
    <i class="close-icon fa fa-times" (click)="closeSideBar()"></i>
    @if (currentNode.link) {
        <div data-testid="file-link" class="node-name tooltip" [attr.data-tip]="currentNode.link">
            <a class="node-link" href="{{ currentNode.link }}" target="_blank" rel="noopener noreferrer">
                <h2>{{ currentNode.name }}&nbsp;</h2>
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    }
    <p class="node-origin">{{ fileName() | removeExtension }}</p>
    <cc-node-path [node]="currentNode"></cc-node-path>
}
