cc-attribute-side-bar-header-section {
	display: block;

	.close-icon,
	.node-link {
		color: grey;
		padding: 0;
		cursor: pointer;
		outline: none;
		transition: 0.2s;

		&:hover {
			color: #444444;
		}
	}

	.close-icon {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.node-name {
		width: 90%;
		cursor: pointer;

		.node-link {
			font-size: 11pt;

			h2 {
				color: black;
				display: inline;
			}
		}
	}

	.node-origin,
	.cc-node-path {
		color: grey;

		.file-path {
			word-wrap: break-word;
		}

		.cc-node-file-count {
			background: #f0f0f0;
			border-radius: 3px;
			padding: 1px 3px;
			color: black;

			.added-files {
				color: #64d051;
			}

			.removed-files {
				color: rgb(255, 14, 14);
			}

			.changed-files {
				color: rgb(14, 46, 255);
			}
		}
	}

	.node-name,
	.node-origin,
	.node-path {
		margin: 10px;
		word-break: break-all;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
}
