<ng-container *ngIf="node">
	<i class="close-icon fa fa-times" (click)="closeSideBar()"></i>

	<div *ngIf="node.link" data-testid="file-link" matTooltip="{{ node.link }}" [matTooltipShowDelay]="200" class="node-name">
		<a class="node-link" href="{{ node.link }}" target="_blank" rel="noopener noreferrer">
			<h2>{{ node.name }}&nbsp;</h2>
			<i class="fa fa-external-link"></i>
		</a>
	</div>

	<p class="node-origin">{{ fileName | removeExtension }}</p>

	<cc-node-path [node]="node" matTooltip="{{ node.path }}"></cc-node-path>
</ng-container>
