@use "variables";

:host {
    .cc-custom-config-note-dialog-container {
        padding: 20px 24px;

        .cc-note-input-container {
            padding: 0;

            .note-input {
                width: 100%;
            }
        }
        .cc-note-dialog-action-buttons {
            justify-content: flex-end;
            padding: 0;
        }

        button {
            padding: 12px;
            margin: 0 0 0 10px;
            color: variables.$cc-primary-color;
            background-color: variables.$cc-dialog-button-background-color;

            &:hover {
                background-color: variables.$cc-hovered-button-background-color;
                color: variables.$cc-primary-color;
            }
        }
    }
}
