@use "app/material/theme";

cc-custom-config-note-dialog {
    .custom-config-note-dialog-container {
        padding: 20px 24px;

        .note-input-container {
            padding: 0;

            .note-input {
                width: 100%;
            }
        }
        .note-dialog-action-buttons {
            justify-content: flex-end;
            padding: 0;
        }

        button {
            padding: 12px;
            margin: 0 0 0 10px;
            color: theme.$cc-primary-color;
            background-color: rgba(138, 132, 132, 0.08);

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                color: theme.$cc-primary-color;
            }
        }
    }
}
