@if (codeMapNode$ | async; as codeMapNode) {
    <div class="row">
        @for (markFolderItem of markFolderItems$ | async; track markFolderItem) {
            <button
                [style.background-color]="markFolderItem.color"
                (click)="markFolderItem.isMarked ? unmarkFolder(codeMapNode.path) : markFolder(codeMapNode.path, markFolderItem.color)"
                class="colorButton"
                title="Colorize folder"
            >
                @if (markFolderItem.isMarked) {
                    <i class="fa fa-times"></i>
                }
            </button>
        }
        <cc-color-picker
            [hexColor]="'#ff0000'"
            (onColorChange)="markFolder(codeMapNode.path, $event)"
            [triggerTemplate]="colorPickerTriggerTemplate"
        ></cc-color-picker>
    </div>
}

<ng-template #colorPickerTriggerTemplate>
    <div class="cc-color-picker-trigger fa fa-paint-brush"></div>
</ng-template>
