<mat-toolbar class="header" xmlns="http://www.w3.org/1999/html">
    <h2>Add Custom View</h2>
</mat-toolbar>

<mat-dialog-content>
    <p>
        <mat-form-field>
            <mat-label>Save individual configurations for your map.</mat-label>
            <input matInput class="cc-custom-config-input" [formControl]="customConfigName" required />
            <mat-hint>Config View Name</mat-hint>
            @if (customConfigName.invalid) {
                <mat-error>{{ getErrorMessage() }}</mat-error>
            }
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Provide custom note for configuration (optional)</mat-label>
            <textarea
                cdkAutosizeMinRows="8"
                cdkTextareaAutosize
                matInput
                class="cc-custom-config-input"
                [(ngModel)]="customConfigNote"
                required
            >
            </textarea>
            <mat-hint>Config Note</mat-hint>
        </mat-form-field>
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <cc-download-and-purge-configs></cc-download-and-purge-configs>

    <button mat-flat-button mat-dialog-close (click)="addCustomConfig()" [disabled]="customConfigName.invalid">ADD</button>
</mat-dialog-actions>
