<mat-toolbar class="header">
	<h2>Add Custom View</h2>
</mat-toolbar>

<mat-dialog-content>
	<div class="dialog-content">
		<mat-form-field>
			<label>View Name</label>
			<input matInput class="custom-config-input" [formControl]="customConfigName" required />
			<mat-error *ngIf="customConfigName.invalid">{{ getErrorMessage() }}</mat-error>
		</mat-form-field>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<span class="message-exceed-local-storage" *ngIf="localStorageSizeWarningMessage.length > 0">{{ localStorageSizeWarningMessage }}</span>
	<button
		mat-button
		class="exceed-local-storage-button"
		*ngIf="localStorageSizeWarningMessage.length > 0"
		(click)="showPurgeConfirmDialog()"
		title="Download old unused Custom Views as a backup file and then delete them in the browser."
	>
		DOWNLOAD & PURGE...
	</button>

	<button mat-button class="add-custom-config-button" (click)="addCustomConfig()" mat-dialog-close [disabled]="customConfigName.invalid">
		ADD
	</button>
</mat-dialog-actions>
