@use "../../../../../material/theme";

.cc-add-custom-config-dialog .mat-mdc-dialog-container {
	padding: 0;
	width: 500px;
	overflow: hidden;

	mat-toolbar {
		&.header {
			background-color: theme.$cc-primary-color;
			h2 {
				color: white;
			}
		}
	}

	.dialog-content {
		mat-form-field {
			width: 100%;

			&.custom-config-note {
				padding-top: 30px;
			}
		}

		label {
			color: rgba(0, 0, 0, 0.54);
			font-size: 13px;
		}

		input {
			margin-top: 12px;
		}
	}

	.mat-mdc-dialog-actions {
		margin: 0;
		padding: 0 8px;
		position: relative;

		cc-download-and-purge-configs {
			text-align: right;

			.exceed-local-storage-message {
				display: block;
				text-align: left;
				padding: 0 16px;
				color: #b02929;
			}
			.exceed-local-storage-button {
				margin-right: 89px;
			}
		}

		.mat-mdc-button {
			padding: 0 8px;
			margin: 8px 0 8px 8px;

			&.exceed-local-storage-button {
				color: #ffffff;
				background-color: #b02929;
			}

			&.add-custom-config-button {
				color: theme.$cc-primary-color;
				background-color: rgba(138, 132, 132, 0.08);
				position: absolute;
				right: 16px;
				bottom: 0;
			}

			&.add-custom-config-button[disabled] {
				color: grey;
			}
		}
	}
}
