cc-area-settings-panel {
	text-align: left;
	max-height: 300px;

	.options {
		display: flex;
		flex-direction: column;

		.margin-option {
			position: relative;

			cc-reset-settings-button {
				position: absolute;
				top: -20%;
				left: 20%;
			}
		}
	}
}
