<cc-slider
	title="Amount of space between buildings in percent"
	label="Margin"
	[value]="margin$ | async"
	[onChange]="applyDebouncedMargin"
	[min]="1"
	[max]="100"
></cc-slider>

<mat-checkbox (change)="setEnableFloorLabel($event)" [checked]="enableFloorLabels$ | async"> Enable Floor Labels </mat-checkbox>

<div class="bottom-row">
	<mat-checkbox
		class="default-margin"
		[checked]="dynamicMargin$ | async"
		(change)="setDynamicMargin($event)"
		title="Set margin to default (50px)."
	>
		Default margin (50px)
	</mat-checkbox>

	<cc-reset-settings-button
		[settingsKeys]="['appSettings.dynamicMargin']"
		tooltip="Reset area metric settings to their defaults"
	></cc-reset-settings-button>
</div>

<cc-invert-area-option></cc-invert-area-option>
