<button
	mat-button
	*ngIf="!codeMapNode?.isFlattened"
	(click)="flattenNode()"
	id="flatten-button"
	title="Flatten node and children-nodes, but keep an empty space"
>
	<img alt="flattenIcon" class="png-icon" src="../../../../assets/flatten.png" style="width: 17px; height: 17px" />
	Flatten
</button>
<button mat-button *ngIf="codeMapNode?.isFlattened" (click)="unFlattenNode()" title="Show node and children-nodes">
	<img alt="flattenIcon" class="png-icon" src="../../../../assets/flatten.png" style="width: 17px; height: 17px" />
	Show
</button>
