<div class="primary-metric-box">
	<div class="primary-metric-row">
		<i [class]="iconName"></i>
		<cc-attribute-type-selector
			*ngIf="showAttributeTypeSelector$ | async"
			class="attribute-type-select"
			[metricName]="metric.name"
			[metricType]="'nodes'"
		></cc-attribute-type-selector>
		<span class="primary-metric-value">{{ metric.value | number: "1.0-0" }}</span>
	</div>
	<cc-metric-delta-selected [metricName]="metric.name"></cc-metric-delta-selected>
	<span class="metric-name">{{ metric.name }}</span>
</div>
