map-tree-view-component {
	.tree-element-0 {
		margin-left: 3px;
	}

	.tree-root {
		overflow-y: hidden;
	}

	.tree-root div {
		margin: 0;
		padding: 0;
	}

	.tree-root .tree-element-children {
		margin-left: 22px;
	}

	.tree-element-label:hover,
	.tree-element-label.hovered {
		background-color: #efefef;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.no-outline:focus {
		outline: none;
	}

	.node-count {
		background: #eee;
		color: black;
		padding: 4px 8px !important;
		margin-right: 4px;
	}

	.node-count i {
		margin-left: 6px;
	}

	.box-rounded {
		display: inline-block;
		font-weight: normal;
		line-height: 17px;
		font-size: 10pt;
		margin-top: 2px;
		padding: 0 2px 0 2px;
		min-width: 20px;
		border-radius: 4px;
		text-align: center;
	}
}
