<div
	ng-if="!$ctrl.node.isExcluded"
	class="tree-element-{{::$ctrl.depth?$ctrl.depth:0}} {{::$ctrl.isLeaf()?'tree-leaf':'tree-parent'}}"
	ng-init="$ctrl.openRootFolderByDefault($ctrl.depth)"
	id="{{::$ctrl.depth?'':'tree-root'}}"
>
	<div
		class="tree-element-label-{{::$ctrl.depth?$ctrl.depth:0}} tree-element-label"
		ng-class="{ hovered: $ctrl._viewModel.isHoveredInCodeMap, marked: $ctrl._viewModel.isMarked }"
		ng-mouseenter="$ctrl.onMouseEnter()"
		ng-mouseleave="$ctrl.onMouseLeave()"
		ng-right-click="$ctrl.openNodeContextMenu($event)"
		ng-click="$ctrl.onClickNode()"
		id="{{ ::$ctrl.node.path }}"
	>
		<cc-map-tree-view-item-icon [node]="$ctrl.node" [is-folder-open]="$ctrl._viewModel.isFolderOpened"></cc-map-tree-view-item-icon>

		<span class="node-name" ng-class="{ flattened: $ctrl.node.isFlattened, 'angular-green': $ctrl.isSearched() }">
			{{::$ctrl.node.name}}
		</span>

		<span class="unary-number" ng-if="!$ctrl.isLeaf()">
			<span ng-if="!$ctrl._viewModel.isHoveredInCodeMap">{{ ::$ctrl.getUnaryPercentage() }}%</span>
			<span ng-if="$ctrl._viewModel.isHoveredInCodeMap">
				{{ ::$ctrl.getNodeUnaryValue() }} File<span ng-if="$ctrl.getNodeUnaryValue() !== 1">s</span>
			</span>
		</span>

		<cc-map-tree-view-item-option-buttons
			[is-flattened]="$ctrl.node.isFlattened"
			[is-hovered-in-code-map]="$ctrl._viewModel.ishoveredInCodeMap"
			[is-hovered-in-tree-view]="$ctrl._viewModel.isHoveredInTreeView"
			[open-node-context-menu]="$ctrl.openNodeContextMenu"
		></cc-map-tree-view-item-option-buttons>
	</div>

	<div class="tree-element-children tree-element-children-{{::$ctrl.depth?$ctrl.depth:0}}">
		<div ng-if="$ctrl._viewModel.isFolderOpened" ng-repeat="node in $ctrl.node.children">
			<map-tree-view-level-component node="::node" depth="::$ctrl.depth+1"></map-tree-view-level-component>
		</div>
	</div>
</div>
