<div
	ng-if="!$ctrl.node.isExcluded"
	class="tree-element-{{::$ctrl.depth?$ctrl.depth:0}} {{::$ctrl.isLeaf()?'tree-leaf':'tree-parent'}}"
	ng-init="$ctrl.openRootFolderByDefault($ctrl.depth)"
	id="{{::$ctrl.depth?'':'tree-root'}}"
>
	<div
		class="tree-element-label-{{::$ctrl.depth?$ctrl.depth:0}} tree-element-label"
		ng-class="{ hovered: $ctrl._viewModel.isHoveredInCodeMap, marked: $ctrl._viewModel.isMarked }"
		ng-mouseenter="$ctrl.onMouseEnter()"
		ng-mouseleave="$ctrl.onMouseLeave()"
		ng-right-click="$ctrl.openNodeContextMenu($event)"
		ng-click="$ctrl.onClickNode()"
		id="{{ ::$ctrl.node.path }}"
	>
		<cc-map-tree-view-level-item-icon
			[node]="$ctrl.node"
			[is-folder-open]="$ctrl._viewModel.isFolderOpened"
		></cc-map-tree-view-level-item-icon>

		<cc-map-tree-view-level-item-content [node]="$ctrl.node"></cc-map-tree-view-level-item-content>

		<span class="right-aligned" ng-if="$ctrl._viewModel.isHoveredInTreeView || $ctrl._viewModel.isHoveredInCodeMap">
			<i class="flattened fa fa-eye-slash" ng-if="$ctrl.node.isFlattened" title="Flattened"></i>

			<div class="small-action-button transparent">
				<md-button class="md-fab" ng-click="$ctrl.openNodeContextMenu($event)" title="Open Node-Context-Menu">
					<i class="fa fa-ellipsis-h"></i>
				</md-button>
			</div>
		</span>
	</div>

	<div class="tree-element-children tree-element-children-{{::$ctrl.depth?$ctrl.depth:0}}">
		<div ng-if="$ctrl._viewModel.isFolderOpened" ng-repeat="node in $ctrl.node.children">
			<map-tree-view-level-component node="::node" depth="::$ctrl.depth+1"></map-tree-view-level-component>
		</div>
	</div>
</div>
