<div
	*ngIf="!node.isExcluded"
	class="tree-element-{{ depth }} {{ (node | isLeaf) ? 'tree-leaf' : 'tree-parent' }}"
	id="{{ depth ? '' : 'tree-root' }}"
>
	<div
		class="tree-element-label-{{ depth }} tree-element-label"
		[ngClass]="{ hovered: node | isHoveredBuilding: (hoveredBuildingId$ | async), marked: isMarked }"
		(mouseenter)="onMouseEnter()"
		(mouseleave)="onMouseLeave()"
		(contextmenu)="openNodeContextMenu($event)"
		(click)="onClickNode()"
		id="{{ node.path }}"
	>
		<cc-map-tree-view-level-item-icon [node]="node" [isFolderOpen]="isFolderOpened"></cc-map-tree-view-level-item-icon>

		<cc-map-tree-view-level-item-content
			[node]="node"
			[openNodeContextMenu]="openNodeContextMenu"
		></cc-map-tree-view-level-item-content>
	</div>

	<div class="tree-element-children tree-element-children-{{ depth }}">
		<ng-container *ngIf="isFolderOpened"></ng-container>
		<div *ngFor="let node of node.children">
			<cc-map-tree-view-level [node]="node" [depth]="depth + 1"></cc-map-tree-view-level>
		</div>
	</div>
</div>
