<div class="{{$ctrl.depth?'':'tree-root'}} tree-element-{{$ctrl.depth?$ctrl.depth:0}} {{$ctrl.isLeaf()?'tree-leaf':'tree-parent'}}">

    <div class="tree-element-label-{{$ctrl.depth?$ctrl.depth:0}}">

        <span ng-click="$ctrl.onLabelClick()">
            <i ng-if="!$ctrl.isLeaf() && $ctrl.collapsed" class="fa fa-folder" aria-hidden="true"></i>
            <i ng-if="!$ctrl.isLeaf() && !$ctrl.collapsed" class="fa fa-folder-open" aria-hidden="true"></i>
            <i ng-if="$ctrl.isLeaf()" class="fa fa-file-o" aria-hidden="true"></i>
        </span>

        <span ng-click="$ctrl.onEyeClick()">
            <i ng-if="$ctrl.node.visible" class="fa fa-eye" aria-hidden="true"></i>
            <i ng-if="!$ctrl.node.visible" class="fa fa-eye-slash" aria-hidden="true"></i>
        </span>

        <span ng-click="$ctrl.onLabelClick()">
            {{$ctrl.node.name}}
        </span>

    </div>

    <div class="tree-element-children tree-element-children-{{$ctrl.depth?$ctrl.depth:0}}">

        <div ng-if="!$ctrl.collapsed"
             ng-repeat="node in $ctrl.node.children">
            <map-tree-view-level-component node="node" depth="$ctrl.depth+1"></map-tree-view-level-component>
        </div>

    </div>

</div>
