<div class="row">

    <div class="col s{{12-$ctrl.depth}} {{$ctrl.depth?'offset-s'+$ctrl.depth:''}} {{$ctrl.depth?'':'tree-root'}} tree-element-{{$ctrl.depth?$ctrl.depth:0}} {{$ctrl.isLeaf()?'tree-leaf':'tree-parent'}}">

        <div ng-click="$ctrl.onLabelClick()" class="row tree-element-label-{{$ctrl.depth?$ctrl.depth:0}}">

            <span class="col s12">
                <i ng-if="!$ctrl.isLeaf() && $ctrl.collapsed" class="fa fa-folder" aria-hidden="true"></i>
                <i ng-if="!$ctrl.isLeaf() && !$ctrl.collapsed" class="fa fa-folder-open" aria-hidden="true"></i>
                 {{$ctrl.node.name}}
            </span>

        </div>

        <div class="row tree-element-children-{{$ctrl.depth?$ctrl.depth:0}}">

            <div ng-if="!$ctrl.collapsed"
                 ng-repeat="node in $ctrl.node.children" class="col s12">
                <map-tree-view-level-component node="node" depth="$ctrl.depth+1"></map-tree-view-level-component>
            </div>

        </div>

    </div>

</div>