map-tree-view-component {
	.tree-element-0 {
		margin-left: 3px;
		margin-top: 10px;
	}

	.tree-root {
		overflow-y: auto;
		max-height: 400px;
	}

	.tree-root div {
		margin: 0;
		padding: 0;
	}

	.tree-root .tree-element-children {
		margin-left: 22px;
	}

	.tree-element-label:hover,
	.tree-element-label.hovered {
		background-color: #efefef;
	}

	.cursor-pointer {
		cursor: pointer;

		&.fontBold {
			font-weight: bold;
			color: black;
		}
	}
	.fontGray {
		font-weight: lighter;
		color: #a3a3a3;
	}

	.no-outline:focus {
		outline: none;
	}
}
