:host {
    text-align: right;
}

.exceed-local-storage-message {
    display: block;
    text-align: left;
    padding: 0 16px;
    color: var(--exceed-local-storage-message-text-color);
}

.exceed-local-storage-button {
    margin-right: 89px;
    color: var(--exceed-local-storage-button-text-color);
    background-color: var(--exceed-local-storage-button-background-color);
}
