:host {
    text-align: right;
}

.exceed-local-storage-message {
    display: block;
    text-align: left;
    padding: 0 16px;
    color: #b02929;
}

.exceed-local-storage-button {
    margin-right: 89px;
    color: #ffffff;
    background-color: #b02929;
}
