:host {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exceed-local-storage-message {
    display: block;
    text-align: left;
    padding: 0 16px;
    color: #b02929;
}

.exceed-local-storage-button {
    color: #ffffff;
    background-color: #b02929;

    &:hover {
        background-color: #8c1f1f;
    }
}
