<cc-loading-file-progress-spinner view="dependencies"></cc-loading-file-progress-spinner>

<cc-dependency-map></cc-dependency-map>

<cc-sidebar-explorer>
    <cc-explorer-search-bar collapsedContent class="flex-1 min-w-0"></cc-explorer-search-bar>
</cc-sidebar-explorer>

<cc-node-context-menu></cc-node-context-menu>

<cc-dependency-bar></cc-dependency-bar>

<cc-legend-drawer>
    <ng-template>
        <cc-dependency-edge-legend></cc-dependency-edge-legend>
    </ng-template>
</cc-legend-drawer>

<cc-bottom-bar></cc-bottom-bar>
