root = true

# The basic settings will be used by
# - prettier: https://github.com/prettier/prettier/issues/15255#issuecomment-1801339582
# EsLint will respect the prettier settings, but does not apply them. This is by design
# - to verify that the eslint rules do not interfere with the eslint setting use npm run lint:checkRules in visualization
#


[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140
quote_type = double
ij_typescript_use_double_quotes = true
ij_javascript_use_double_quotes = true

[*.md]
indent_size = 2

[*.json]
indent_size = 2

