root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = double

[*.ts]
indent_size = 4
indent_style = tab

[*.scss]
indent_size = 4
indent_style = tab

[*.html]
indent_size = 4
indent_style = tab

[*.kt]
indent_size = unset
quote_type = unset

[*.md]
indent_size = 4

[*.gradle]
indent_size = 4
