# Default behavior, in case someone does not have core.autocrlf set.
* text eol=lf

# Files that should be normalized and converted.
gradlew.bat text eol=crlf
*.md text
*.json text
*.ts
*.py
*.yaml
*.java
*.kt
*.txt
*.csv

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.icns binary
*.ico binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
