.idea
node_modules
install.js
build
plop-templates
dist
assets
public
__snapshots__
*.properties
Dockerfile
*.glsl
.*
*.sh
*.hbs
*.kt
*.txt
*.gradle
*.jar
*.jpg
*.png
*.bat
*.xml
*.svg
*.py
gradlew
test
Gemfile
Gemfile.lock
Pipfile
Pipfile.lock
_site
out
**/resources/fileStorage/**
**/binScripts/**
