.idea
node_modules
build
script
plop-templates
dist
assets
public
__snapshots__
*.properties
Dockerfile
*.glsl
.*
*.hbs
*.kt
*.txt
*.gradle
*.jar
*.jpg
*.png
*.bat
*.xml
gradlew
test
Gemfile
Gemfile.lock
Pipfile
Pipfile.lock
_site
out