file-setting-bar-component {
	$selectWidth: 300;

	.file-setting-bar {
		background-color: #f0f0f0;
		height: 35px;
		display: block;
		margin-block-end: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 1px solid #cdcdcd;
	}

	md-input-container {
		display: inline-block;
		text-align: left;
		margin: 0;
		font-size: 11pt;

		md-select {
			width: $selectWidth + px;
			display: block;
		}

		> * {
			display: inline-block;
		}

		i.fa {
			color: rgb(0, 150, 136);
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 3px;
			min-width: 16px;

			&:hover {
				color: black;
				cursor: pointer;
			}
		}
	}

	md-input-container.half {
		display: inline-block;
		md-select {
			width: (($selectWidth) / 2) + px;
		}
	}

	.file-button {
		margin: 5px;
		padding: 0;
		height: 24px;
		width: 24px;
		float: left;

		* {
			margin: 0;
			padding: 0;
		}

		.md-fab {
			position: relative;
			min-height: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			border-radius: 50%;

			i {
				position: absolute;
				top: 6px;
				left: 6px;
				color: white;

				&:hover {
					cursor: pointer;
					color: #eee;
				}
			}
		}
	}
}
