center-map-button-component {
	#centerMap {
		transition: opacity 0.3s linear;

		.md-fab {
			font-size: 14pt;

			i {
				top: 3px;
				left: 4px;
			}
		}
	}

	.visible {
		opacity: 1;
	}

	.invisible {
		opacity: 0;
	}
}
