cc-slider {
	width: 100%;

	.cc-slider-container {
		display: flex;
		flex-direction: column;
		.slider-with-input {
			display: flex;
			align-items: center;

			mat-slider {
				margin: 0px 12px;
				flex: 2;
			}
			mat-form-field {
				flex: 1;
				height: 32px;
				.mat-mdc-text-field-wrapper {
					padding: 0px 12px;
				}
				.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
					display: none;
				}
				.mat-mdc-form-field-flex {
					align-self: center;
				}
				.mat-mdc-form-field-infix {
					padding: 0;
					min-height: 28px;

					.mat-mdc-input-element {
						min-height: inherit;
					}
				}
			}
		}
	}
}
