cc-slider {
	width: 100%;

	.cc-slider-container {
		display: flex;
		flex-direction: column;
		.slider-with-input {
			display: flex;
			gap: 8px;

			mat-slider {
				margin: 0;
				flex: 2;
			}
			mat-form-field {
				flex: 1;
				height: 25px;
				.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
					display: none;
				}
				.mat-mdc-form-field-infix {
					padding: 0;
				}
			}
		}
	}
}
