cc-slider {
	width: 100%;

	.cc-slider-container {
		display: flex;

		mat-slider {
			flex: 1;
			margin-right: 8px;
		}

		mat-form-field {
			width: 50px;
			height: 48px;

			.mat-form-field-infix {
				border-top-width: 0;
				padding-top: 16px;
			}
		}
	}
}
