<div class="cc-slider-container">
    <mat-label class="label">{{ label }}</mat-label>
    <div class="slider-with-input">
        <mat-slider [disabled]="disabled" [step]="step" [min]="min" [max]="max">
            <input matSliderThumb [value]="value" (input)="handleInputOnChange($event)" />
        </mat-slider>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input
                matInput
                type="number"
                [value]="value"
                [disabled]="disabled"
                (input)="handleInputOnChange($event)"
                [min]="min"
                [max]="max"
            />
        </mat-form-field>
    </div>
</div>
