<div [style.visibility]="isInitialized ? 'visible' : 'hidden'">
	<cc-tool-bar></cc-tool-bar>

	<cc-file-extension-bar></cc-file-extension-bar>
	<cc-ribbon-bar></cc-ribbon-bar>

	<cc-code-map></cc-code-map>

	<cc-legend-panel></cc-legend-panel>

	<cc-loading-file-progress-spinner></cc-loading-file-progress-spinner>

	<div id="logos">
		<div class="logos-wrapper">
			<a href="https://github.com/MaibornWolff/codecharta" target="_blank" rel="noopener noreferrer">
				<img src="codeCharta/assets/codecharta_logo.svg" alt="CodeCharta" rel="noopener noreferrer"
			/></a>
			<a id="mw-logo" href="https://www.maibornwolff.de" target="_blank" rel="noopener noreferrer">
				<img src="codeCharta/assets/logo.png" alt="MaibornWolff" rel="noopener noreferrer"
			/></a>
		</div>
		<h2>
			<span>CodeCharta Version {{ version }}</span>
		</h2>
	</div>
</div>
