@import "../mixins";

code-charta-component {
  #title {

    position: fixed;
    z-index: 10;
    width: 100%;

    .logo {

      width: 160px;
      height: 100px;
      position: fixed;
      left: 0;
      top: 5px;
      z-index: -2;

      a, img {
        width: 5em;
        display: block;
        margin: auto !important;
      }

      h2 {
        text-transform: uppercase;
        color: #5A585A;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 9pt;
        text-align: center;
        margin: 0;
        z-index: -1;
      }
    }
  }

  #codeMap {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #actionButtons {
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 60;

    i.fa-folder-open {
      margin: 4px 0 0 2px;
    }

    i.fa-bars {
      margin-top: 4px;
    }

  }

  #actionButtons > * {
    margin-left: 4px;
    margin-right: 4px;
    z-index: 60;
  }

  md-sidenav {
    width: 600px;
    z-index: 50;

    .padding_bottom {
      padding-bottom: 100px;
    }
  }

  #loading-indicator {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    text-align: center;

    md-progress-circular {
      display: block;
      margin: 0 auto;
      margin-top: 22%;
    }

  }

  .dark_shadow_opacity {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
    opacity: 0.97;
  }
}
