@import "../mixins.scss";

code-charta-component {
	#mw-logo {
		.logo {
			width: 160px;
			height: 100px;
			position: absolute;
			left: 0;
			bottom: 30px;
			z-index: 29;
		}

		a,
		img {
			width: 5em;
			display: block;
			margin: auto !important;
		}

		h2 {
			text-transform: uppercase;
			color: #5a585a;
			font-family: Roboto, sans-serif;
			font-weight: 500;
			font-size: 9pt;
			text-align: center;
			margin: 0;
			z-index: -1;
		}
	}

	#codeMap {
		position: fixed;
		z-index: 0;
		top: 98px;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.cc-shadow {
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
	}

	.ribbon-bar-wrapper {
		height: 500px;
		position: fixed;
		z-index: 10;
		white-space: nowrap;
		pointer-events: none;
	}

	attribute-side-bar-component .side-bar-container,
	legend-panel-component .block-wrapper,
	legend-panel-component .panel-button,
	view-cube-component {
		transition: right 0.25s ease;
	}

	.angular-green {
		color: #00bfa5;
	}

	.small-action-button {
		height: 24px;
		width: 24px;
		display: inline-block;

		.md-fab {
			min-height: 0;
			width: 100%;
			height: 100%;
			margin: 0;

			i {
				position: absolute;
				top: 5px;
				left: 6px;
			}
		}

		&.transparent .md-fab {
			background-color: transparent !important;
			box-shadow: none;

			&:hover {
				background-color: #ddd !important;
			}
		}
	}

	.md-button.round-button {
		margin-right: 0 !important;
		float: right;
		min-width: 36px;
		width: 36px;
		border-radius: 50%;
		margin: 0;
	}

	.action-buttons {
		position: fixed;
		bottom: 2em;
		right: 2em;
		z-index: 60;

		.long-button {
			width: inherit;
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 100px;
		}

		> * {
			margin-left: 4px;
			margin-right: 4px;
			z-index: 60;
		}
	}

	.state-selector-button {
		height: 22px;
		vertical-align: bottom;
		width: 30px;
		min-height: 0;
		min-width: 0;
		margin: 0;
		padding: 0;
		font-size: 9pt;
		text-transform: none;
		background-color: rgba(230, 230, 230, 0.96);

		&:hover {
			background-color: rgb(200, 200, 200) !important;
		}

		i {
			vertical-align: middle;
			height: 26px;
		}

		&.left {
			border-radius: 5px 0 0 5px;
		}

		&.middle {
			border-radius: 0;
			border-left: 1px solid rgba(255, 255, 255, 1);
			border-right: 1px solid rgba(255, 255, 255, 1);
		}

		&.right {
			border-radius: 0 5px 5px 0;
		}

		&.current {
			background-color: rgb(0, 150, 136);
			color: #ffffff;
		}

		&.current:hover {
			background-color: rgb(0, 124, 112) !important;
		}
	}
}
