<md-card id="header">
    <div class="section">
        <div class="section-header">
            <a href="https://www.maibornwolff.de" target="_blank"><img src="assets/logo.png" alt="MaibornWolff"></a>
        </div>
        <div class="section-body">
            CodeCharta {{$ctrl.viewModel.version}}<br>
            Manual<br>
            Changelog<br>
            Contributing<br>
            Issues<br>
        </div>
    </div>
    <div class="section">
        <div class="section-header">
            <md-input-container class="md-block">
                <label>Area</label>
                <md-select ng-model="$ctrl.model">
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="section-body">
            Eine Güterlore, auch als Kipplore oder Lore bezeichnet, ist ein Schienentransportwagen, der vor allem zum
            Transport von Schüttgut wie zum Beispiel Sand und Abraum verwendet wird. Im Unterschied zum Grubenhunt
            besitzt sie meistens eine Kippmulde.
        </div>
    </div>
    <div class="section">
        <div class="section-header">
            <md-input-container class="md-block">
                <label>Area</label>
                <md-select ng-model="$ctrl.model">
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="section-body">
            Eine Güterlore, auch als Kipplore oder Lore bezeichnet, ist ein Schienentransportwagen, der vor allem zum
            Transport von Schüttgut wie zum Beispiel Sand und Abraum verwendet wird. Im Unterschied zum Grubenhunt
            besitzt sie meistens eine Kippmulde.
        </div>
    </div>
    <div class="section">
        <div class="section-header">
            <md-input-container class="md-block">
                <label>Area</label>
                <md-select ng-model="$ctrl.model">
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                    <md-option ng-value="A">A</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="section-body">
            Eine Güterlore, auch als Kipplore oder Lore bezeichnet, ist ein Schienentransportwagen, der vor allem zum
            Transport von Schüttgut wie zum Beispiel Sand und Abraum verwendet wird. Im Unterschied zum Grubenhunt
            besitzt sie meistens eine Kippmulde.
        </div>
    </div>
    <!--<horizontal-metric-chooser-component></horizontal-metric-chooser-component>
    <div class="logo">
        <a href="https://www.maibornwolff.de" target="_blank"><img src="assets/logo.png" alt="MaibornWolff"></a>
        <h2><span>CodeCharta {{$ctrl.viewModel.version}}</span></h2>
    </div>-->
</md-card>








