@import "../mixins.scss";

code-charta-component {
    $animationDuration: 0.5;

    #mw-logo {
        .logo {
            width: 160px;
            height: 100px;
            position: absolute;
            left: 0;
            bottom: 30px;
            z-index: 29;
        }

        a,
        img {
            width: 5em;
            display: block;
            margin: auto !important;
        }

        h2 {
            text-transform: uppercase;
            color: #5a585a;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 9pt;
            text-align: center;
            margin: 0;
            z-index: -1;
        }
    }

    #title {
        position: fixed;
        z-index: 2;
        width: 100%;
    }

    .small-info {
        color: rgba(0, 0, 0, 0.38);
        font-size: 9pt;
    }

    #codeMap {
        position: fixed;
        z-index: 0;
        top: 46px;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all $animationDuration + s ease;

        &.expanded {
            top: 195px;
            height: calc(100% - 170px);
        }
    }

    #actionButtons {
        position: fixed;
        bottom: 2em;
        right: 2em;
        z-index: 60;

        i.fa-folder-open {
            margin: 4px 0 0 2px;
        }

        .long-button {
            width: inherit;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 100px;
        }

        > * {
            margin-left: 4px;
            margin-right: 4px;
            z-index: 60;
        }
    }

    #loading-indicator {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        background-color: rgba(255, 255, 255, 0.8);
        display: block;
        text-align: center;

        md-progress-circular {
            display: block;
            margin: 0 auto;
            margin-top: 22%;
        }
    }

    .dark_shadow_opacity {
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) !important;
        opacity: 0.97;
    }

    .md-button.round-button {
        margin-right: 0 !important;
        float: right;
        min-width: 36px;
        width: 36px;
        border-radius: 50%;
    }

    ribbon-bar-component {
        position: fixed;
        z-index: 10;
        width: 100%;

        #header,
        #header .section .section-header,
        #header .section .section-body,
        #toggle-ribbon-bar-fab {
            transition: all $animationDuration + s ease;
        }
    }

    .angular-green {
        color: #00bfa5;
    }
}
