temporal-coupling-component {

    .layout-column {
        margin: 0 5px 0 5px !important;
    }

    .edge-pairingrate,
    .edge-avgcommits {
        margin: 0;
        line-height: 21px;
    }

    .edge-pairingrate {
        font-size: 11pt;
    }

    .edge-numbers {
        min-width: 35px !important;
    }

    md-list-item._md-button-wrap > div.md-button:first-child {
        padding: 0;
    }

    md-checkbox {
        margin-right: 0 !important;
    }

    md-checkbox.top-margin {
        margin-top: 13px !important;
    }

    .md-button {
        margin-left: 0;
        margin-right: 0;
        float: right;
    }

    .small-help {
        font-size: 10pt;
        cursor: pointer;
    }
}