<md-input-container class="md-block">
    <md-checkbox class="md-primary top-margin" ng-model="$ctrl.settingsService.settings.showDependencies" ng-change="$ctrl.settingsService.onSettingsChanged()">
        Show Connections
    </md-checkbox>
    <md-button class="md-raised" ng-click="$ctrl.onResetDependencies()">Reset Selection</md-button>

</md-input-container>


<md-divider></md-divider>

<md-list-item class="md-2-line"
              ng-repeat="couple in $ctrl.temporalCoupling | orderBy: 'averageRevs' : true"
              ng-click="$ctrl.onClickCouple(couple)"
              title="{{::couple.node}}&#013;&#013;{{::couple.dependantNode}}">

    <div class="md-icon dependency-numbers" layout="column">
        <p class="dependency-average-revs">{{::couple.averageRevs}}c</p>
        <p class="dependency-pairings-rate">{{::couple.pairingRate}}%</p>
    </div>
    <div class="md-list-item-text" layout="column">
        <h3>{{::couple.nodeFilename}}</h3>
        <h4>{{::couple.dependantNodeFilename}}</h4>
    </div>
    <md-checkbox class="md-primary" ng-checked="$ctrl.temporalCoupling[$ctrl.temporalCoupling.indexOf(couple)].visible" ng-click="$ctrl.onClickCouple(couple)"></md-checkbox>
    <md-divider></md-divider>
</md-list-item>
