temporal-coupling-component {

    height: 50px;

    .layout-column {
        margin: 0 5px 0 5px !important;
    }

    .dependency-percent {
        margin: 0;
    }

    md-list-item._md-button-wrap > div.md-button:first-child {
        padding: 0;
    }
}