:host {
    .side-bar-container {
        transition: right 0.3s ease;
        width: 350px;
        height: calc(100% - 98px); // canvas overflow (ribbonBar height)
        padding: 8px;
        font-size: 11pt;
        position: absolute;
        right: -355px;
        background: white;

        &.expanded {
            display: block;
            right: 0;
        }

        &.cc-shadow {
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }

        &:before {
            content: "";
            height: 100%;
            float: left;
        }
    }
}
