attribute-side-bar-component {
	md-sidenav {
		width: 500px;
		z-index: 50;

		.filename {
			margin: 5px 0 0 0;
		}

		.file-type {
			margin: 0;
			font-size: 11pt;
			color: grey;
		}

		.metrics-headline {
			margin: 0;
			font-size: 10pt;
			color: grey;
		}

		table.primary-metrics {
			tr {
				line-height: 20px;
			}

			.metric-value {
				font-size: 11pt;
			}

			.metric-name {
				font-size: 11pt;
				color: grey;
			}
		}

		table {
			width: 100%;
			table-layout: fixed;
			background: #f0f0f0;
			border-radius: 5px;
		}
	}
}
