<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
	<md-content layout-padding>
		<h2 class="headline">MyService.java</h2>
		<p class="sub-headline">codecharta.cc.json</p>

		<table class="primary-metrics">
			<tr>
				<td>
					<i class="fa fa-arrows-alt"></i>
					<span class="metric-value">{{ $ctrl._viewModel.attributes[$ctrl._viewModel.primaryMetrics.area] }}</span>
					<span class="metric-name">{{ $ctrl._viewModel.primaryMetrics.area }}</span>
				</td>
				<td>
					<i class="fa fa-arrows-v"></i>
					<span class="metric-value">{{ $ctrl._viewModel.attributes[$ctrl._viewModel.primaryMetrics.height] }}</span>
					<span class="metric-name">{{ $ctrl._viewModel.primaryMetrics.height }}</span>
				</td>
				<td>
					<i class="fa fa-paint-brush"></i>
					<span class="metric-value">{{ $ctrl._viewModel.attributes[$ctrl._viewModel.primaryMetrics.color] }}</span>
					<span class="metric-name">{{ $ctrl._viewModel.primaryMetrics.color }}</span>
				</td>
			</tr>
		</table>

		<p class="node-path">/root/de.maibornwolff.codecharta/path/MyService.java</p>

		<table class="secondary-metrics">
			<tr>
				<td>Attribute</td>
				<td>Value</td>
			</tr>
			<tr ng-repeat="attributeKey in $ctrl._viewModel.attributeKeys">
				<td>{{ attributeKey }}</td>
				<td>{{ $ctrl._viewModel.attributes[attributeKey] }}</td>
			</tr>
		</table>
	</md-content>
</md-sidenav>
