attribute-side-bar-component {
	.side-bar-container {
		width: 350px;
		height: calc(100% - 98px); // canvas overflow (ribbonBar height)
		padding: 8px;
		font-size: 11pt;
		position: absolute;
		right: -355px;
		background: white;

		&.expanded {
			right: 0;
		}

		&:before {
			content: "";
			height: 100%;
			float: left;
		}

		.side-bar-header {
			.close-icon,
			.node-link {
				color: grey;
				padding: 0;
				cursor: pointer;
				outline: none;
				transition: 0.2s;

				&:hover {
					color: #444444;
				}
			}

			.close-icon {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			.node-name {
				width: 90%;

				.node-link {
					font-size: 11pt;
				}
			}

			.node-origin,
			.node-path {
				color: grey;
			}

			.node-name,
			.node-origin,
			.node-path {
				margin: 10px;
				word-break: break-all;
				-webkit-user-select: text;
				-moz-user-select: text;
				-ms-user-select: text;
				user-select: text;
			}
		}

		.side-bar-body {
			position: relative;

			&:after {
				content: "";
				clear: both;
				display: block;
			}

			.metrics-wrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				padding-top: 12px;
			}
		}

		.metric-box {
			border-radius: 5px;
			background-color: #f0f0f0;
			padding: 5px;

			&.scrollable-content {
				max-height: 100%;
				overflow: auto;
			}

			table {
				&.primary-metrics {
					table-layout: fixed;
					width: 100%;
					border-collapse: collapse;

					tr:not(:last-child) td {
						border-bottom: 3px solid white;
					}

					td {
						padding: 5px;

						&:first-child {
							border-right: 3px solid white;
						}
					}

					i.fa {
						font-size: 12pt;
						min-width: 17px;
						text-align: center;
					}

					.metric-delta {
						margin-left: 3px;
					}

					.metric-name {
						margin: 5px 0 0 0;
					}
				}

				td {
					text-align: left;
					vertical-align: initial;
					margin: 0;
				}

				tr:not(:last-child) td {
					padding-bottom: 5px;
				}

				.metric-value,
				.metric-delta {
					border-radius: 3px;
					padding: 1px 3px;
				}

				.metric-value {
					background: #d5d5d5;
				}

				.metric-delta {
					&.green {
						background: #b1d8a8;
					}

					&.red {
						background: #ffcccc;
					}
				}

				.metric-name {
					color: grey;
					word-break: break-word;
				}
			}
		}
	}
}
