cc-attribute-side-bar {
	.side-bar-container {
		width: 350px;
		height: calc(100% - 98px); // canvas overflow (ribbonBar height)
		padding: 8px;
		font-size: 11pt;
		position: absolute;
		right: -355px;
		background: white;

		&.expanded {
			right: 0;
		}

		&:before {
			content: "";
			height: 100%;
			float: left;
		}

		.secondary-metrics-wrapper {
			position: relative;

			&:after {
				content: "";
				clear: both;
				display: block;
			}

			.metrics-wrapper {
				position: absolute;
				width: 100%;
				height: 100%;
				padding-top: 12px;
			}
		}

		.metric-box {
			border-radius: 5px;
			background-color: #f0f0f0;
			padding: 5px;

			&.scrollable-content {
				max-height: 100%;
				overflow: auto;
			}

			table {
				th {
					text-align: left;
				}

				&.primary-metrics {
					table-layout: fixed;
					width: 100%;
					border-collapse: collapse;

					tr:not(:last-child) td {
						border-bottom: 3px solid white;
					}

					td {
						padding: 5px;

						&:first-child {
							border-right: 3px solid white;
						}
					}

					i.fa {
						font-size: 12pt;
						min-width: 17px;
						text-align: center;
					}

					.metric-name {
						margin: 5px 0 0 0;
					}
				}

				&.secondary-metrics {
					td {
						padding-left: 5px;

						&:first-child {
							padding-left: 4px;
						}
					}
				}

				.primary-metric-box {
					display: flex;
					flex-direction: column;
					height: 100%;
					width: 100%;
				}

				.primary-metric-row,
				.secondary-metric-row {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 5px;
				}

				.primary-metric-value {
					margin-right: -5px;
				}

				.secondary-metric-row {
					flex-wrap: nowrap;
				}

				.secondary-metric-box {
					border-radius: 3px;
					padding: 4px 4px;
					vertical-align: middle;
					background: #d5d5d5;
				}

				.metric-name {
					color: grey;
					word-break: break-word;
					vertical-align: middle;
				}

				.delta-value-box {
					vertical-align: middle;
				}
			}
		}
	}
}
