attribute-side-bar-component {
	md-sidenav {
		width: 500px;
		margin-bottom: 98px; // canvas overflow (ribbonBar height)
		z-index: 50;
		font-size: 11pt;
		height: calc(100% - 98px);
		overflow: hidden;

		md-content {
			height: 100%;
		}

		.close-icon {
			position: absolute;
			top: 3px;
			right: 3px;
			color: grey;
			cursor: pointer;
			outline: none;
		}

		.node-name {
			margin: 10px 0 0 0;

			.node-link {
				color: grey;
				margin-left: 5px;
				font-size: 11pt;
			}
		}

		.node-origin {
			margin: 0;
			color: grey;
		}

		.node-path {
			overflow: hidden;
		}

		.metrics-headline {
			margin: 0;
			font-size: 10pt;
			color: grey;
		}

		table {
			width: 100%;
			background-color: #f0f0f0;
			border-radius: 5px;

			i.fa {
				font-size: 12pt;
			}

			.metric-value {
				text-align: right;
			}

			.metric-name {
				color: grey;
			}
		}

		.metrics-wrapper {
			border-radius: 5px;
			background-color: #f0f0f0;
			padding: 0;
			max-height: calc(100% - 265px);
			overflow: scroll;
		}
	}
}
