<div class="cc-range-slider-container">
	<mat-form-field>
		<input
			matInput
			type="number"
			[value]="currentLeftValue"
			(input)="this.handleCurrentLeftInputChanged($event)"
			[min]="minValue"
			[max]="upcomingRightValue"
		/>
	</mat-form-field>

	<div #rangeSliderContainer class="cc-range-slider-slider">
		<span [style.width.px]="sliderRangePosition.leftEnd" [style.border-bottom-color]="leftColor" class="cc-range-slider-bar"></span>
		<span
			[style.width.px]="sliderRangePosition.rightStart - sliderRangePosition.leftEnd"
			[style.border-bottom-color]="middleColor"
			class="cc-range-slider-bar"
		></span>
		<span
			[style.width.px]="sliderWidth - sliderRangePosition.rightStart"
			[style.border-bottom-color]="rightColor"
			class="cc-range-slider-bar"
		></span>

		<div
			#leftThumb
			class="cc-range-slider-slider-thumb"
			[style.left.px]="sliderRangePosition.leftEnd - thumbRadius"
			(mousedown)="setCurrentlySliding('leftThumb')"
		></div>
		<div
			#rightThumb
			class="cc-range-slider-slider-thumb"
			[style.left.px]="sliderRangePosition.rightStart - thumbRadius"
			(mousedown)="setCurrentlySliding('rightThumb')"
		></div>
		<cc-range-slider-labels
			[minValue]="minValue"
			[maxValue]="maxValue"
			[leftValueLabel]="upcomingLeftValue"
			[rightValueLabel]="upcomingRightValue"
			[sliderRangePosition]="sliderRangePosition"
			[sliderWidth]="sliderWidth"
		></cc-range-slider-labels>
	</div>

	<mat-form-field>
		<input
			matInput
			type="number"
			[value]="this.currentRightValue"
			(input)="this.handleCurrentRightInputChanged($event)"
			[min]="upcomingLeftValue"
			[max]="maxValue"
		/>
	</mat-form-field>
</div>
