tool-bar-component {
	.tool-bar {
		background-color: #f0f0f0;
		overflow: hidden;
		margin-block-end: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 0px;
		border-bottom: 1px solid #cdcdcd;
	}

	file-panel-component.hidden {
		display: none;
	}

	node-path-panel-component.hidden {
		display: none;
	}

	.small-action-button {
		&.download {
			margin-left: 0px;
		}
		margin: 5px;
	}

	.right-aligned {
		right: 10px;
		position: fixed;

		> * {
			float: left;
		}
	}

	loading-gif-map-component {
		margin-top: 5px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.presentation-mode-button {
		float: right;
		margin-top: 5px;
	}
}
