tool-bar-component {
	.tool-bar {
		display: block;
		background-color: #f0f0f0;
		height: 35px;
		border-bottom: 1px solid #cdcdcd;
	}

	.toolbar-button {
		min-width: 24px;
		min-height: 24px;
		border-radius: 100%;
		line-height: 50%;
		margin: 5px 5px 5px 0px;
		background-color: rgb(0, 150, 136);
		color: white;
		&:hover {
			background-color: rgb(0, 124, 112) !important;
		}
	}

	.small-action-button {
		margin: 5px;
	}

	.right-aligned {
		position: absolute;
		display: inline-block;
		right: 10px;
	}

	loading-gif-map-component {
		margin-top: 5px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.presentation-mode-button {
		float: right;
		margin-top: 5px;
	}
}

file-panel-component,
node-path-panel-component {
	&.hidden {
		display: none;
	}
}
