tool-bar-component {
	.tool-bar {
		display: flex;
		align-items: center;
		background-color: #f0f0f0;
		height: 35px;
		border-bottom: 1px solid #cdcdcd;
	}

	.toolbar-button {
		min-width: 24px;
		min-height: 24px;
		border-radius: 100%;
		padding: 5px;
		line-height: 0%;
		margin-right: 0;
		background-color: rgb(0, 150, 136);
		color: white;
		&:hover {
			background-color: rgb(0, 124, 112) !important;
		}
	}

	.md-focused {
		background-color: rgb(0, 150, 136) !important;
	}

	.right-aligned {
		position: absolute;
		right: 10px;
		display: inline-flex;
		align-items: center;
		width: 150px;
	}

	loading-gif-map-component {
		margin-right: 15px;
		width: 15px;
	}
}

file-panel-component,
node-path-panel-component {
	&.hidden {
		display: none;
	}
}
