tool-bar-component {
	.tool-bar {
		background-color: #f0f0f0;
		height: 35px;
		margin-block-end: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 0px;
		border-bottom: 1px solid #cdcdcd;
	}

	.tool-bar-button {
		margin: 5px;
		height: 24px;
		width: 24px;
		float: left;

		*,
		.md-fab:active {
			margin: 0;
			padding: 0;
		}

		.md-fab {
			position: relative;
			min-height: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			border-radius: 50%;

			i {
				position: absolute;
				top: 6px;
				left: 6px;
				color: white;

				&:hover {
					cursor: pointer;
					color: #eee;
				}
			}
		}

		&.download {
			margin-left: 0px;
		}

		&.global-settings {
			right: 20px;
			position: fixed;

			.md-fab i {
				top: 5px;
			}
		}
	}

	.presentation-mode-button {
		float: right;
		margin-top: 5px;
		margin-right: 15px;
	}
}
