@use "../../../material/theme";

tool-bar-component {
	.tool-bar {
		display: flex;
		align-items: center;
		background-color: #f0f0f0;
		height: 35px;
		border-bottom: 1px solid #cdcdcd;
	}

	cc-action-icon {
		margin-left: 8px;
	}

	.toolbar-button {
		min-width: 24px;
		min-height: 24px;
		border-radius: 100%;
		padding: 5px;
		line-height: 0%;
		margin-right: 0;
		background-color: rgb(0, 150, 136);
		color: white;
		font-size: 14px;

		&:hover {
			background-color: theme.$cc-emphasized-color !important;
		}

		.folder-icon {
			margin-right: -2px;
		}
	}

	.md-focused {
		background-color: rgb(0, 150, 136) !important;
	}

	.right-aligned {
		position: absolute;
		right: 4px;
		display: inline-flex;
		align-items: center;
		width: 400px;
		justify-content: space-between;
	}

	span {
		font-size: 10pt;
	}

	loading-gif-map-component {
		margin-right: 15px;
		width: 15px;
	}
}

file-panel-component {
	&.hidden {
		display: none;
	}
}
