<div class="tool-bar" ng-mouseup="$ctrl.onClick()">
	<file-chooser-directive></file-chooser-directive>
	<download-button-component ng-show="!$ctrl._viewModel.experimentalFeaturesEnabled"></download-button-component>
	<screenshot-button-component></screenshot-button-component>
	<cc-export-threed-map-button></cc-export-threed-map-button>

	<file-panel-component ng-class="{ hidden: $ctrl._viewModel.isNodeHovered }"></file-panel-component>
	<node-path-panel-component ng-class="{ hidden: !$ctrl._viewModel.isNodeHovered }"></node-path-panel-component>

	<div class="right-aligned">
		<loading-gif-map-component></loading-gif-map-component>
		<span>Presentation mode</span>
		<presentation-mode-button-component></presentation-mode-button-component>
		<span>Global Configuration</span>
		<global-settings-button-component></global-settings-button-component>
	</div>
</div>
