tool-bar-component {
	.tool-bar {
		display: block;
		background-color: #f0f0f0;
		height: 35px;
		margin-block-end: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 1px solid #cdcdcd;
	}

	.toolbar-button {
		min-width: 26px;
		min-height: 26px;
		border-radius: 50%;
		line-height: 0px;
		margin: 5px;
		background-color: rgb(0, 150, 136);
	}

	.small-action-button {
		margin: 5px;
	}

	.right-aligned {
		position: absolute;
		display: inline-block;
		right: 10px;
	}

	loading-gif-map-component {
		margin-top: 5px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.presentation-mode-button {
		float: right;
		margin-top: 5px;
	}
}

file-panel-component,
node-path-panel-component {
	&.hidden {
		display: none;
	}
}
