<div class="tool-bar">
	<file-chooser-directive></file-chooser-directive>
	<download-button-component></download-button-component>

	<file-panel-component ng-class="{ hidden: $ctrl._viewModel.isNodeHovered }"></file-panel-component>
	<node-path-panel-component ng-class="{ hidden: !$ctrl._viewModel.isNodeHovered }"></node-path-panel-component>

	<div class="right-aligned">
		<layout-selection-component></layout-selection-component>
		<loading-gif-map-component></loading-gif-map-component>
		<presentation-mode-button-component></presentation-mode-button-component>
		<global-settings-button-component></global-settings-button-component>
	</div>
</div>
