<p class="cc-node-path">
	<span *ngIf="node">
		{{ node.path }}
		<span *ngIf="node.children?.length && fileCountDescription$ | async as fileCountDescription" class="cc-node-file-count">
			({{ fileCountDescription.fileCount > 1 ? fileCountDescription.fileCount + " files" : fileCountDescription.fileCount + " file" }}
			<ng-container *ngIf="isDeltaMode$ | async">
				<span *ngIf="node.children?.length && fileCountDescription$ | async as fileCountDescription" class="cc-node-file-count">
					|
					<span class="added-files"> Δ{{ fileCountDescription.added }}</span>
					|
					<span class="removed-files"> Δ{{ fileCountDescription.removed }}</span>
				</span>
			</ng-container>
			)
		</span>
	</span>
</p>
