cc-artificial-intelligence {
	display: flex;
	justify-content: center;
	gap: 4px;

	.suspicious-metrics-badge {
		position: absolute;
		bottom: 10px;
		padding: 4px 6px;
		border-radius: 50%;
		background: red;
		color: white;
		font-size: 10px;
		line-height: 10px;
	}
}

.suspicious-metric-info-text {
	color: black;
	line-height: 1.5rem;
	padding-bottom: 0px;
}
.button-mat-dialog {
	border-radius: 12px;
	margin-top: 2px;
	background-color: lightgrey;
	border-bottom-color: black;
	font-size: 14px;
	font-weight: bold;
	width: 100px;
}

.mat-mdc-menu-panel.ai-drop-down {
	max-width: 50em;

	.mat-mdc-menu-content {
		padding: 0;
	}
	.title {
		padding-left: 10px;
		font-weight: bold;
	}

	.untracked-metrics-button {
		background-color: white;
		color: black;
		cursor: pointer;
		font-weight: bold;
		width: 100%;
		border: none;
		text-align: left;
		font-size: 16px;
		padding: 0 0 6px 0;
	}

	.untracked-metrics-icon {
		font-size: 18px;
		padding: 4px;
	}

	.suspicious-metric-title {
		font-size: 20px;
		font-weight: bold;
		padding-left: 10px;

		.suspicious-metric-info-button {
			font-size: 18px;
			position: relative;
			left: -12px;
		}
	}

	.suspicious-metric-info-text {
		margin-bottom: 8px;
		font-size: 40px;
		color: black;
		line-height: 1.5rem;
		padding-bottom: 0px;
	}

	.new-section {
		margin-top: 4px;
		margin-bottom: 8px;
	}

	ul {
		margin-block: 0;
		padding-bottom: 4px;
	}

	&.suspicious-metric-panel .suspicious-metric {
		&:not(:last-child) {
			margin-bottom: 8px;
			padding: 0 10px;
		}

		mat-button-toggle {
			height: 28px;
			background-color: rgba(230, 230, 230, 0.96);
			&:hover {
				background-color: #c8c8c8;
			}
		}

		.metric-button {
			border-radius: 5px;
			font-size: 12px;
		}

		.risk-button {
			border-radius: 5px;
			margin-left: 1px;
			font-size: 12px;
			color: #9c0e6a;
		}
	}
	.mat-button-toggle-group-appearance-standard {
		border: solid 0px;
	}

	.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
		padding: 0 12px;
		line-height: 2.5;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.high-risk-profile {
		.suspicious-metrics-summary {
			padding: 8px 0 16px 0;
		}

		.risk-profiles {
			display: flex;
			.risk-profile {
				height: 36px;
				text-align: center;
				justify-content: center;
				align-items: center;
				overflow: hidden;
			}

			.low-risk {
				background-color: #5cb34d;
			}

			.moderate-risk {
				background-color: #eef432;
			}

			.high-risk {
				background-color: #cc2900;
			}

			.very-high-risk {
				background-color: #9c0e6a;
			}
		}
	}
}
