@use "../../../../material/theme";
cc-artificial-intelligence {
    display: flex;
    justify-content: center;
    gap: 4px;

    .suspicious-metrics-badge {
        position: absolute;
        bottom: 10px;
        padding: 4px 6px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: 10px;
        line-height: 10px;
    }
}

.button-mat-dialog {
    border-radius: 12px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
}

.mat-mdc-menu-panel.ai-drop-down {
    max-width: 35em;
    padding: 10px;

    .mat-mdc-menu-content {
        padding: 0;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .title-container {
        border-bottom: 1px solid lightgray;
    }

    .sub-title {
        font-size: 16px;
    }

    .text-content {
        font-size: 14px;
        padding: 8px 0 16px 0;
    }
}
