:host {
    width: 100%;
    min-width: 400px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap;

    .bold {
        font-weight: 600;
    }

    i {
        margin: 0 4px;
    }
}
