cc-invert-area-option {
	.mat-checkbox-layout {
		padding-left: 4px;

		.mat-checkbox-inner-container {
			margin-right: 15px;
		}
	}

	.mat-checkbox-frame,
	.mat-checkbox-background,
	.mat-checkbox-anim-unchecked-checked .mat-checkbox-anim-checked-unchecked {
		transform: scale(1.1);
	}

	mat-checkbox.invertAreaCheckbox .mat-checkbox-checkmark-path {
		stroke: black !important;
	}
}
