<div class="metric-box" *ngIf="attributeDescriptors$ | async as attributeDescriptors">
	<table *ngIf="primaryMetrics$ | async; let primaryMetrics" class="primary-metrics" aria-hidden="true">
		<th scope="col">Primary Metrics</th>

		<tr>
			<td [title]="attributeDescriptors[primaryMetrics.area.name] | attributeDescriptorTooltip: primaryMetrics.area.name">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-arrows-alt'"
					[metric]="primaryMetrics.area"
					[metricLink]="attributeDescriptors[primaryMetrics.area.name]?.link"
				></cc-attribute-side-bar-primary-metric>
			</td>
			<td [title]="attributeDescriptors[primaryMetrics.height.name] | attributeDescriptorTooltip: primaryMetrics.height.name">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-arrows-v'"
					[metric]="primaryMetrics.height"
					[metricLink]="attributeDescriptors[primaryMetrics.height.name]?.link"
				></cc-attribute-side-bar-primary-metric>
			</td>
		</tr>
		<tr>
			<td [title]="attributeDescriptors[primaryMetrics.color.name] | attributeDescriptorTooltip: primaryMetrics.color.name">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-paint-brush'"
					[metric]="primaryMetrics.color"
					[metricLink]="attributeDescriptors[primaryMetrics.color.name]?.link"
				></cc-attribute-side-bar-primary-metric>
			</td>
			<ng-container *ngIf="primaryMetrics.edge as edge; else sidebarPrimaryMetricsEdgeElse">
				<td [title]="attributeDescriptors[edge.name] | attributeDescriptorTooltip: edge.name">
					<div class="primary-metric-box">
						<div class="primary-metric-row">
							<i class="fa fa-exchange"></i>
							<cc-attribute-type-selector
								*ngIf="showAttributeTypeSelector$ | async"
								class="attribute-type-select"
								[metricName]="edge.name"
								[metricType]="'edges'"
							></cc-attribute-type-selector>
							<span>
								{{ edge.incoming | number: "1.0-0" }}
								<span>/</span>
								{{ edge.outgoing | number: "1.0-0" }}
							</span>
						</div>
						<a
							class="metric-name"
							[href]="link"
							target="_blank"
							*ngIf="attributeDescriptors[edge.name]?.link as link; else primaryMetricNoLink"
						>
							{{ edge.name }} (in/out)
							<i class="fa fa-external-link"></i>
						</a>
						<ng-template #primaryMetricNoLink
							><span class="metric-name">{{ edge.name }} (in/out)</span></ng-template
						>
					</div>
				</td>
			</ng-container>
			<ng-template #sidebarPrimaryMetricsEdgeElse>
				<td>
					<span class="metric-name">No edge metric available</span>
				</td>
			</ng-template>
		</tr>
	</table>
</div>
