<div class="metric-box">
	<table *ngIf="primaryMetrics$ | async; let primaryMetrics" class="primary-metrics" aria-hidden="true">
		<th scope="col">Primary Metrics</th>

		<tr>
			<td [title]="primaryMetrics.area.descriptors | metricDescriptorTitle">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-arrows-alt'"
					[metric]="primaryMetrics.area"
				></cc-attribute-side-bar-primary-metric>
			</td>
			<td [title]="primaryMetrics.height.descriptors | metricDescriptorTitle">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-arrows-v'"
					[metric]="primaryMetrics.height"
				></cc-attribute-side-bar-primary-metric>
			</td>
		</tr>
		<tr>
			<td [title]="primaryMetrics.color.descriptors | metricDescriptorTitle">
				<cc-attribute-side-bar-primary-metric
					[iconName]="'fa fa-paint-brush'"
					[metric]="primaryMetrics.color"
				></cc-attribute-side-bar-primary-metric>
			</td>
			<ng-container *ngIf="primaryMetrics.edge as edge; else sidebarPrimaryMetricsEdgeElse">
				<td [title]="edge.descriptors | metricDescriptorTitle">
					<div class="primary-metric-box">
						<div class="primary-metric-row">
							<i class="fa fa-exchange"></i>
							<cc-attribute-type-selector
								*ngIf="showAttributeTypeSelector$ | async"
								class="attribute-type-select"
								[metricName]="edge.name"
								[metricType]="'edges'"
							></cc-attribute-type-selector>
							<span>
								{{ edge.incoming | number: "1.0-0" }}
								<span>/</span>
								{{ edge.outgoing | number: "1.0-0" }}
							</span>
						</div>
						<span class="metric-name">{{ edge.name }} (in/out)</span>
					</div>
				</td>
			</ng-container>
			<ng-template #sidebarPrimaryMetricsEdgeElse>
				<td>
					<span class="metric-name">No edge metric available</span>
				</td>
			</ng-template>
		</tr>
	</table>
</div>
