.scenario-component {
	.scenario-button {
		height: 22px;
		min-height: 0;
		line-height: 23px;
		min-width: 45px;
		margin: 0;
		padding: 0;
		font-size: 9pt;
		text-transform: none;
		background-color: rgba(230, 230, 230, 0.96);
	}
}

.scenario-drop-down {
	padding: 0;

	.scenario-item {
		display: flex;

		.action-button {
			display: inline-flex;
			width: 50px;
			min-width: 50px;
			justify-content: center;

			i.fa {
				color: white;
			}

			&:hover i.fa {
				color: black;
			}

			&.add {
				background-color: #00a091;
			}

			&.remove {
				background-color: #ffcccc;
			}
		}

		.scenario-name {
			display: inline-flex;
		}

		.content-icons {
			width: 5%;

			i.fa {
				display: inline-flex;
				justify-content: center;
				font-size: x-small;
				color: #d3d3d3;
				width: 10px;

				&.is-saved {
					color: black;
				}
			}
		}
	}
}
