@use "variables";

cc-download-custom-configs-button {
    button {
        padding: 0 16px;
        height: 48px;
        width: 100%;
        margin: 0;
        background-color: variables.$cc-primary-color;
        vertical-align: middle;

        &:disabled {
            background-color: rgba(230, 230, 230, 0.96);
        }

        i.fa {
            vertical-align: middle;
            font-size: 12px;
        }
    }
}
