ribbon-bar-component {
	$heightExpanded: 195;
	$heightCollapsed: 38;
	$border: 1px solid #cdcdcd;

	pointer-events: none;
	display: flex;

	search-panel-component {
		#search-panel-card.expanded {
			height: 100%;

			.section-body {
				min-height: ($heightExpanded - $heightCollapsed) + 5 + px;
				max-height: 500px;
				overflow-y: auto;
			}
		}
	}

	.metric-card {
		transition: background-color 100ms ease-in-out;

		&.expanded {
			background-color: antiquewhite;
		}
	}

	md-card {
		pointer-events: all;
		margin: 0;
		padding: 0;
		height: ($heightCollapsed + 8) + px;
		border-radius: 0;
		border-top: $border;
		float: left;
		position: relative;
		flex: 1 1 0;
		min-width: 92px;
		transition: 200ms width ease-in-out;

		.section {
			display: inline-block;
			height: 100%;
			border-right: $border;
			vertical-align: top;
			overflow: hidden;

			.section-header {
				height: 31px;
				color: #444444;
				overflow: hidden;
				padding: 5px;
			}

			.section-title {
				font-size: 8pt;
				display: block;
				width: 100%;
				color: gray;
				text-align: center;
				transition: background-color 0.4s;
				padding: 1px 0 1px 0;
				border-bottom: 1px solid transparent;

				&:hover {
					background-color: #e0e0e0;
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}

				&.no-hover {
					pointer-events: none;
				}

				i:before {
					content: "\f107";
				}
			}
		}

		&.expanded {
			.section-title {
				i:before {
					content: "\f106";
				}
			}

			.section-body {
				reset-settings-button-component .md-button {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}

	md-card,
	.section .section-header,
	.section .section-body,
	.section-body reset-settings-button-component .md-button {
		transition: height 0.1s ease;
	}

	md-input-container {
		padding: 0;
		margin: 0;
	}

	md-card.custom-configs-card {
		max-width: 120px;
		min-width: 120px;
	}

	md-card.scenario-card {
		max-width: 100px;
		min-width: 100px;
	}

	cc-map-color-picker .cc-map-color-picker-wrapper {
		margin-left: 9px;
	}
}
