ribbon-bar-component {

    $heightExpanded: 195;
    $heightCollapsed: 50;
    $sectionWidth: 275;
    $padding: 5;
    $animationDuration: 0.5;
    $opacityExpanded: 0.95;
    $border: 1px solid #cdcdcd;
    $border-thin: 0px dotted #cdcdcd;
    $subsection-bg: #efefef;
    $headerColor: #444;
    $headerSize: 1em;

    md-input-container {
        margin: 5px 0 0 0;
    }

    /* enlarge the input field next to a slider */
    md-slider-container md-input-container input[type="number"] {
        padding-left: 0;
    }

    md-checkbox {
        margin: 0;
    }

    md-button {
        margin: 0;
        padding: 0;
    }


    #toggle-ribbon-bar-fab {
        position: absolute;
        bottom: -2em;
        right: 2em;
        z-index: 999;
    }

    #toggle-ribbon-bar-fab.expanded {
        bottom: 1em;
    }

    #toggle-ribbon-bar-fab > i:before {

        content: "\f0ab";
    }

    #toggle-ribbon-bar-fab.expanded > i:before {
        content: "\f0aa";
    }

    #header {

        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        height: ($heightCollapsed + 8) + px;
        overflow: hidden;

        .section {
            display: inline-block;
            height:100%;
            width: auto;
            padding: $padding + px;
            border-right: $border;
            vertical-align: top;
            position: relative;

            .section-header {
                margin-bottom: ($padding * 3) + px;
                padding: 0;
                height: ($heightCollapsed - 2 * $padding) + px !important;
                line-height: ($heightCollapsed - 2 * $padding) + px;
                font-size: $headerSize;
                color: $headerColor;
                text-align: center;

                md-input-container {
                    margin-top: 0;
                }

            }

            .section-header.bordered {
                border-bottom: $border-thin;
                border-top: $border-thin;
                background-color: $subsection-bg;
            }

            .section-title {
                font-size: 8pt;
                display: block;
                position: absolute;
                bottom: 0;
                left: 40%;
            }

            .section-body {
                height: 0;
                overflow: hidden;
                border-top: $border;
                text-align: left;
                vertical-align: top;
            }

        }

        .section.small {
            width: 15%;
        }

    }

    #header.expanded {
        height: $heightExpanded + px;
        opacity: $opacityExpanded;

        .section {
            .section-header {
                margin-bottom: $padding + px;
            }
            .section-body {
                height: ($heightExpanded - $heightCollapsed) + px;
            }
        }
    }

    #header, #header *, #toggle-ribbon-bar-fab, #toggle-ribbon-bar-fab * {
        transition: all $animationDuration + s ease;
    }

}