<cc-search-panel></cc-search-panel>

<md-card class="scenario-card" ng-attr-id="scenario-card">
	<div class="section">
		<div class="section-header">
			<cc-scenarios></cc-scenarios>
		</div>
		<span class="section-title no-hover">Metric Templates</span>
	</div>
</md-card>

<md-card class="custom-configs-card" ng-show="$ctrl._viewModel.experimentalFeaturesEnabled" ng-attr-id="custom-configs-card">
	<div class="section">
		<div class="section-header">
			<cc-custom-configs></cc-custom-configs>
		</div>
		<span class="section-title no-hover">Custom Views</span>
	</div>
</md-card>
<md-card class="ai-card" ng-show="$ctrl._viewModel.experimentalFeaturesEnabled" ng-attr-id="ai-card">
	<div class="section">
		<div class="section-header">
			<artificial-intelligence-component></artificial-intelligence-component>
		</div>
		<span class="section-title no-hover">Suspicious Metrics</span>
	</div>
</md-card>

<md-card
	ng-attr-id="area-metric-card"
	class="area-metric-card metric-card"
	ng-class="{ expanded: $ctrl._viewModel.panelSelection === 'AREA_PANEL_OPEN' }"
>
	<div class="section">
		<div class="section-header">
			<cc-area-metric-chooser></cc-area-metric-chooser>
		</div>
		<span class="section-title" ng-click="$ctrl.updatePanelSelection('AREA_PANEL_OPEN')" title="Show area metric settings"
			>Area Metric Options <i class="fa fa-angle-down"></i
		></span>
	</div>
	<cc-area-settings-panel
		class="cc-metric-settings-panel"
		ng-class="{ hidden: $ctrl._viewModel.panelSelection !== 'AREA_PANEL_OPEN' }"
	></cc-area-settings-panel>
</md-card>

<md-card
	ng-attr-id="height-metric-card"
	class="height-metric-card metric-card"
	ng-class="{ expanded: $ctrl._viewModel.panelSelection === 'HEIGHT_PANEL_OPEN' }"
>
	<div class="section">
		<div class="section-header">
			<cc-height-metric-chooser></cc-height-metric-chooser>
		</div>
		<span class="section-title" ng-click="$ctrl.updatePanelSelection('HEIGHT_PANEL_OPEN')" title="Show height metric settings"
			>Height Metric Options <i class="fa fa-angle-down"></i
		></span>
	</div>
	<cc-height-settings-panel
		class="cc-metric-settings-panel"
		ng-class="{ hidden: $ctrl._viewModel.panelSelection !== 'HEIGHT_PANEL_OPEN' }"
	></cc-height-settings-panel>
</md-card>

<md-card
	ng-attr-id="color-metric-card"
	class="color-metric-card metric-card"
	ng-class="{ expanded: $ctrl._viewModel.panelSelection === 'COLOR_PANEL_OPEN' }"
	ng-show="!$ctrl._viewModel.isDeltaState"
>
	<div class="section">
		<div class="section-header">
			<cc-color-metric-chooser></cc-color-metric-chooser>
		</div>
		<span class="section-title" ng-click="$ctrl.updatePanelSelection('COLOR_PANEL_OPEN')" title="Show color metric settings"
			>Color Metric Options <i class="fa fa-angle-down"></i
		></span>
	</div>
	<cc-color-settings-panel
		class="cc-metric-settings-panel"
		ng-class="{ hidden: $ctrl._viewModel.panelSelection !== 'COLOR_PANEL_OPEN' }"
	></cc-color-settings-panel>
</md-card>

<md-card
	ng-attr-id="edge-metric-card"
	class="edge-metric-card metric-card"
	ng-class="{ expanded: $ctrl._viewModel.panelSelection === 'EDGE_PANEL_OPEN' }"
	ng-show="$ctrl._viewModel.hasEdgeMetric"
>
	<div class="section">
		<div class="section-header">
			<cc-edge-metric-chooser></cc-edge-metric-chooser>
		</div>
		<span class="section-title" ng-click="$ctrl.updatePanelSelection('EDGE_PANEL_OPEN')" title="Show edge metric settings">
			Edge Metric Options <i class="fa fa-angle-down"></i>
		</span>
		<cc-edge-settings-panel ng-class="{ hidden: $ctrl._viewModel.panelSelection !== 'EDGE_PANEL_OPEN' }"></cc-edge-settings-panel>
	</div>
</md-card>

<md-card ng-attr-id="color-settings-card" class="color-settings-card" ng-show="$ctrl._viewModel.isDeltaState">
	<div
		class="color-section"
		layout="row"
		layout-align="space-between center"
		ng-click="$ctrl.updatePanelSelection('COLOR_PANEL_OPEN')"
		title="Show color settings"
	>
		<span>
			<i class="fa fa-paint-brush color-icon"></i>
			Color Settings
		</span>
		<i class="fa fa-sort-down color-dropdown-icon"></i>
	</div>
	<cc-color-settings-panel
		class="cc-metric-settings-panel"
		ng-class="{ hidden: $ctrl._viewModel.panelSelection !== 'COLOR_PANEL_OPEN' }"
	></cc-color-settings-panel>
</md-card>
