:host {
    position: fixed;
    z-index: 10;

    width: 100%;

    display: flex;
    flex-wrap: nowrap;
}

cc-ribbon-bar-panel {
    flex: 0;

    &.ribbon-bar-panel-wide {
        flex-grow: 1;
    }
}

mat-card.color-height-metric-link {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    padding: 0;
    height: 46px;
    border-radius: 0;
    border-top: 1px solid #cdcdcd;
}

.cc-metric-settings-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    padding: 8px;
    width: 100%;
    background: white;
    border: 1px solid #b5b5b5;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    opacity: 1;
    font-size: 0.9em;
    transition: max-height 200ms ease-in-out;
}