ribbon-bar-component {
	$heightExpanded: 195;
	$heightCollapsed: 38;
	$sectionWidth: 275;
	$padding: 5;
	$animationDuration: 0.5;
	$border: 1px solid #cdcdcd;
	$border-thin: 0 dotted #cdcdcd;
	$subsection-bg: #efefef;
	$headerColor: #444;
	$headerSize: 1em;
	$bodySize: 0.9em;
	$toggleButtonSize: 35;

	pointer-events: none;
	display: flex;

	search-panel-component #search-panel.expanded {
		height: auto;
		max-height: 500px;

		.section-body {
			height: auto;
			min-height: ($heightExpanded - $heightCollapsed) + 5 + px;
		}
	}

	md-card {
		pointer-events: all;
		margin: 0;
		padding: 0;
		height: ($heightCollapsed + 8) + px;
		font-size: 0;
		border-radius: 0;
		border-top: $border;
		float: left;

		&.search {
			width: 380px;
		}

		.section {
			display: inline-block;
			height: 100%;
			width: auto;
			padding-top: $padding + px;
			border-right: $border;
			vertical-align: top;
			position: relative;
			font-size: 12pt;
			flex-grow: 100;

			&.loading-gif {
				border-right: none;
			}

			md-input-container,
			md-button {
				margin: 0;
				padding: 0;
			}

			.section-header {
				margin-bottom: ($padding * 2) + px;
				padding: 0;
				height: ($heightCollapsed - 5) + px !important;
				font-size: $headerSize;
				color: $headerColor;
				text-align: center;
				overflow: hidden;
				padding-right: $padding + px;
				padding-left: $padding + px;

				&.bordered {
					border-bottom: $border-thin;
					border-top: $border-thin;
					background-color: $subsection-bg;
				}

				&.space {
					width: 2000px;
				}
			}

			.section-title {
				font-size: 8pt;
				display: block;
				position: absolute;
				bottom: 0;
				width: 100%;
				color: gray;
				text-align: center;
				transition: background-color 0.4s;
				padding: 1px 0 2px 0;

				.first {
					padding-left: 8px;
				}

				.second {
					padding-left: 85px;
				}

				&:hover,
				&.toggle-hovered {
					background-color: #e0e0e0;
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}

				&.no-hover {
					pointer-events: none;
				}
			}

			.section-body {
				margin-top: 0;
				height: 0;
				padding-top: $padding + px;
				padding-right: $padding + px;
				padding-left: 2 * $padding + px;
				overflow: hidden;
				border-top: 1px solid transparent;
				font-size: $bodySize;
				text-align: left;
				vertical-align: top;

				reset-settings-button-component .md-button {
					top: 0;
					right: -5px;
					opacity: 0;
					height: 0;
					pointer-events: none;
				}

				md-checkbox .md-label {
					margin-left: 25px;
				}
			}
		}

		&.expanded {
			height: $heightExpanded + px;

			.section {
				.section-header {
					margin-bottom: 0;
					height: ($heightCollapsed - 10) + px !important;
				}
				.section-body {
					padding-top: 15px;
					padding-bottom: 15px;
					height: ($heightExpanded - $heightCollapsed) + px;
					border-top: $border;

					reset-settings-button-component .md-button {
						top: ($heightExpanded - 45) + px;
						opacity: 1;
						height: 20px;
						transition: all 0.5s ease;
						pointer-events: all;
					}
				}
			}
		}
	}
}
