ribbon-bar-component {
	$heightExpanded: 185;
	$heightCollapsed: 38;
	$border: 1px solid #cdcdcd;

	pointer-events: none;
	display: flex;

	search-panel-component #search-panel.expanded {
		height: auto;
		max-height: 500px;

		.section-body {
			height: auto;
			min-height: ($heightExpanded - $heightCollapsed) + 5 + px;
		}
	}

	md-card {
		pointer-events: all;
		margin: 0;
		padding: 0;
		height: ($heightCollapsed + 8) + px;
		border-radius: 0;
		border-top: $border;
		float: left;
		position: relative;
		overflow: hidden;

		&.search {
			width: 380px;
		}

		&:not(#scenario-card) {
			min-width: 240px;
		}

		.section {
			display: inline-block;
			height: 100%;
			border-right: $border;
			vertical-align: top;
			flex-grow: 100;

			.section-header {
				padding: 0;
				height: 31px;
				color: #444444;
				overflow: hidden;
				padding: 5px;

				&.space {
					width: 10000px;
				}
			}

			.section-title {
				font-size: 8pt;
				display: block;
				width: 100%;
				color: gray;
				text-align: center;
				transition: background-color 0.4s;
				padding: 1px 0 1px 0;
				border-bottom: 1px solid transparent;

				&:hover {
					background-color: #e0e0e0;
					cursor: pointer;
				}

				&:focus {
					outline: none;
				}

				&.no-hover {
					pointer-events: none;
				}

				i:before {
					content: "\f107";
				}
			}

			.section-body {
				margin: 5px 5px 5px 5px;
				overflow: visible;
				font-size: 0.9em;
				text-align: left;
				vertical-align: top;

				md-slider-container {
					position: relative;
					padding-left: 2px;

					span {
						position: absolute;
						top: 0;
						font-size: 10pt;
						color: grey;
						left: 5px;
					}
				}

				md-input-container:not(#colorSliderContainer) > input {
					height: 30px;
					margin-top: -17px;
				}

				md-checkbox {
					font-size: 10pt;
					margin-left: 5px;
				}

				reset-settings-button-component .md-button {
					top: 0;
					right: -5px;
					opacity: 0;
					height: 0;
					pointer-events: none;
				}
			}
		}

		&.expanded {
			height: $heightExpanded + px;

			.section-title {
				border-bottom: $border;

				i:before {
					content: "\f106";
				}
			}

			.section-body {
				reset-settings-button-component .md-button {
					top: ($heightExpanded - 45) + px;
					opacity: 1;
					height: 20px;
					pointer-events: all;
				}
			}
		}
	}

	md-card,
	.section .section-header,
	.section .section-body,
	.section-body reset-settings-button-component .md-button {
		transition: all 0.3s ease;
	}
}
