<i class="fa fa-exchange"></i>

<cc-metric-chooser
	*ngIf="edgeMetric$ | async; let edgeMetric"
	[class.is-edge-metric-disabled]="!(isEdgeMetricVisible$ | async)"
	[selectedMetricName]="edgeMetric"
	[searchPlaceholder]="'Edge Metric (highest value)'"
	[handleMetricChanged]="handleEdgeMetricChanged"
	[type]="'edge'"
	title="Change edge metric"
>
	<div hoveredInformation class="cc-metric-chooser-container">
		<div class="metric-value" *ngIf="edgeValue$ | async; let edgeValue">
			<div class="rounded-box">
				<cc-metric-chooser-type [attributeType]="'edges'" [metricFor]="'edgeMetric'"></cc-metric-chooser-type>
				{{ edgeValue }}
			</div>
		</div>
	</div>
</cc-metric-chooser>
