color-settings-panel-component {
	background: white;
	border: 1px solid #b5b5b5;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
	padding: 6px;
	position: absolute;
	overflow: hidden;
	font-size: 0.9em;
	text-align: left;
	max-height: 300px;
	overflow: hidden;
	opacity: 1;
	width: 262px;
	transition: opacity 0ms, max-height 200ms ease-in-out;

	top: 45px;
	right: 0;

	range-slider-component {
		margin-top: 4px;
		margin-left: 3px;
	}

	.wrapper {
		margin-left: 3px;
	}

	.spacer .cc-store-color-picker-wrapper {
		margin-bottom: 12px;
	}

	cc-store-color-picker p.cc-store-color-picker-label {
		margin-left: 12px;
	}

	.bottom-row {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

color-settings-panel-component.hidden {
	max-height: 0;
	opacity: 0;
	transition: max-height 200ms ease-in-out, opacity 0ms 200ms;
}
