<range-slider-component></range-slider-component>

<md-input-container class="md-block" ng-if="$ctrl._settingsService_.settings.mode != $ctrl._deltaMode">
    <md-checkbox class="md-primary" ng-model="$ctrl._settingsService_.settings.neutralColorRange.flipped" ng-change="$ctrl._settingsService_.applySettings()">
        Invert Colors
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block" ng-if="$ctrl.settingsService.settings.mode == $ctrl._deltaMode" >
    <md-checkbox class="md-primary" ng-model="$ctrl._settingsService_.settings.deltaColorFlipped" ng-change="$ctrl._settingsService_.applySettings()">
        Invert Colors
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block">
    <md-checkbox class="md-primary" ng-model="$ctrl._settingsService_.settings.whiteColorBuildings" ng-change="$ctrl._settingsService_.applySettings()">
        White Positive Buildings
    </md-checkbox>
</md-input-container>