cc-attribute-type-selector {
	.mat-button-toggle-group {
		height: 18px;
		align-items: center;
		justify-content: space-evenly;
	}

	.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
		padding: 0 7px 0 7px;
	}

	.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
	.mat-button-toggle-group-appearance-standard {
		border: 0.1px solid darkgrey;
	}
}
