cc-attribute-type-selector {
	.mat-button-toggle-group {
		height: 18px;
		width: 50px;
		align-items: center;
		justify-content: space-evenly;
	}
	.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
		padding: 0 3px 0 3px;
	}

	.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
	.mat-button-toggle-group-appearance-standard {
		border: none;
	}

	display: inline-block;
	background-color: white;
	border-radius: 12px;

	.menu-button {
		height: 24px;
		width: 24px;
		min-width: 0;
		padding: 0;
		border-radius: 12px;
		vertical-align: top;
		transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

		&:hover {
			background-color: #c8c8c8;
		}

		.symbol {
			position: absolute;
			top: -5px;
			left: 8px;
		}
	}
}
