<div
	class="block-wrapper cc-shadow"
	ng-class="{ visible: $ctrl._viewModel.isLegendVisible, sideBarVisible: $ctrl._viewModel.isSideBarVisible }"
>
	<div ng-if="!$ctrl._viewModel.isDeltaState">
		<div class="legend-block">
			<img id="positive" alt="positive color" />
			<span ng-if="!$ctrl._viewModel.invertColorRange">0 to &lt; {{ $ctrl._viewModel.colorRange.from | number: 0 }}</span>
			<span ng-if="$ctrl._viewModel.invertColorRange">&gt; {{ $ctrl._viewModel.colorRange.to | number: 0 }} to Infinite</span>
		</div>
		<div class="legend-block">
			<img id="neutral" alt="neutral color" />
			&ge; {{ $ctrl._viewModel.colorRange.from | number: 0 }} to &le; {{ $ctrl._viewModel.colorRange.to | number: 0 }}
		</div>
		<div class="legend-block">
			<img id="negative" alt="negative color" />
			<span ng-if="!$ctrl._viewModel.invertColorRange">&gt; {{ $ctrl._viewModel.colorRange.to | number: 0 }} to Infinite</span>
			<span ng-if="$ctrl._viewModel.invertColorRange">0 to &lt; {{ $ctrl._viewModel.colorRange.from | number: 0 }}</span>
		</div>
	</div>

	<div ng-if="$ctrl._viewModel.isDeltaState">
		<div class="legend-block">
			<img id="positiveDelta" alt="positive delta color" />
			+&Delta;
		</div>
		<div class="legend-block">
			<img id="negativeDelta" alt="negative delta color" />
			-&Delta;
		</div>
	</div>

	<div class="legend-block">
		<img id="selected" alt="selected color" />
		selected
	</div>
	<hr />
	<div class="legend-block">
		<img id="outgoingEdge" alt="outgoing edge color" />
		Outgoing Edge
	</div>

	<div class="legend-block">
		<img id="incomingEdge" alt="incoming edge color" />
		Incoming Edge
	</div>

	<hr ng-show="$ctrl._viewModel.packageLists[0]" />
	<div class="legend-block" ng-show="$ctrl._viewModel.packageLists" ng-repeat="packageList in $ctrl._viewModel.packageLists">
		<img ng-src="{{::packageList.colorPixel}}" />
		<span class="{{ $first ? '' : 'set-left-margin' }}" ng-repeat="item in packageList.markedPackages" title="{{::item.path}}">
			{{::item.attributes.name}}{{ $last ? "" : ",&nbsp;" }}
		</span>
	</div>
</div>
<md-button
	class="panel-button md-raised md-primary cc-shadow"
	ng-click="$ctrl.toggle()"
	ng-class="{ sideBarVisible: $ctrl._viewModel.isSideBarVisible }"
	>Legend</md-button
>
