<div id="legendButton">
    <a class="waves-effect waves-light btn ">legend</a>
</div>

<div id="legendPanel">
    <div class="legendInfo">
        <i class='fa fa-arrows-alt'></i><span>Area:{{$ctrl.operation}} {{$ctrl.areaMetric}}</span><br/>
        <i class='fa fa-arrows-v'></i><span>Height:{{$ctrl.operation}} {{$ctrl.heightMetric}}</span><br/>
        <i class='fa fa-paint-brush'></i><span>Color:{{$ctrl.operation}} {{$ctrl.colorMetric}}</span>
    </div>
    <div class="chip">
        <img id="green" alt="green color">
        <span ng-if="!$ctrl.range.flipped">0 to &lt; {{$ctrl.range.from}}</span>
        <span ng-if="$ctrl.range.flipped">&gt; {{$ctrl.range.to}} to Infinite</span>
    </div>
    </br>
    <div class="chip">
        <img id="yellow" alt="yellow color">
        &ge; {{$ctrl.range.from}} to &le; {{$ctrl.range.to}}
    </div>
    </br>
    <div class="chip">
        <img id="red" alt="red color">
        <span ng-if="!$ctrl.range.flipped">&gt; {{$ctrl.range.to}} to Infinite</span>
        <span ng-if="$ctrl.range.flipped">0 to &lt; {{$ctrl.range.from}}</span>
    </div>
    <br />
    <div class="chip">
        <img id="select" alt="selected color">
        selected
    </div>
    <div class="chip" ng-if="$ctrl.deltas">
        <img id="positiveDelta" alt="positive delta color">
        +&Delta;
    </div>
    <div class="chip" ng-if="$ctrl.deltas">
        <img id="negativeDelta" alt="negative delta color">
        -&Delta;
    </div>
</div>
