<div class="block-wrapper dark_shadow_opacity">
    <div class="legend-block" ng-show="!$ctrl.deltas">
        <img id="green" alt="green color">
        <span ng-if="!$ctrl.range.flipped">0 to &lt; {{$ctrl.range.from}}</span>
        <span ng-if="$ctrl.range.flipped">&gt; {{$ctrl.range.to}} to Infinite</span>
    </div>
    <div class="legend-block" ng-show="!$ctrl.deltas">
        <img id="yellow" alt="yellow color">
        &ge; {{$ctrl.range.from}} to &le; {{$ctrl.range.to}}
    </div>
    <div class="legend-block" ng-show="!$ctrl.deltas">
        <img id="red" alt="red color">
        <span ng-if="!$ctrl.range.flipped">&gt; {{$ctrl.range.to}} to Infinite</span>
        <span ng-if="$ctrl.range.flipped">0 to &lt; {{$ctrl.range.from}}</span>
    </div>
    <div class="legend-block">
        <img id="select" alt="selected color">
        selected
    </div>
    <div class="legend-block" ng-show="$ctrl.deltas">
        <img id="positiveDelta" alt="positive delta color">
        +&Delta;
    </div>
    <div class="legend-block" ng-show="$ctrl.deltas">
        <img id="negativeDelta" alt="negative delta color">
        -&Delta;
    </div>
    <hr ng-show="$ctrl.markingPackages[0]">
    <div class="legend-block" ng-show="$ctrl.markingPackages" ng-repeat="markingPackage in $ctrl.markingPackages">
        <img ng-src="{{::markingPackage.markingColor}}">
        <span class="{{$first ? '' : 'set-left-margin'}}" ng-repeat="item in markingPackage.packageItem" title="{{::item.path}}">
            {{::item.name}}{{$last ? '' : ',&nbsp;'}}
        </span>
    </div>
</div>
<md-button class="panel-button md-raised md-primary dark_shadow_opacity" ng-click="$ctrl.toggle()">Legend</md-button>

