@use "variables";

$fixedHeight: 35;
:host {
    .rotated-button {
        position: fixed;
        transform: rotate(90deg);
        border-radius: 0 0 5px 5px;
        height: 36px;
        right: -35px;
        color: white;
        user-select: none;
        background-color: variables.$cc-primary-color;

        &:hover {
            background-color: variables.$cc-emphasized-color;
        }

        &.isAttributeSideBarVisible {
            right: 316px;
        }
    }

    .panel-button {
        @extend .rotated-button;
        margin: 6px 8px;
        bottom: ($fixedHeight + 20) + px;
        width: 88px;
        font-size: 10pt;
        transition: right 0.3s ease;
    }

    .block-wrapper {
        background-color: white;
        border: 1px solid #cdcdcd;
        position: fixed;
        bottom: $fixedHeight + px;
        padding: 10px;
        right: 40px;
        visibility: hidden;
        border-radius: 5px;
        min-width: 200px;
        max-width: 30%;
        transition: right 0.3s ease;

        &.isAttributeSideBarVisible {
            right: 390px;
        }

        &.visible {
            visibility: visible;
        }

        hr {
            border-right-style: none;
            border-left-style: none;
            border-bottom-style: none;
            color: #000;
        }
    }
}
