legend-panel-component {
	$fixedHeight: 35;

	.panel-button {
		position: fixed;
		bottom: ($fixedHeight + 20) + px;
		right: -35px;
		transform: rotate(90deg);
		z-index: 2;

		&.expanded {
			right: 316px;
		}
	}

	.block-wrapper {
		position: fixed;
		z-index: 29;
		bottom: $fixedHeight + px;
		background-color: #fff;
		padding: 10px;
		right: 40px;
		visibility: hidden;

		&.expanded {
			right: 390px;
		}

		&.visible {
			visibility: visible;
		}

		hr {
			border-right-style: none;
			border-left-style: none;
			border-bottom-style: none;
			color: #000;
		}

		.legend-block {
			display: block;
			min-height: 25px;
			margin-bottom: 5px;
			max-width: 250px;

			i,
			img {
				display: inline-block;
				width: 14px;
			}

			i {
				margin-right: 4px;
			}

			img {
				padding-top: 3px;
				height: 17px;
			}

			span {
				display: inline-block;
			}

			.set-left-margin {
				margin-left: 18px;
			}
		}
	}
}
