cc-legend-panel {
	$fixedHeight: 35;

	.panel-button {
		position: fixed;
		bottom: ($fixedHeight + 20) + px;
		right: -35px;
		transform: rotate(90deg);
		border-radius: 0 0 5px 5px;
		height: 36px;
		width: 88px;
		margin: 6px 8px;

		&.isAttributeSideBarVisible {
			right: 316px;
		}
	}

	.block-wrapper {
		background-color: white;
		border: 1px solid #cdcdcd;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
		position: fixed;
		bottom: $fixedHeight + px;
		padding: 10px;
		right: 40px;
		visibility: hidden;
		border-radius: 5px;

		&.isAttributeSideBarVisible {
			right: 390px;
		}

		&.visible {
			visibility: visible;
		}

		hr {
			border-right-style: none;
			border-left-style: none;
			border-bottom-style: none;
			color: #000;
		}

		.legend-block {
			display: block;
			min-height: 25px;
			max-width: 350px;
			overflow: hidden;

			i,
			img {
				display: inline-block;
				width: 14px;
			}

			i {
				margin-right: 4px;
			}

			img {
				padding-top: 3px;
				height: 17px;
			}

			span {
				display: inline-block;
			}

			.set-left-margin {
				margin-left: 18px;
			}

			.marked-package {
				overflow: hidden;
				vertical-align: middle;
				direction: rtl;
				text-overflow: ellipsis;
				max-width: 220px;
				white-space: nowrap;
				margin-top: -2px;
			}
		}
		.bold {
			font-weight: 600;
		}

		color-picker .color-picker-panel {
			/* prevent panel to be below browser bottom */
			bottom: -50px;
		}
	}
}
