cc-ribbon-bar-button button {
	height: 22px;
	line-height: 22px;
	min-width: 45px;
	margin: 0;
	padding: 0;
	font-size: 9pt;
	background-color: rgba(230, 230, 230, 0.96);

	&:hover {
		background-color: #c8c8c8;
	}

	i {
		color: rgb(68, 68, 68);
	}
}
