<div class="flex items-center gap-1 px-2 py-1">
    <label class="input input-sm input-bordered flex items-center gap-1 flex-1">
        <i class="fa fa-search opacity-60"></i>
        <input
            type="text"
            class="grow"
            placeholder="*.js, **/app/*"
            [value]="searchPattern()"
            (input)="setSearchPattern($event)"
        />
        @if (!isSearchPatternEmpty()) {
            <button
                type="button"
                class="btn btn-ghost btn-xs btn-square"
                data-testid="search-bar-clear-button"
                (click)="resetSearchPattern()"
                title="Clear search"
            >
                <i class="fa fa-times"></i>
            </button>
        }
    </label>

    <button
        type="button"
        class="btn btn-ghost btn-sm btn-square"
        popovertarget="explorer-search-actions"
        style="anchor-name: --explorer-search-actions"
        title="Add to Blacklist"
        data-testid="search-bar-actions-trigger"
    >
        <i class="fa fa-ellipsis-v"></i>
    </button>

    <ul
        popover
        id="explorer-search-actions"
        style="position-anchor: --explorer-search-actions"
        class="dropdown menu bg-base-100 rounded-box w-44 p-2 shadow-lg"
    >
        @if (isSearchPatternEmpty()) {
            <li class="px-2 py-1 text-xs opacity-60">Enter a pattern to enable Flatten/Exclude</li>
        }
        <li>
            <button
                type="button"
                data-testid="search-bar-flatten-button"
                popovertarget="explorer-search-actions"
                popovertargetaction="hide"
                [disabled]="isFlattenPatternDisabled()"
                (click)="flattenPattern()"
            >
                <i class="fa-solid fa-arrows-down-to-line"></i>
                Flatten
            </button>
        </li>
        <li>
            <button
                type="button"
                data-testid="search-bar-exclude-button"
                popovertarget="explorer-search-actions"
                popovertargetaction="hide"
                [disabled]="isExcludePatternDisabled()"
                (click)="excludePattern()"
            >
                <i class="fa fa-ban"></i>
                Exclude
            </button>
        </li>
    </ul>
</div>
