<mat-select panelClass="file-select" [(value)]="selectedFiles" (selectionChange)="handleSelectedFilesChanged($event.value)" multiple>
	<div class="actions">
		<button mat-button (click)="handleSelectAllFiles()">All</button>
		<button mat-button (click)="handleSelectZeroFiles()">None</button>
		<button mat-button (click)="handleInvertSelectedFiles()">Invert</button>
	</div>
	<mat-option class="filenames" *ngFor="let file of files$ | async" [value]="file.file">
		{{ file.file.fileMeta.fileName | removeExtension }}

		<cc-remove-file-button *ngIf="(files$ | async).length > 1" [filename]="file.file.fileMeta.fileName"></cc-remove-file-button>
	</mat-option>
</mat-select>
