@use "variables";

.file-select {
    &.mat-mdc-select-panel {
        min-width: max-content;
        padding: 0;

        .mat-mdc-option .mdc-list-item__primary-text {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .file-selection-actions {
            display: flex;
        }

        button {
            width: 100%;
            font-size: 16px;
            margin: 0;
            background-color: transparent;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
                color: variables.$cc-primary-color;
            }

            &.file-select-action-button {
                padding: 15px 10px;
            }

            &.remove-button {
                padding: 8px 10px;

                &:hover {
                    border-radius: 50%;
                }
            }
        }
    }
}
