<mat-select
	class="standard-select"
	[(ngModel)]="selectedFileNames"
	(selectionChange)="handleSelectedFilesChanged(selectedFileNames)"
	name="recentFiles"
	[placeholder]="selectedFileNames"
	multiple
	(closed)="handleOnSelectionClosed()"
>
	<div class="actions">
		<button mat-button (click)="handleSelectAllPartialFiles()">All</button>
		<button mat-button (click)="handleSelectZeroPartialFiles()">None</button>
		<button mat-button (click)="handleInvertSelectedPartialFiles()">Invert</button>
	</div>
	<mat-option *ngFor="let file of files" [value]="file.file.fileMeta.fileName">
		{{ file.file.fileMeta.fileName }}

		<cc-remove-file-button
			*ngIf="files.length > 1"
			[filename]="file.file.fileMeta.fileName"
			[onRemoveFile]="handleOnRemoveFile"
		></cc-remove-file-button>
	</mat-option>
</mat-select>
