@use "variables";

.cc-standard-select {
    width: 200px;
    font-size: 10pt;
}

.cc-apply-file-selection-button-container {
    padding-right: 16px;
    display: flex;
    justify-content: flex-end;

    button {
        width: 50%;
        height: 30px;

        &:hover:not(:disabled) {
            border-radius: 10%;
            background-color: #dddddd;
        }
    }
}
