.cc-add-custom-scenario .mat-mdc-dialog-container {
	width: 50vw;
	padding: 0;

	.cc-add-custom-scenario-content {
		margin: 8px;

		.cc-add-custom-scenario-name-field {
			width: 75%;
		}
		/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
		mat-slide-toggle {
			display: block;
		}

		.cc-add-custom-scenario-buttons {
			display: flex;
			justify-content: flex-end;
		}
	}
}
