node-path-panel-component {
	width: 100%;
	min-width: 400px;

	#node-path {
		vertical-align: middle;
		margin: 0 10px 0 10px;
		display: inline-block;
		font-size: 10pt;
		max-width: calc(100% - 200px);
		direction: rtl;
		overflow: hidden;
		white-space: nowrap;
	}

	.bold {
		font-weight: 600;
	}
}
