.cc-suspicious-metrics-badge {
    position: absolute;
    bottom: 10px;
    padding: 4px 6px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 10px;
    line-height: 10px;
}
