.ai-drop-down.suspicious-metric-panel {
    scrollbar-gutter: stable;

    code {
        background: rgba(230, 230, 230, 0.96);
        font-size: 16px;
    }

    ul.text-content {
        margin: 0;
        padding-left: 26px;
    }

    .suspicious-menu-content-wrapper {
        border: 3px solid lightgray;
        border-radius: 10px;
        padding: 8px;
    }

    .sub-sub-title {
        font-size: 11;
        color: #999;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .untracked-unsus-icon-span {
        display: inline-block;
        width: 10px;
        font-size: 16px;
    }

    .untracked-metrics-button {
        background-color: white;
        color: black;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        font-size: 16px;
        padding: 0 0 6px 0;
    }

    .title {
        display: inline-block;
    }

    .title-button {
        margin-left: 8px;
        width: 45px;
        height: 22px;
        line-height: 24px;
        display: inline-block;
    }

    .info-button {
        font-size: 16px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    mat-button-toggle {
        height: 35px;
        background-color: rgba(230, 230, 230, 0.96);
        &:hover {
            background-color: #c8c8c8;
        }
    }

    .mat-button-toggle-checked .mat-button-toggle-label-content .mat-pseudo-checkbox {
        display: none;
    }

    .mat-button-toggle-checked .mat-button-toggle-ripple {
        display: none;
    }
}
