<button [matMenuTriggerFor]="menu" title="Open Suspicious Metrics Panel" class="cc-ribbon-bar-menu-button" (click)="hideBadge = true">
	<i class="fa fa-exclamation-triangle"></i>
	<span
		class="suspicious-metrics-badge"
		*ngIf="
			!hideBadge &&
			(data.analyzedProgrammingLanguage !== undefined ||
				data.suspiciousMetricSuggestionLinks.length ||
				data.unsuspiciousMetrics.length)
		"
	>
		{{ data.suspiciousMetricSuggestionLinks.length }}
	</span>
</button>

<mat-menu #menu="matMenu" class="ai-drop-down suspicious-metric-panel">
	<div (click)="$event.stopPropagation()">
		<div class="suspicious-metric-title">
			<div>
				Suspicious Metrics
				<button
					title="Open Information about Suspicious Metrics"
					popovertarget="suspiciousMetricPopover"
					mat-icon-button
					(click)="openDialog()"
				>
					<i matSuffix class="fa fa-info-circle suspicious-metric-info-button"></i>
				</button>
			</div>
		</div>
		<div *ngIf="data.suspiciousMetricSuggestionLinks.length" class="title new-section">
			Suspicious Metrics in {{ data.analyzedProgrammingLanguage }} code
		</div>

		<div class="suspicious-metric" *ngFor="let item of data.suspiciousMetricSuggestionLinks">
			<mat-button-toggle-group>
				<mat-button-toggle
					class="metric-button"
					(click)="applySuspiciousMetric(item, false)"
					title="Apply Map Configuration to show files with suspicious metric {{
						item.metric
					}} and high risk or very high risk depending on selection"
				>
					{{ getNameAndDescriptionOfMetric(item.metric) }}
				</mat-button-toggle>

				<mat-button-toggle
					*ngIf="item.isOutlier"
					class="risk-button"
					(click)="applySuspiciousMetric(item, true)"
					title="Show very high risk files (90th percentile)"
				>
					Highlight Outliers
					<i class="fa fa-exclamation-triangle"></i>
				</mat-button-toggle>
			</mat-button-toggle-group>
		</div>
		<div *ngIf="data.unsuspiciousMetrics.length">
			<div *ngIf="data.analyzedProgrammingLanguage.length" class="title">
				<button data-testid="Unsuspicious Metrics" class="untracked-metrics-button" (click)="toggleUnsuspiciousMetricsVisibility()">
					Unsuspicious metrics in {{ data.analyzedProgrammingLanguage }} code
					<i
						class="fa"
						[ngClass]="{ 'fa-caret-down': !isUnsuspiciuosMetricsVisible, 'fa-caret-up': isUnsuspiciuosMetricsVisible }"
					></i>
				</button>
			</div>
			<ul data-testid="List of Unsuspicious Metrics in ts Code" *ngIf="isUnsuspiciuosMetricsVisible">
				<li *ngFor="let unsuspiciousMetric of data.unsuspiciousMetrics">{{ unsuspiciousMetric }}</li>
			</ul>
		</div>
		<div *ngIf="data.untrackedMetrics.length">
			<div *ngIf="data.analyzedProgrammingLanguage.length" class="title">
				<button data-testid="Untracked Metrics" class="untracked-metrics-button" (click)="toggleUntrackedMetricsVisibility()">
					Untracked metrics in {{ data.analyzedProgrammingLanguage }} code
					<i class="fa" [ngClass]="{ 'fa-caret-down': !isUntrackedMetricsVisible, 'fa-caret-up': isUntrackedMetricsVisible }"></i>
				</button>
			</div>
			<ul data-testid="List of Untracked Metrics in ts Code" *ngIf="isUntrackedMetricsVisible">
				<li *ngFor="let untrackedMetric of data.untrackedMetrics">{{ untrackedMetric }}</li>
			</ul>
			<div *ngIf="data.analyzedProgrammingLanguage === undefined">
				No programming language was found for analyzing suspicious metrics.
			</div>
		</div>
	</div>
</mat-menu>
