<md-input-container class="md-block">
    <label>Search by gitignore style</label>
    <input type='text' ng-model="$ctrl.viewModel.search" ng-change="$ctrl.onFilterChange($ctrl.viewModel.search)">
    <div ng-messages="$ctrl.viewModel.error">{{$ctrl.viewModel.error}}</div>
    <br>
    <div ng-messages="$ctrl.viewModel.folderCount">
        Found:
        {{$ctrl.viewModel.fileCount}} <i class="fa fa-file"></i>
        {{$ctrl.viewModel.folderCount}} <i class="fa fa-folder"></i>
    </div>
</md-input-container>
