cc-attribute-type-selector {
	background-color: white;
	border-radius: 16px;
	display: inline-block;
	height: 24px;
	width: 24px;
	vertical-align: top;

	.menu-button .symbol {
		position: absolute;
		top: -20px;
		left: 8px;
	}
}
