cc-attribute-type-selector {
	display: inline-block;
	background-color: white;
	border-radius: 12px;

	.menu-button {
		height: 24px;
		width: 24px;
		min-width: 0 !important;
		padding: 0;

		&:hover {
			background-color: rgb(200, 200, 200);
		}

		.symbol {
			position: absolute;
			top: -7px;
			left: 8px;
		}
	}
}
