cc-link-color-metric-to-height-metric-button {
	display: flex;
	justify-content: center;
	height: 100%;

	.link-metrics-button {
		width: 50px;
		height: 100%;
		padding: 0;
		margin: 0;
		background-color: transparent;

		.fa {
			color: rgb(68, 68, 68);
		}

		&:hover {
			background-color: #c8c8c8;
		}
	}
}
