<div ng-show="false">
    <p>Choose between CodeCharta and TestVille</p>
    <layout-switcher-component layouts="CodeCharta, TestVille"></layout-switcher-component>
</div>

<md-input-container class="md-block">
    <md-checkbox class="md-primary" ng-model="$ctrl.settingsService.settings.showRibbonBar" ng-change="$ctrl.settingsService.onSettingsChanged()">
        Use Ribbon Bar
    </md-checkbox>
</md-input-container>
<br>
<br>

<statistic-settings-panel-component></statistic-settings-panel-component>