<cc-distribution-segment
    label="Height"
    [metricName]="heightMetric()"
    metricFor="heightMetric"
    placeholder="Height Metric (highest value)"
    [searchPopoverId]="searchPopoverId"
    [searchAnchorName]="searchAnchorName"
    [settingsPopoverId]="settingsPopoverId"
    [settingsAnchorName]="settingsAnchorName"
    testIdPrefix="metric-segment-height"
    [values]="values()"
    [minLabel]="minLabel()"
    [maxLabel]="maxLabel()"
    (metricSelected)="handleMetricSelected($event)"
>
    <cc-height-settings-popover [popoverId]="settingsPopoverId" [anchorName]="settingsAnchorName"></cc-height-settings-popover>
</cc-distribution-segment>
