<md-slider-container class="md-block">
	<span>Previews</span>
	<md-slider
		flex
		step="1"
		min="0"
		max="{{ $ctrl._viewModel.totalAffectedBuildings }}"
		ng-model="$ctrl._viewModel.amountOfEdgePreviews"
		id="labels-slider"
		ng-change="$ctrl.applySettingsAmountOfEdgePreviews()"
		class="md-primary"
	>
	</md-slider>
	<md-input-container>
		<input
			flex
			step="1"
			min="0"
			max="{{ $ctrl._viewModel.totalAffectedBuildings }}"
			type="number"
			ng-model="$ctrl._viewModel.amountOfEdgePreviews"
			ng-change="$ctrl.applySettingsAmountOfEdgePreviews()"
			aria-controls="labels-slider"
		/>
	</md-input-container>
</md-slider-container>

<section layout="row" layout-align="center center" class="mode-chooser">
	<md-button class="state-selector-button left" ng-click="$ctrl.applyEdgesVisualChange('showOnlyBuildingsWithEdges')"
	> 		<i class="fa fa-ban"></i>

	</md-button>
	<md-button class="state-selector-button middle" ng-click="$ctrl.applyEdgesVisualChange('showAllBuildings')"
	><i class="fa fa-ban"></i>

	</md-button>
	<md-button class="state-selector-button right" ng-click="$ctrl.applyEdgesVisualChange('showBuildings')"
	><i class="fa fa-ban"></i>

	</md-button>
</section>
