<md-input-container>
	<i class="fa fa-arrows-v"></i>

	<label></label>
	<md-select
		ng-model="$ctrl._viewModel.heightMetric"
		ng-change="$ctrl.applySettingsHeightMetric()"
		md-on-close="$ctrl.clearSearchTerm()"
		md-on-open="$ctrl.focusInputField('height-metric')"
		md-container-class="ribbonBarDropdown"
	>
		<md-select-header>
			<input
				class="metric-search height-metric"
				ng-model="$ctrl._viewModel.searchTerm"
				type="text"
				placeholder="&#xF002; Metric (highest value)"
				ng-keydown="$event.stopPropagation()"
				ng-change="$ctrl.filterMetricData()"
			/>
		</md-select-header>
		<md-content class="option-group">
			<md-option ng-repeat="metric in $ctrl._viewModel.metricData track by metric.name" value="{{::metric.name}}">
				{{::metric.name}}
				<span class="metric-max-value">({{::metric.maxValue}})</span>
				<attribute-type-selector-component class="attribute-type-select" type="nodes" metric="{{::metric.name}}">
				</attribute-type-selector-component>
			</md-option>
		</md-content>
	</md-select>

	<height-metric-value-hovered-component></height-metric-value-hovered-component>
</md-input-container>
