@use "variables";

:host {
    display: flex;
    width: 100%;

    &:hover {
        cc-metric-chooser-value {
            display: none;
        }
    }
}

i.fa {
    padding-right: 8px;
    color: variables.$cc-primary-color;
}

cc-metric-chooser-value {
    position: absolute;
    top: 10%;
    right: 10px;
}

.mat-mdc-select-placeholder {
    color: black !important;
}

::ng-deep {
    .mat-mdc-select-value {
        color: #333 !important;
        font-weight: 500;
    }

    .mat-mdc-select-arrow {
        color: variables.$cc-primary-color !important;
    }
}
