<md-input-container class="md-block">
    <label>Area</label>
    <md-select ng-model="$ctrl.settingsService.settings.areaMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics | orderBy: 'metric'" value="{{metric}}">
            {{metric}}
        </md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block">
    <label>Height</label>
    <md-select ng-model="$ctrl.settingsService.settings.heightMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics | orderBy: 'metric'" value="{{metric}}">
            {{metric}}
        </md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block">
    <label>Color</label>
    <md-select ng-model="$ctrl.settingsService.settings.colorMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics | orderBy: 'metric'" value="{{metric}}">
            {{metric}}
        </md-option>
    </md-select>
</md-input-container>