<md-input-container class="md-block">
	<i class="fa fa-arrows-v"></i>

	<md-select ng-model="$ctrl._viewModel.heightMetric" ng-change="$ctrl.applySettingsHeightMetric()">
		<md-option ng-repeat="metric in $ctrl._viewModel.metricData" value="{{::metric.name}}">
			{{::metric.name}}
			<span class="metric-max-value">({{::metric.maxValue}})</span>
		</md-option>
	</md-select>

	<div>
		<metric-type-component></metric-type-component>
		<span class="metric-value"
			>{{ ($ctrl.hoveredHeightValue | number) || "-" }}
			<span style="color: {{ $ctrl.hoveredDeltaColor }};" ng-hide="!$ctrl.hoveredHeightDelta"
				>(&Delta;{{ $ctrl.hoveredHeightDelta | number }})</span
			>
		</span>
	</div>
</md-input-container>
