<md-input-container>
	<i class="fa fa-arrows-alt"></i>

	<label></label>
	<md-select
		ng-model="$ctrl._viewModel.areaMetric"
		ng-change="$ctrl.applySettingsAreaMetric()"
		md-on-close="$ctrl.clearSearchTerm()"
		md-on-open="$ctrl.focusInputField('area-metric')"
		md-container-class="ribbonBarDropdown"
	>
		<md-select-header>
			<input
				class="metric-search area-metric"
				ng-model="$ctrl._viewModel.searchTerm"
				type="text"
				placeholder="&#xF002; Metric (highest value)"
				ng-keydown="$event.stopPropagation()"
				ng-change="$ctrl.filterMetricData()"
			/>
		</md-select-header>
		<md-content class="option-group">
			<md-option ng-repeat="metric in $ctrl._viewModel.metricData" value="{{::metric.name}}">
				{{::metric.name}}
				<span class="metric-max-value">({{::metric.maxValue}})</span>
			</md-option>
		</md-content>
	</md-select>

	<div>
		<area-metric-type-component></area-metric-type-component>
		<span class="metric-value"
			>{{ ($ctrl._viewModel.hoveredNode.attributes[$ctrl._viewModel.areaMetric] | number) || "-" }}
			<span ng-show="$ctrl._viewModel.hoveredNode.deltas"
				>(&Delta;{{ $ctrl._viewModel.hoveredNode.deltas[$ctrl._viewModel.areaMetric] | number }})</span
			>
		</span>
	</div>
</md-input-container>
