<md-input-container class="md-block dark_shadow_opacity">
    <i class='fa fa-arrows-alt'></i>
    <md-select ng-model="$ctrl.settingsService.settings.areaMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
        <hr ng-if="$ctrl.edgeMetrics.length != 0">
        <md-option ng-show="$ctrl.edgeMetrics" ng-repeat="metric in $ctrl.edgeMetrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
    </md-select>
    <span class="metric-value">{{($ctrl.hoveredAreaValue | number) || "-"}}
    <span  ng-hide="!$ctrl.hoveredAreaDelta">(&Delta;{{$ctrl.hoveredAreaDelta | number}})</span>
        </span>
</md-input-container>

<md-input-container class="md-block dark_shadow_opacity">
    <i class='fa fa-arrows-v'></i>
    <md-select ng-model="$ctrl.settingsService.settings.heightMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
        <hr ng-if="$ctrl.edgeMetrics.length != 0">
        <md-option ng-show="$ctrl.edgeMetrics" ng-repeat="metric in $ctrl.edgeMetrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
    </md-select>
    <span class="metric-value">{{($ctrl.hoveredHeightValue | number) || "-"}}
        <span style="color: {{$ctrl.hoveredDeltaColor}};" ng-hide="!$ctrl.hoveredHeightDelta">(&Delta;{{$ctrl.hoveredHeightDelta | number}})</span>
    </span>
</md-input-container>

<md-input-container class="md-block dark_shadow_opacity">
    <i class='fa fa-paint-brush'></i>
    <md-select ng-model="$ctrl.settingsService.settings.colorMetric" ng-change="$ctrl.settingsService.applySettings()">
        <md-option ng-repeat="metric in $ctrl.metrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
        <hr ng-if="$ctrl.edgeMetrics.length != 0">
        <md-option ng-show="$ctrl.edgeMetrics" ng-repeat="metric in $ctrl.edgeMetrics" value="{{::metric}}">
            {{::metric}}
        </md-option>
    </md-select>
    <span class="metric-value">{{($ctrl.hoveredColorValue | number) || "-"}}
    <span  ng-hide="!$ctrl.hoveredHeightDelta">(&Delta;{{$ctrl.hoveredColorDelta | number}})</span>
        </span>
</md-input-container>