<md-input-container>
	<i class="fa fa-pie-chart"></i>

	<label></label>
	<md-select
		ng-model="$ctrl._viewModel.distributionMetric"
		ng-change="$ctrl.applySettingsDistributionMetric()"
		md-on-close="$ctrl.clearSearchTerm()"
		md-on-open="$ctrl.focusInputField('distribution-metric')"
		md-container-class="distributionBarDropdown"
	>
		<md-select-header>
			<input
				class="metric-search distribution-metric"
				ng-model="$ctrl._viewModel.searchTerm"
				type="text"
				placeholder="&#xF002; Metric (highest value)"
				ng-keydown="$event.stopPropagation()"
				ng-change="$ctrl.filterMetricData()"
			/>
		</md-select-header>
		<md-content class="option-group">
			<md-option ng-repeat="metric in $ctrl._viewModel.metricData track by metric.name" value="{{::metric.name}}">
				{{::metric.name}}
				<span class="metric-max-value">({{::metric.maxValue}})</span>
			</md-option>
		</md-content>
	</md-select>
</md-input-container>
