@use "../../../material/theme";

cc-metric-chooser {
	position: relative;
	width: 100%;
	cc-metric-chooser-value-hovered,
	.cc-metric-chooser-hovered-container {
		position: absolute;
		bottom: 0;
		right: 0;

		.metric-value {
			height: 25px;

			.rounded-box {
				background-color: #e6e6e6;
				border-radius: 2px;
				padding: 2px 5px;
				display: inline-block;
			}
		}
	}

	.mat-mdc-select {
		border-bottom: none;
	}
}

.mat-mdc-select-panel.cc-metric-chooser {
	margin-top: 16px;
	width: 360px;
	max-width: 360px;

	.cc-metric-chooser-search-field {
		width: 100%;
		color: theme.$cc-primary-color;
		font-size: 14px;

		.search-icon {
			margin-right: 8px;
			margin-left: 8px;
			font-size: 18px;
		}
		/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
		.mat-form-field-label {
			margin-top: 4px;
		}
	}

	.cc-metric-chooser-option-container {
		margin-top: -18px;
		max-height: 216px;
		overflow-y: auto;
		font-size: 16px;

		mat-option .metric-max-value {
			color: #ccc;
		}
	}
}
