<md-input-container>
	<i class="fa fa-arrows-v"></i>

	<label></label>
	<md-select
		ng-model="$ctrl._viewModel.heightMetric"
		ng-change="$ctrl.applySettingsHeightMetric()"
		md-on-close="$ctrl.clearSearchTerm()"
		md-on-open="$ctrl.focusInputField('height-metric')"
		md-container-class="ribbonBarDropdown"
	>
		<md-select-header>
			<input
				class="metric-search height-metric"
				ng-model="$ctrl._viewModel.searchTerm"
				type="text"
				placeholder="&#xF002; Metric (highest value)"
				ng-keydown="$event.stopPropagation()"
				ng-change="$ctrl.filterMetricData()"
			/>
		</md-select-header>
		<md-content class="option-group">
			<md-option ng-repeat="metric in $ctrl._viewModel.metricData" value="{{::metric.name}}">
				{{::metric.name}}
				<span class="metric-max-value">({{::metric.maxValue}})</span>
			</md-option>
		</md-content>
	</md-select>

	<div class="metric-value" ng-show="$ctrl._viewModel.hoveredNode">
		<height-metric-type-component></height-metric-type-component>
		<span
			>{{ $ctrl._viewModel.hoveredNode.attributes[$ctrl._viewModel.heightMetric] | number }}
			<span ng-style="{color: $ctrl._viewModel.deltaColor}" ng-show="$ctrl._viewModel.hoveredNode.deltas"
				>(&Delta;{{ $ctrl._viewModel.hoveredNode.deltas[$ctrl._viewModel.heightMetric] | number }})</span
			>
		</span>
	</div>
</md-input-container>
