<mat-select
	[panelClass]="'cc-metric-chooser'"
	[value]="selectedMetricName"
	(selectionChange)="handleMetricChanged($event.value)"
	(openedChange)="handleOpenedChanged($event)"
	[disabled]="isDisabled"
>
	<mat-form-field class="cc-metric-chooser-search-field">
		<i matPrefix class="fa fa-search search-icon"></i>
		<input #searchTermInput matInput type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchTerm" />
	</mat-form-field>
	<div class="cc-metric-chooser-option-container">
		<ng-container *ngFor="let metric of metricDataWithDescription$ | async | filterMetricDataBySearchTerm: searchTerm">
			<ng-container *ngIf="metric.title; then titleExists; else onlyShowName"></ng-container>
			<ng-template #titleExists>
				<ng-container *ngIf="metric.description; then showTitleAndDescription; else showTitle"></ng-container>
			</ng-template>

			<ng-template #showTitleAndDescription>
				<mat-option [value]="metric.name" matTooltip="{{ metric.name + ': ' + metric.description }}">
					{{ metric.title }}
					<span class="metric-max-value">({{ metric.maxValue }})</span>
				</mat-option>
			</ng-template>
			<ng-template #showTitle>
				<mat-option [value]="metric.name" matTooltip="{{ metric.name }}">
					{{ metric.title }}
					<span class="metric-max-value">({{ metric.maxValue }})</span>
				</mat-option>
			</ng-template>
			<ng-template #onlyShowName>
				<mat-option [value]="metric.name">
					{{ metric.name }}
					<span class="metric-max-value">({{ metric.maxValue }})</span>
				</mat-option>
			</ng-template>
		</ng-container>
	</div>
</mat-select>

<ng-content select="[hoveredInformation]"></ng-content>
