@use "../../../material/theme";

cc-metric-chooser {
	width: 100%;

	cc-metric-chooser-value-hovered,
	.cc-metric-chooser-hovered-container {
		position: absolute;
		bottom: 0;
		right: 0;

		.metric-value {
			height: 25px;

			.rounded-box {
				background-color: #e6e6e6;
				border-radius: 2px;
				padding: 2px 5px;
				display: inline-block;
			}
		}
	}

	.mat-mdc-select {
		border-bottom: none;
	}
}

.mat-mdc-select-panel.cc-metric-chooser {
	margin-top: 16px;
	width: 360px;
	max-width: 360px;

	.cc-metric-chooser-search-field {
		width: 100%;
		font-size: 14px;
		padding: 0 6px;

		.search-icon {
			color: theme.$cc-primary-color;
			margin-left: 8px;
			font-size: 18px;
		}

		.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
			display: none;
		}

		.mat-mdc-form-field-infix {
			margin-left: 6px;
			display: flex;
		}
	}

	.cc-metric-chooser-option-container {
		max-height: 216px;
		overflow-y: auto;
		font-size: 16px;
		padding: 0 6px;

		mat-option .metric-max-value {
			color: #ccc;
		}
	}
}
