$optionHeight: 48;

area-metric-chooser-component,
height-metric-chooser-component,
color-metric-chooser-component,
distribution-metric-chooser-component {
	$selectWidth: 150;

	md-input-container {
		display: block;
		top: -5px;
		margin: 0;
		text-align: left;

		md-select {
			width: $selectWidth + px;
		}

		> * {
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: middle;
		}
	}

	i.fa,
	.metric-value {
		vertical-align: middle;
		margin-top: 8px;
	}

	i.fa {
		margin-left: 5px;
		margin-right: 10px;
		min-width: 16px;
	}

	.metric-value {
		margin-left: 5px;
		min-width: 40px;
		float: right;
	}

	.md-select-value .metric-max-value {
		display: none;
	}
}

distribution-metric-chooser-component {
	md-input-container {
		top: 0;
		padding: 0;
		font-size: 12px;
		background-color: white;

		md-select-value {
			min-height: 0 !important;
			height: 15px;
			padding: 0 !important;
			border-bottom: none !important;

			span {
				margin-bottom: 2px;
			}
		}

		i.fa {
			margin-top: 2px;
			margin-right: 5px;
		}
	}
}

.md-select-menu-container {
	&.ribbonBarDropdown {
		top: 10% !important;
	}

	&.distributionBarDropdown {
		top: 5.5% !important;
	}
}

md-content.option-group {
	top: $optionHeight + px !important;
	min-height: auto;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.md-overflow {
	display: initial;
}

.metric-search {
	display: block;
	position: fixed;
	top: 8px;
	width: 100%;
	padding: 10px;
	height: $optionHeight - 8 + px;
	outline: none;
	border: none;
	border-bottom: solid 2px;
	border-color: rgba(0, 0, 0, 0.12);
	background-color: #f5f5f5;
	font-family: Arial, FontAwesome;
	font-size: 11pt;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;

	&:focus {
		border-color: rgb(0, 150, 136);
		color: rgb(0, 150, 136);
	}
}

.metric-max-value {
	color: #ccc !important;
	margin-left: 5px !important;
}
