@use "../../../material/theme";

cc-metric-chooser {
	width: 100%;

	.mat-select {
		border-bottom: 0;
	}
}

.mat-select-panel.cc-metric-chooser {
	margin-top: 16px;
	width: 360px;
	max-width: 360px;

	.cc-metric-chooser-search-field {
		width: 100%;
		color: theme.$cc-primary-color;
		font-size: 14px;

		.search-icon {
			margin-right: 8px;
			margin-left: 8px;
			font-size: 18px;
		}
	}

	.cc-metric-chooser-option-container {
		margin-top: -18px;
		max-height: 216px;
		overflow-y: auto;
		font-size: 16px;

		.metric-max-value {
			color: #ccc;
		}
	}
}
