<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
	<md-content layout-padding class="padding_bottom">
		<settings-panel-component></settings-panel-component>

		<md-button ng-click="$ctrl.showUrlParams()" class="md-primary">
			URL Parameters
		</md-button>
	</md-content>
</md-sidenav>

<div id="actionButtons">
	<md-button class="md-fab md-primary cc-shadow" aria-label="Fit Map to View" ng-click="$ctrl.fitMapToView()">
		<i class="fa fa-compress fa-lg"></i>
	</md-button>
	<file-chooser-directive></file-chooser-directive>
	<md-button class="md-fab md-primary cc-shadow" aria-label="Open Sidenav" ng-click="$ctrl.toggleSidenav('right')">
		<i class="fa fa-bars fa-lg"></i>
	</md-button>
</div>

<header id="title">
	<horizontal-metric-chooser-component></horizontal-metric-chooser-component>
	<div class="logo">
		<a href="https://www.maibornwolff.de" target="_blank"><img src="../codeCharta/assets/logo.png" alt="MaibornWolff"/></a>
		<h2>
			<span>TestVille {{ $ctrl.viewModel.version }}</span>
		</h2>
	</div>
</header>

<code-map-component></code-map-component>

<legend-panel-component></legend-panel-component>

<detail-panel-component></detail-panel-component>

<div id="loading-indicator" ng-hide="$ctrl.viewModel.numberOfLoadingTasks <= 0">
	<md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
</div>
