<mat-toolbar color="primary">3D Print CodeCharta Map</mat-toolbar>

<div class="cc-export-3D-map-dialog-content">
	<div #rendererContainer></div>

	<mat-form-field>
		<mat-label>Select Printer</mat-label>
		<mat-select (selectionChange)="onSelectedPrinterChange($event)" [(value)]="selectedPrinter">
			<mat-option *ngFor="let printer of printerOptions" [value]="printer">{{ printer }}</mat-option>
		</mat-select>
	</mat-form-field>

	<div class="slider-container">
		<mat-slider (change)="onScaleChange()" [max]="maxWidth" discrete="true" min="100" step="1">
			<input #slider [(ngModel)]="wantedWidth" matSliderThumb />
		</mat-slider>
	</div>

	<div>
		<span>Width: {{ (currentWidth / 10).toFixed(1) }}cm (max. {{ (maxPrinterX / 10).toFixed(1) }})</span>
		<br />
		<span>Depth: {{ (currentDepth / 10).toFixed(1) }}cm (max. {{ (maxPrinterY / 10).toFixed(1) }})</span>
		<br />
		<span>Height: {{ (currentHeight / 10).toFixed(1) }}cm (max. {{ (maxPrinterZ / 10).toFixed(1) }})</span>
	</div>

	<div>
		<mat-form-field>
			<input matInput [(ngModel)]="frontText" (input)="onFrontTextChange()" />
		</mat-form-field>
	</div>

	<div>
		<input type="file" (change)="onFileSelected($event)" accept=".svg" />
		<button (click)="onRotateLogo()" mat-button title="Rotate Logo Button">
			<span><i class="fa fa-rotate-right"></i> Rotate Logo</span>
		</button>
		<button (click)="onFlipLogo()" mat-button title="Flip Logo Button">
			<span><i class="fa fa-arrows-h"></i> Flip Logo</span>
		</button>
		<cc-labelled-color-picker
			[hexColor]="logoColor"
			(onColorChange)="onLogoColorChange($event)"
			[labels]="['Color']">
		</cc-labelled-color-picker>
	</div>

	<button (click)="download3MFFile()" [disabled]="!isPrintMeshLoaded" mat-button title="Download 3MF Button">
		<span><i class="fa fa-download"></i> Download 3MF</span>
	</button>

	<button (click)="downloadStlFile()" mat-button title="Download Stl Button">
		<span><i class="fa fa-download"></i> Download minimal Stl</span>
	</button>
</div>
