@use "../../../../material/theme";

.cc-export-3D-map-dialog .mat-mdc-dialog-container {
    width: 36vw;
    min-width: 600px;
    max-height: 95vh;

    .cc-export-3D-map-dialog-content {
        display: flex;
        flex-direction: column;
        padding: 16px 16px;
        gap: 16px;
        overflow-y: auto;
        max-height: calc(70vh - 200px);
        flex-grow: 1;
    }

    .ManualVisibilityContent {
        gap: 26px;
        margin-right: 16px;

        mat-form-field {
            display: flex;
            flex-direction: column;
        }
    }

    mat-slider {
        width: 95%;
    }

    mat-form-field {
        margin-bottom: -24px;
    }

    input[type="file"] {
        margin-top: 16px;
    }
}

.cc-printer-specs {
    color: #888888;
}
