.artificial-intelligence-component {
	.suspicious-metrics-button,
	.high-risk-profile-button {
		height: 22px;
		min-height: 0;
		line-height: 23px;
		min-width: 45px;
		margin: 0;
		padding: 0;
		font-size: 9pt;
		text-transform: none;
		background-color: rgba(230, 230, 230, 0.96);
		overflow: visible;

		&.plus {
			min-width: 30px;
		}

		#ai-badge {
			position: absolute;
			top: 12px;
			padding: 4px 6px;
			border-radius: 50%;
			background: red;
			color: white;
			font-size: 10px;
			width: 18px;
			height: 18px;
			line-height: 10px;
		}
	}
}
.ai-item1 {
	display: flex;
	background-color: #5cb34d;
}
.ai-drop-down {
	padding: 0;
}
md-menu-item.title {
	color: rgba(0, 0, 0, 0.38);
	margin: 10px 0 10px 0;
	line-height: 24px;
}
md-menu-item.ai-list-item {
	padding: 0 16px;
	height: auto;
	min-height: unset;
	margin-bottom: 10px;
	line-height: 20px;
}

md-menu-item.risk-profile {
	margin: 0 12px 12px 12px;
	.md-button {
		min-width: unset;
		padding: 0;
		margin: auto 0;
	}
	.low-risk {
		background-color: #5cb34d;
	}
	.moderate-risk {
		background: #eef432;
	}
	.high-risk {
		background: #cc2900;
	}
	.very-high-risk {
		background: #9c0e6a;
	}
}
