<div class="artificial-intelligence-component">
	<md-menu>
		<md-button
			class="suspicious-metrics-button"
			ng-click="$mdMenu.open($event);hideBadge = true;"
			title="Open Suspicious Metrics Panel"
		>
			<i class="fa fa-exclamation-triangle"></i>
			<span
				class="ai-badge"
				ng-show="
					!hideBadge &&
					($ctrl.viewModel.analyzedProgrammingLanguage !== undefined ||
						$ctrl.viewModel.suspiciousMetricSuggestionLinks.length ||
						$ctrl.viewModel.unsuspiciousMetrics.length)
				"
			>
				{{ $ctrl.viewModel.suspiciousMetricSuggestionLinks.length }}
			</span>
		</md-button>

		<md-menu-content class="ai-drop-down metrics">
			<md-menu-item ng-show="$ctrl.viewModel.analyzedProgrammingLanguage === undefined">
				<span> No programming language was found for analyzing suspicious metrics. </span>
			</md-menu-item>
			<md-menu-item class="title" ng-show="$ctrl.viewModel.unsuspiciousMetrics.length">
				<span ng-show="$ctrl.viewModel.analyzedProgrammingLanguage.length">
					Unsuspicious Metrics in {{ $ctrl.viewModel.analyzedProgrammingLanguage }} code
				</span>
				<span ng-show="!$ctrl.viewModel.analyzedProgrammingLanguage.length"> Unsuspicious Metrics </span>
			</md-menu-item>

			<md-menu-item ng-show="$ctrl.viewModel.unsuspiciousMetrics.length">
				<ul>
					<li ng-repeat="unsuspiciousMetric in $ctrl.viewModel.unsuspiciousMetrics">{{ unsuspiciousMetric }}</li>
				</ul>
			</md-menu-item>

			<md-menu-item class="title" ng-show="$ctrl.viewModel.suspiciousMetricSuggestionLinks.length">
				<span ng-show="$ctrl.viewModel.analyzedProgrammingLanguage.length">
					Suspicious Metrics in {{ $ctrl.viewModel.analyzedProgrammingLanguage }} code
				</span>
				<span ng-show="!$ctrl.viewModel.analyzedProgrammingLanguage.length"> Suspicious Metrics (click below to view) </span>
			</md-menu-item>

			<ul class="suspicious-metrics">
				<li class="suspicious-metric" ng-repeat="item in $ctrl.viewModel.suspiciousMetricSuggestionLinks">
					<md-button
						class="metric-button"
						ng-click="$ctrl.applySuspiciousMetric(item, false)"
						title="Apply Map Configuration to show files with suspicious metric {{
							item.metric
						}} and high risk or very high risk depending on selection"
					>
						Suspicious {{ item.metric.toUpperCase() }} Files
					</md-button>

					<md-button
						class="risk-button"
						ng-click="$ctrl.applySuspiciousMetric(item, true)"
						ng-show="item.isOutlier"
						title="Show very high risk files"
					>
						<i class="fa fa-exclamation-triangle"></i>
					</md-button>
				</li>
			</ul>
		</md-menu-content>
	</md-menu>
</div>
