@if (node$ | async; as node) {
    <cc-rounded-box>
        <cc-metric-chooser-type [metricFor]="metricFor"></cc-metric-chooser-type>
        <span>{{ node.attributes[(primaryMetricNames$ | async)[metricFor]] }}</span>
    </cc-rounded-box>

    @if (node.deltas) {
        <cc-rounded-box
            [backgroundColor]="
                metricFor === 'heightMetric' && node.deltas[(primaryMetricNames$ | async)[metricFor]] > 0
                    ? '#b1d8a8'
                    : node.deltas[(primaryMetricNames$ | async)[metricFor]] < 0
                      ? '#ffcccc'
                      : '#e6e6e6'
            "
        >
            &Delta;{{ node.deltas[(primaryMetricNames$ | async)[metricFor]] }}
        </cc-rounded-box>
    }
}
