floating-panel-component {

        .content{
                position: absolute;
                z-index: 11;
                left: 20px;
                top: 70px;
                width: 390px;
                white-space: nowrap;
                max-width: 390px;
                background-color: #ffffff;
                padding: 10px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 2px 4px rgba(0,0,0,0.23);
                overflow: hidden; 

                &.minimized {
                        width: 200px;
                        height: 50px;
                }
        }

        .tabs{
                max-height: 500px;
                min-height: 100px;
                transition: max-height 0.4s ease-out;
                transition: min-height 0.4s ease-out;
                overflow: hidden;
                
                &.none{
                        max-height: 0px !important;
                        min-height: 0px !important;
                }
        }
}
