floating-panel-component { 
        position: absolute;
        z-index: 11;
        left: 20px;
        top: 110px;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: #ff00ff;
    
}
