@import "mixins.scss";
@import "~font-awesome/css/font-awesome.css";

@import "./material/material.scss";

*,
*:before,
*:after {
	@include prefix(
		(
			box-sizing: border-box
		),
		webkit moz ms o
	);
}

html,
body {
	overflow-y: hidden;
	overflow-x: hidden;
	font-family: Roboto, "Helvetica Neue", sans-serif;

	@include prefix(
		(
			user-select: none
		),
		webkit moz ms o
	);

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* replacement styles for ~angular-material/angular-material.scss */
button {
	/* .md-button */
	border: 0;
	margin: 6px 8px;
	cursor: pointer;
}
