@use "variables";

.cc-changelog-dialog .mat-mdc-dialog-container {
    [mat-dialog-content] {
        padding: 8px 24px 0 24px;
        margin-top: 10px;
        color: black;

        img[alt$="xs"] {
            height: 32px;
        }
        img[alt$="s"] {
            height: 64px;
        }
        img[alt$="m"] {
            height: 256px;
        }
        img[alt$="l"] {
            height: 350px;
        }
        img[alt$="xl"] {
            height: 512px;
        }
    }
    [mat-dialog-actions] {
        justify-content: flex-end;

        a {
            color: variables.$cc-primary-color;
        }

        button {
            margin: 0 8px;
        }
    }
}
