.logo {
    position: absolute;
    left: 2em;
    bottom: 1em;
    z-index: 1;
    flex-direction: column;
    display: flex;
    align-items: flex-start;

    img {
        object-fit: contain;
        width: 5em;
        height: auto;
    }

    p {
        color: #5a585a;
        font-weight: bold;
        font-size: 10px;
        text-align: center;
        margin: 0;
        z-index: -1;
    }
}
