@use "variables";

cc-search-bar {
    display: inline-block;

    .search-icon {
        margin-right: 8px;
        min-width: 16px;
    }

    .ccSearchInput {
        display: inline-block;
        position: relative;

        input {
            width: 204px;
            border-width: 0 0 1px;
            border-color: lightgrey;
            outline: 0;
            font-size: 11pt;
            height: 24px;

            &:focus {
                border-color: variables.$cc-emphasized-color;
                box-shadow: 0 1px 0 0 variables.$cc-emphasized-color;
            }
        }

        > * {
            vertical-align: middle;
            display: inline-block;
            position: relative;
            height: 30px;
        }

        .clear-icon {
            position: absolute;
            right: 0;
            margin: 0;
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0px;
        }
    }

    .small-action-button {
        margin: 0px 5px 0px 5px;
    }

    button {
        background-color: transparent;
        box-shadow: none;
        margin-top: 2px;
        font-size: 14px;

        &:hover {
            background-color: lightgrey;
            border-radius: 50%;
        }
    }
}
