<i class="fa fa-search search-icon"></i>

<div class="ccSearchInput">
	<input type="text" placeholder="Search: *.js, **/app/*" [value]="searchPattern$ | async" (input)="setSearchPatternDebounced($event)" />
	<button *ngIf="!(isSearchPatternEmpty$ | async)" (click)="resetSearchPattern()" class="small-action-button clear-icon">
		<i class="fa fa-times"></i>
	</button>
</div>

<button [matMenuTriggerFor]="menu" class="small-action-button" title="Add to Blacklist">
	<i class="fa fa-ellipsis-h"></i>
</button>
<mat-menu #menu="matMenu">
	<button mat-menu-item disabled>Add Pattern to Blacklist</button>
	<mat-divider></mat-divider>
	<button mat-menu-item [disabled]="isFlattenPatternDisabled$ | async" (click)="blacklistSearchPattern('flatten')">
		<i class="fa fa-eye-slash"></i> Flatten
	</button>
	<button mat-menu-item [disabled]="isExcludePatternDisabled$ | async" (click)="blacklistSearchPattern('exclude')">
		<i class="fa fa-ban"></i> Exclude
	</button>
</mat-menu>
