cc-search-bar {
	display: inline-block;

	.search-icon {
		margin-right: 8px;
		min-width: 16px;
	}

	.ccSearchInput {
		display: inline-block;
		position: relative;

		input {
			width: 204px;
			border-width: 0 0 1px;
			border-color: lightgrey;
			outline: 0;
			font-size: 11pt;

			&:focus {
				border-width: 0 0 2px;
				border-color: rgb(0, 150, 136);
			}
		}

		> * {
			vertical-align: middle;
			display: inline-block;
			position: relative;
			top: -5px;
			height: 30px;
		}

		.clear-icon {
			position: absolute;
			right: 0;
			margin: 0;
		}
	}

	.small-action-button {
		margin: 0px 5px 0px 5px;
	}

	button {
		background-color: transparent;
		box-shadow: none;
		margin-top: 2px;
		font-size: 14px;

		&:hover {
			background-color: lightgrey;
			border-radius: 50%;
		}
	}
}
