.settings-panel-btn {
    margin: 0 auto;
    display: block;
    width: 70%;
}

#settingsPanel {
    overflow-y: scroll;
}

#settingsPanel::-webkit-scrollbar {
    display: none;
}

#colorSliderLabel {
    font-size: 1rem !important;
}