
settings-panel-component {

    $lightGreen: #00DFC5;
    $darkGreen: #00694F;

    @import "~angular-material-expansion-panel/dist/md-expansion-panel.css";

    md-expansion-panel-collapsed:hover,
    md-expansion-panel-header:hover {
        cursor: pointer;
    }

    md-input-container {
        margin: 5px 0 0 0;
    }

    /* enlarge the input field next to a slider */
    md-slider-container md-input-container input[type="number"] {
        padding-left: 0;
    }

    md-checkbox {
        margin-bottom: 5px;
    }

    .fix-list-height {
        max-height: 500px;
        overflow: auto;
    }

    .settings-panel-btn {
        margin: 0 auto;
        display: block;
        width: 70%;
    }

    #settingsPanel {
        overflow-y: scroll;
    }

    #settingsPanel::-webkit-scrollbar {
        display: none;
    }

    .md-title {
        margin: 0 4px;
    }

    .beta-symbol {
        border: 1px solid orange;
        color: orange;
    }

    .item-counter {
        border: 1px solid $lightGreen;
        background: $lightGreen;
        color: white;
        font-weight: bold !important;
        transition: 0.2s;
    }

    md-expansion-panel.highlight {
        .item-counter {
            background: $darkGreen;
            border: 1px solid $darkGreen;
        }
    }

    .beta-symbol,
    .item-counter {
        display: inline-block;
        font-weight: normal;
        line-height: 17px;
        font-size: 10pt;
        margin-top: 2px;
        padding: 0 2px 0 2px;
        min-width: 20px;
        border-radius: 4px;
        text-align: center;
    }
}

