
settings-panel-component {

    @import "~angular-material-expansion-panel/dist/md-expansion-panel.css";

    md-expansion-panel-collapsed:hover,
    md-expansion-panel-header:hover {
        cursor: pointer;
    }

    md-input-container {
        margin: 5px 0 0 0;
    }

    /* enlarge the input field next to a slider */
    md-slider-container md-input-container input[type="number"] {
        padding-left: 0;
    }

    md-checkbox {
        margin-bottom: 5px;
    }

    .fix-list-height {
        max-height: 500px;
        overflow: auto;
    }

    .settings-panel-btn {
        margin: 0 auto;
        display: block;
        width: 70%;
    }

    #settingsPanel {
        overflow-y: scroll;
    }

    #settingsPanel::-webkit-scrollbar {
        display: none;
    }

    .beta-symbol {
        display: inline-block;
        border: 1px solid orange;
        color: orange;
        font-weight: normal;
        line-height: 17px;
        font-size: 10pt;
        margin-top: 2px;
        padding: 0 2px 0 2px;
        width: 34px;
        border-radius: 4px;
    }

}

