<mat-list>
	<div>
		<h3 class="header-text">Flattened</h3>
		<em
			class="fa fa-question-circle-o"
			matTooltip="Flattened nodes are shown as flat/short buildings and are included in folder metrics"
		>
		</em>
	</div>

	@if (flattenedItems$ | async; as flattenedItems) {
	<div>
		@if (flattenedItems.length === 0) {
		<mat-list-item>Add pattern via search or node context-menu</mat-list-item>
		} @for (flattenedItem of flattenedItems; track flattenedItem) {
		<mat-list-item [title]="flattenedItem.path">
			<button mat-button (click)="removeBlacklistEntry(flattenedItem)">
				<em class="fa fa-minus-square" title="Remove list item"></em> {{ flattenedItem.path }}
			</button>
		</mat-list-item>
		}
	</div>
	}
</mat-list>

<mat-list>
	<div>
		<h3 class="header-text">Excluded</h3>
		<em class="fa fa-question-circle-o" matTooltip="Excluded buildings are not shown in the map and are not included in folder metrics">
		</em>
	</div>

	@if (excludedItems$ | async; as excludedItems) {
	<div>
		@if (excludedItems.length === 0) {
		<mat-list-item>Add pattern via search or node context-menu</mat-list-item>
		} @for (excludedItem of excludedItems; track excludedItem) {
		<mat-list-item [title]="excludedItem.path">
			<button mat-button (click)="removeBlacklistEntry(excludedItem)">
				<em class="fa fa-minus-square" title="Remove list item"></em> {{ excludedItem.path }}
			</button>
		</mat-list-item>
		}
	</div>
	}
</mat-list>
