.custom-views-component {

	.custom-views-button {
		height: 22px;
		min-height: 0;
		line-height: 23px;
		min-width: 45px;
		margin: 0;
		padding: 0;
		font-size: 9pt;
		text-transform: none;
		background-color: rgba(230, 230, 230, 0.96);

		&.plus {
			min-width: 30px;
		}
	}
}

.custom-views-drop-down {
	padding: 0;

	md-menu-item {
		height: auto;
		min-height: auto;
		display: block;
		align-content: unset;
		justify-content: unset;
		flex-direction: unset;

		.collapsable {
			margin: 0;
			padding: 0 0 0 10px;
			border-bottom: 1px solid grey;
		}
	}

	.custom-views-item {

		.button-hovering {
			height: 48px;
			text-align: left;
			background-color: unset;
			border-bottom: 1px solid grey;

			.collapse-trigger {
				display: inline-block;
				width: 91%;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 48px;
			}

			&:hover:not([disabled]) {
				background-color: rgba(158, 158, 158, 0.2);
			}

		}

		i.fa {
			margin-left: 0.8rem;
		}
		i.collapse-icon {
			font-size: 10px;
			line-height: 48px;
			vertical-align: top;
		}

		.action-button {
			display: inline-block;
			margin-right: 1px;
			min-width: 12%;
			height: 48px;
			width: 12%;
			text-align: center;

			i.fa {
				font-size: x-small;
				margin-left: 0;
			}

			&.add {
				display: inline-block;
				text-align: center;
				line-height: 48px;
				background-color: #00a091;
			}

			&.remove {
				display: inline-flex;
				justify-content: center;
				color: #b30000;
			}
		}

		.custom-views-dialog-name {
			display: inline-block;
			width: 86%;
			min-height: 48px;
		}

		.collapsable {
			.button-hovering {
				width: 80%;
				border: none;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 48px;
				text-transform: unset;
			}
			.action-button {
				width: 13%;
			}
		}
	}
}
