sidenav-component {

    md-sidenav {
        width: 600px;
        z-index: 50;


        .padding_bottom {
            padding-bottom: 140px;
        }
    }
}

sidenav-toggle-component {

    i.fa-bars {
        margin-top: 4px;
    }
}

