sidenav-component {
	md-sidenav {
		width: 600px;
<<<<<<< HEAD
		margin-top: 50px;
=======
>>>>>>> master
		z-index: 50;

		.padding_bottom {
			padding-bottom: 140px;
		}
	}
}

sidenav-toggle-component {
	i.fa-bars {
		margin-top: 4px;
	}
}
