<div class="dark_shadow_opacity">
	<div class="pull-left">
		<distribution-metric-chooser-component></distribution-metric-chooser-component>
	</div>
	<div class="fill-width">
		<div
			class="bar bar-section pull-left"
			ng-click="$ctrl.toggleExtensiveMode()"
			ng-repeat="item in $ctrl._viewModel.distribution"
			ng-style="{ 'width': item.relativeMetricValue + '%', 'background': item.color}"
		>
			<p
				class="bar-text"
				ng-mouseover="$ctrl.highlightBarHoveredBuildings(item.fileExtension)"
				ng-mouseleave="$ctrl.clearHighlightedBarHoveredBuildings()"
				title="{{ item.relativeMetricValue.toFixed(2) }}%"
			>
				{{ item.fileExtension }}
			</p>
		</div>
	</div>
</div>

<div class="bar-details dark_shadow_opacity animation-show-hide" ng-show="$ctrl._viewModel.isExtensiveMode">
	<div class="float-left" ng-repeat="item in $ctrl._viewModel.distribution">
		<p class="bar-details-text">
			<span class="dot" ng-style="{'background': item.color}"></span>{{ item.fileExtension }} :
			{{ item.relativeMetricValue.toFixed(2) }}%
		</p>
	</div>
</div>
