file-extension-bar-component {
	z-index: 30;

	.metric-chooser {
		float: left;
	}

	.bar {
		overflow: hidden;

		.bar-section {
			width: 100%;
			height: 17px;
			float: left;
			color: white;
			text-align: center;
			cursor: pointer;
			outline: none;

			&:not(:last-child) {
				border-right: 1px solid white;
			}

			.bar-section-text {
				font-size: 10px;
				margin-top: 2px;
			}
		}
	}

	.bar-details {
		display: block;
		width: 100%;
		height: 25px;
		text-align: center;
		background-color: white;
		height: 0px;
		overflow: hidden;
		transition: all linear 0.2s;

		&.expanded {
			border-top: 1px solid #cdcdcd;
			overflow: auto !important;
			height: 25px !important;
		}

		.bar-details-section {
			float: left;
			height: 100%;

			.bar-details-text {
				color: black;
				font-size: 15px;
				margin-left: 30px;
				margin-top: 3px;

				.dot {
					height: 10px;
					width: 10px;
					border-radius: 50%;
					display: inline-block;
					margin-right: 8px;
				}

				.percentage {
					color: gray;
					font-size: 15px;
				}
			}
		}
	}
}
