file-extension-bar-component {
	.bar {
		width: 100%;
		height: 15px;
		color: white;
		text-align: center;
	}

	.float-left {
		height: 100%;
		float: left;
	}

	p {
		font-size: 10px;
		vertical-align: top;
		margin-top: 0;
	}
}
