cc-file-extension-bar {
	z-index: 30;
	display: flex;
	height: 17px;

	cc-distribution-metric-chooser {
		width: 210px;
		display: inline-flex;
		font-size: 12px;

		i.fa {
			margin-top: 2px;
			margin-left: 4px;
			margin-right: 8px;
		}

		.mat-select {
			border-bottom: 0;
		}
	}

	.cc-bar {
		flex: 1;

		.cc-bar-section {
			display: inline-block;
			overflow: hidden;
			color: white;
			text-align: center;
			cursor: pointer;
			outline: none;
			&:not(:last-child) {
				border-right: 1px solid white;
			}

			.cc-bar-section-text {
				font-size: 10px;
				margin: 2px 0px 2px 0px;
				white-space: nowrap;
				padding: 0px 10px 0px 10px;
				text-overflow: "";
			}
		}
	}

	.bar-details {
		display: block;
		width: 100%;
		height: 0px;
		text-align: center;
		background-color: white;
		overflow: hidden;
		transition: all linear 0.2s;
		outline: none;

		&.expanded {
			border-top: 1px solid #cdcdcd;
			overflow: auto !important;
			height: 25px !important;
		}

		&:hover {
			cursor: pointer;
		}

		.bar-details-section {
			float: left;
			height: 100%;

			.bar-details-text {
				color: black;
				font-size: 15px;
				margin-left: 30px;
				margin-top: 3px;

				.dot {
					height: 10px;
					width: 10px;
					border-radius: 50%;
					display: inline-block;
					margin-right: 8px;
				}

				.metric-value {
					color: gray;
					font-size: 15px;

					&.hidden {
						display: none;
					}
				}
			}
		}
	}

	.cc-show-details-button {
		line-height: 10px;
		width: 45px;
		margin: 0;
		padding: 0;
		background-color: rgba(230, 230, 230, 0.96);
	}
}
