.cc-distribution {
    display: flex;
    height: 17px;
    width: 100%;
    position: relative;
    z-index: 5;
    background-color: white;

    .cc-bar {
        display: flex;
        gap: 1px;
        width: 100%;
    }
}
