<div class="bar dark_shadow_opacity">
	<div
		class="float-left"
		ng-repeat-start="item in $ctrl._viewModel.distribution"
		ng-if="!$first"
		ng-style="{ 'width': item.relativeMetricValue + '%', 'background': item.color, 'border-left': '1px solid #fff' }"
	>
		<p title="{{ item.fileExtension }}: {{ item.relativeMetricValue.toFixed(2) }}%">{{ item.fileExtension }}</p>
	</div>
	<div class="float-left" ng-repeat-end ng-if="$first" ng-style="{ 'width': item.relativeMetricValue + '%', 'background': item.color}">
		<p title="{{ item.fileExtension }}: {{ item.relativeMetricValue.toFixed(2) }}%">{{ item.fileExtension }}</p>
	</div>
</div>
