<cc-range-histogram
	[minValue]="(sliderValues$ | async).min"
	[maxValue]="(sliderValues$ | async).max"
	[currentLeftValue]="(sliderValues$ | async).from"
	[currentRightValue]="(sliderValues$ | async).to"
	[values]="(sliderValues$ | async).values"
	[leftColor]="(sliderColors$ | async).leftColor"
	[middleColor]="(sliderColors$ | async).middleColor"
	[rightColor]="(sliderColors$ | async).rightColor"
	[handleValueChange]="handleValueChange"
	[colorMetric]="colorMetric$ | async"
></cc-range-histogram>
