<div *ngIf="!node.isExcluded" class="tree-element-{{ depth }} {{ (node | isNodeLeaf) ? 'tree-leaf' : 'tree-parent' }}">
	<div
		id="{{ node.path }}"
		class="tree-element-label-{{ depth }} tree-element-label"
		[class.hovered]="(hoveredNodeId$ | async) === node.id"
		[class.marked]="(rightClickedNodeData$ | async)?.nodeId === node.id"
		(mouseenter)="onMouseEnter()"
		(mouseleave)="onMouseLeave()"
		(click)="toggleOpen()"
		(contextmenu)="openNodeContextMenu($event)"
		[title]="node.attributes[areaMetric$ | async] > 0 ? '' : 'No Node Area for Chosen Metric'"
	>
		<cc-map-tree-view-item-icon [node]="node" [isOpen]="isOpen"></cc-map-tree-view-item-icon>
		<cc-map-tree-view-item-name [node]="node" [isHovered]="(hoveredNodeId$ | async) === node.id" [unaryValue]="node.attributes.unary">
		</cc-map-tree-view-item-name>

		<cc-map-tree-view-item-option-buttons
			*ngIf="(hoveredNodeId$ | async) === node.id && node.attributes[areaMetric$ | async] > 0"
			[isFlattened]="node.isFlattened"
			[openNodeContextMenu]="openNodeContextMenu"
		></cc-map-tree-view-item-option-buttons>
	</div>

	<div class="tree-element-children tree-element-children-{{ depth }}">
		<ng-container *ngIf="isOpen">
			<div *ngFor="let childNode of node.children">
				<cc-map-tree-view-level [node]="childNode" [depth]="depth + 1"></cc-map-tree-view-level>
			</div>
		</ng-container>
	</div>
</div>
