<p title="{{ customConfigItem.name }}" class="config-name">
	<b>{{ customConfigItem.name }}</b>
</p>
<p class="config-mode">
	<b>{{ customConfigItem.mapSelectionMode | titlecase }} Mode</b>
</p>
<p class="config-metric"><i class="fa fa-arrows-alt"></i> {{ customConfigItem.metrics.areaMetric }}</p>
<p class="config-metric"><i class="fa fa-arrows-v"></i> {{ customConfigItem.metrics.heightMetric }}</p>
<p class="config-metric" *ngIf="customConfigItem.metrics.edgeMetric">
	<i class="fa fa-exchange"></i> {{ customConfigItem.metrics.edgeMetric }}
</p>
<div class="color-schema-container">
	<div class="color-swatch-container" *ngFor="let mapColor of customConfigItem | customConfigColorSchemaBySelectionMode">
		<span class="color-swatch" [style.background-color]="customConfigItem.isApplicable ? mapColor : 'rgb(204, 204, 204)'"></span>
	</div>
</div>
