<div class="config-description-container">
	<p><b>Name: </b>{{ customConfigItem.name }}</p>
	<p><b>Selection Mode:</b> {{ customConfigItem.mapSelectionMode | titlecase }}</p>
	<p><i class="fa fa-arrows-alt"></i> {{ customConfigItem.metrics.areaMetric }}</p>
	<p><i class="fa fa-arrows-v"></i> {{ customConfigItem.metrics.heightMetric }}</p>
	<div class="color-schema-container">
		<p><b>Color Schema: </b></p>
		<div class="color-swatch-container" *ngFor="let mapColor of customConfigItem | customConfigColorSchemaBySelectionMode">
			<span class="color-swatch" [style.background-color]="customConfigItem.isApplicable ? mapColor : 'rgb(204, 204, 204)'"></span>
		</div>
	</div>
</div>
