@use "variables";

:host {
    display: inline-block;
    text-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 0;

    .cc-search-icon {
        margin-right: 8px;
        min-width: 16px;
    }

    .cc-search-input {
        display: inline-block;
        position: relative;

        input {
            width: 204px;
            border-width: 0 0 1px;
            border-color: lightgrey;
            outline: 0;
            font-size: 10pt;
            height: 18px;

            &:focus {
                border-color: variables.$cc-emphasized-color;
                box-shadow: 0 1px 0 0 variables.$cc-emphasized-color;
            }
        }

        > * {
            vertical-align: middle;
            display: inline-block;
            position: relative;
            height: 20px;
        }

        .cc-clear-icon {
            position: absolute;
            right: 0;
            margin: 0;
            height: 18px;
            width: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
        }
    }

    button {
        background-color: transparent;
        box-shadow: none;
        margin-top: 0;
        font-size: 12px;

        &.cc-small-action-button {
            margin: 0 3px 0 3px;
            display: inline-block;
            height: 18px;
            width: 18px;
            vertical-align: top;
        }

        &:hover {
            background-color: lightgrey;
            border-radius: 50%;
        }
    }
}
