@use "variables";

.cc-confirmation-dialog .mat-mdc-dialog-container {
    .confirmation-message {
        padding: 10px;
    }

    .mat-mdc-dialog-actions {
        justify-content: flex-end;

        .mat-mdc-button {
            background-color: variables.$cc-dialog-button-background-color;

            &.submit-button {
                color: rgb(0, 150, 136);
            }
        }
    }
}
