@use "variables";

.cdk-overlay-pane {
    &.cc-custom-config-list {
        width: 850px !important;

        .mat-mdc-dialog-content {
            padding: 16px;
            max-height: 90vh;
        }

        .cc-custom-configs-search-field {
            width: 100%;
            font-size: 14px;

            .custom-config-search-icon {
                color: gray;
                margin-left: 8px;
                font-size: 18px;
            }

            .clear-icon {
                position: absolute;
                right: 0;
                margin: 0;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
            }

            .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
                display: none;
            }

            .mat-mdc-form-field-infix {
                margin-left: 6px;
                display: flex;
            }
        }

        .mat-mdc-list-base {
            padding: 0;
        }

        .mat-mdc-list-item {
            height: max-content;
        }
    }
}
