@use "variables";

mat-dialog-container {
    .cc-dialog {
        &.suspicious-metric-dialog {
            .title {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            .info-text {
                font-size: 14px;
                padding-bottom: 0px;
                color: black;
            }
        }
    }

    mat-dialog-actions {
        --mdc-filled-button-label-text-color: #{variables.$cc-primary-color};
        --mdc-text-button-label-text-color: #{variables.$cc-primary-color};
        --mdc-filled-button-container-color: var(--mdc-filled-text-field-container-color);
        --mdc-filled-button-disabled-container-color: var(--mdc-filled-text-field-container-color);
    }
}
