mat-dialog-container {
    .cc-dialog {
        &.suspicious-metric-dialog {
            .title {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            .info-text {
                font-size: 14px;
                padding-bottom: 0px;
                color: black;
            }
        }
    }
}
