@use "@angular/material" as mat;
@use "theme";
@use "./matMenu";
@use "./matDialog";
@use "./matSelect";
@use "./matSlider";
@use "./matSlideTogglePresentationMode";
@use "./matColorPicker";
@use "./matAttributeTypeSelector";
@use "./matCustomConfigList";
@use "./matCustomConfigItemGroup";
@use "./matExport3DMapDialog";
@use "./matChangeLogDialog.scss";
@use "./matConfirmResetMapDialog.scss";
@use "./matConfirmationDialog";
@use "./matIncompatibleMapsDialog";
@use "./matBlacklistPanel";
@use "./matSuspiciousMetricPanel";

@include mat.elevation-classes();
@include mat.app-background();
@include mat.core-theme(theme.$cc-theme);
@include mat.button-theme(theme.$cc-theme);
@include mat.button-toggle-theme(theme.$cc-theme);
@include mat.progress-spinner-theme(theme.$cc-theme);
@include mat.card-theme(theme.$cc-theme);
@include mat.select-theme(theme.$cc-theme);
@include mat.menu-theme(theme.$cc-theme);
@include mat.dialog-theme(theme.$cc-theme);
@include mat.tooltip-theme(theme.$cc-theme);
@include mat.checkbox-theme(theme.$cc-theme);
@include mat.toolbar-theme(theme.$cc-theme);
@include mat.input-theme(theme.$cc-theme);
@include mat.form-field-theme(theme.$cc-theme);
@include mat.list-theme(theme.$cc-theme);
@include mat.divider-theme(theme.$cc-theme);
@include mat.slider-theme(theme.$cc-theme);
@include mat.slide-toggle-theme(theme.$cc-theme);
