.mat-mdc-menu-content {
    button {
        margin: unset;
    }

    .menu-header {
        font-size: 9pt;
        height: 20px;
        line-height: 20px;
    }

    .mat-mdc-menu-item {
        font-size: 16px;
    }
}
