.mat-menu-content {
	.menu-header {
		font-size: 9pt;
		height: 20px;
		line-height: 20px;
	}

	// overwrite global app.scss style
	button {
		margin: unset;
	}
}

.mat-menu-item {
	font-size: 16px;
}
