.mat-mdc-menu-content {
    button {
        margin: unset;
    }

    .menu-header {
        font-size: 9pt;
        height: 20px;
        line-height: 20px;
    }

    .mat-mdc-menu-item {
        font-size: 16px;
    }
}

.mat-mdc-menu-panel.cc-scenarios-menu {
    width: 420px;
    max-width: unset;

    .mat-mdc-menu-content {
        padding: 0;
    }
}

.mat-mdc-menu-panel.cc-ai-drop-down {
    max-width: 35em;
    padding: 10px;

    .mat-mdc-menu-content {
        padding: 0;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .sub-title {
        font-size: 16px;
    }

    .text-content {
        font-size: 14px;
        padding: 8px 0 16px 0;
    }
}
