@use "./theme";

.mat-select {
	text-align: start;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-select:focus {
	border-bottom-width: 2px;
	border-bottom-color: theme.$cc-primary-color;
}

.mat-option.mat-selected.mat-active {
	color: theme.$cc-emphasized-color;
}
