@use "variables";

.mat-mdc-menu-panel.ai-drop-down.suspicious-metric-panel {
    scrollbar-gutter: stable;

    code {
        background: rgba(230, 230, 230, 0.96);
        font-size: 16px;
    }

    .grid-container-suspicious {
        display: grid;
        column-gap: 4px;
        row-gap: 8px;
        grid-template-columns: auto auto auto;
        place-items: center left;

        #spacer {
            width: 14px;
        }

        &.text-content {
            padding-top: 16px;
        }

        .fa-exclamation-triangle.risk-button-active {
            color: #9c0e6a;
        }
    }

    ul.text-content {
        margin: 0;
        padding-left: 18px;
    }

    .sub-sub-title {
        font-size: 11px;
        color: #999;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .caret-icon-span {
        display: inline-block;
        width: 10px;
        font-size: 16px;
        text-align: center;
    }

    .show-metrics-button {
        background-color: white;
        color: black;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        font-size: 16px;
        padding: 0 0 6px 0;
    }

    .title {
        display: inline-block;
    }

    cc-action-icon {
        margin-left: 6px;
    }

    .sub-title-not-text-content {
        padding-bottom: 8px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 2.5;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    mat-button-toggle {
        height: 35px;
        background-color: rgba(230, 230, 230, 0.96);

        &:enabled:hover {
            background-color: #c8c8c8;
        }
    }

    .mat-button-toggle-checked .mat-button-toggle-label-content .mat-pseudo-checkbox {
        display: none;
    }

    .mat-button-toggle-checked .mat-button-toggle-ripple {
        display: none;
    }
}
