@use "variables";

.cc-slider-container {
    display: flex;
    flex-direction: column;

    .label {
        margin-left: 10px;
        color: variables.$cc-font-color;
    }

    .slider-with-input {
        display: flex;
        align-items: center;
    }

    mat-slider {
        margin: 0 12px;
        flex: 2;
    }

    mat-form-field {
        flex: 1;
        height: 32px;
    }

    .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
        display: none;
    }

    .mat-mdc-text-field-wrapper {
        padding: 0 12px;

        .mat-mdc-form-field-flex {
            align-self: center;

            .mat-mdc-form-field-infix {
                padding: 0;
                min-height: 28px;

                .mat-mdc-input-element {
                    min-height: inherit;
                }
            }
        }
    }
}

.cc-range-slider-container {
    display: flex;
    align-items: center;
    margin: 10px 10px;

    mat-form-field {
        height: 32px;

        .mat-mdc-text-field-wrapper {
            padding: 0 4px;

            .mat-mdc-form-field-flex {
                align-self: center;

                .mat-mdc-form-field-infix {
                    padding: 0 0;
                    min-height: 28px;

                    .mat-mdc-input-element {
                        min-height: inherit;
                    }
                }
            }
        }

        .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
            display: none;
        }
    }
}
