@import "./matSelectMetricChooser";
@import "./matSelectFileSelect";

.cdk-overlay-pane {
    .mat-mdc-select-panel {
        padding: 0;
    }
}

.mat-mdc-select.sorting-option-select {
    width: 105px;
    padding: 2px 8px;
    font-weight: normal;
    line-height: 17px;
    font-size: 10pt;
}
