.gradient-mode-selector {
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-height: 16px;

    margin: 5px 10px;
    width: 195px;
}

.color-row {
    display: flex;
    align-items: center;
}

cc-color-picker-for-map-color {
    width: 50%;
}

cc-reset-settings-button {
    width: 50%;
}
