cc-color-settings-panel {
	&.cc-metric-settings-panel {
		.gradient-mode-selector {
			height: 40px;
			margin: 5px 10px;

		.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
			padding: 10px;
			min-height: 28px;

			.mat-mdc-input-element {
				min-height: inherit;
			}
		}

		.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
			display: none;
			}
		}

		.color-row {
			display: flex;
			align-items: center;
		}
	}
}

cc-color-picker-for-map-color {
	width: 50%;
}

cc-reset-settings-button {
	width: 50%;
}
