.gradient-mode-selector {
    margin: 5px 10px;
    width: 93%;
}

.color-row {
    display: flex;
    align-items: center;
}

cc-color-picker-for-map-color {
    width: 50%;
}

cc-reset-settings-button {
    width: 50%;
}
