cc-color-settings-panel {
	&.cc-metric-settings-panel {
		cc-reset-settings-button {
			display: block;
		}

		.color-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.invert-colors {
			display: flex;
		}
	}
}
