code-map-component {
	view-cube-component {
		position: absolute;
		z-index: 11;
		right: 0px;
		top: 10px;

		&.sideBarVisible {
			right: 350px;
		}
	}

	unfocus-button-component {
		&.sideBarVisible {
			right: 390px;
		}
	}
}
