<div id='codeMap'></div>

<md-card id="codemap-context-menu" ng-show="$ctrl.contextMenuBuilding">
    <md-button ng-click="$ctrl.hideNode()">Hide</md-button>
    <md-button ng-click="$ctrl.isolateNode()">Isolate</md-button>
    <md-button ng-if="$ctrl.nodeIsFolder() && !$ctrl.contextMenuBuilding.highlighted" ng-click="$ctrl.markFolder()">Mark</md-button>
    <md-button ng-if="$ctrl.nodeIsFolder() && $ctrl.contextMenuBuilding.highlighted" ng-click="$ctrl.unmarkFolder()">Unmark</md-button>
    <md-button ng-click="$ctrl.showAllNodes()">Show all</md-button>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.hideContextMenu()">Close</md-button>
    </md-card-actions>
</md-card>