<div #minLabel class="cc-range-slider-label" [style.left.px]="0" [style.visibility]="hideMinLabel ? 'hidden' : 'visible'">
	{{ minValue }}
</div>
<div #currentLeftLabel class="cc-range-slider-label" [style.left.px]="currentLeftLabelLeftPosition">
	{{ currentLeftValue }}
</div>
<div #currentRightLabel class="cc-range-slider-label" [style.left.px]="currentRightLabelLeftPosition">
	{{ currentRightValue }}
</div>
<div #maxLabel class="cc-range-slider-label" [style.right.px]="0" [style.visibility]="hideMaxLabel ? 'hidden' : 'visible'">
	{{ maxValue }}
</div>
