<div class="relative z-10 p-0 h-[46px] rounded-none border-t border-[#cdcdcd] flex-[1_1_0]" [class.overflow-hidden]="!isExpanded">
    <div class="section">
        @if (isHeaderExpandable) {
            <button #toggleHeader type="button" class="section-header mx-0 my-0 h-[31px] text-[#444444] overflow-hidden p-[5px] cursor-pointer border-0 bg-transparent w-full text-left" (click)="toggleSettings()" (keydown.space)="toggleSettings($event)">
                <ng-content select=".toggleHeader"></ng-content>
            </button>
        } @else {
            <div class="section-header mx-0 my-0 h-[31px] text-[#444444] overflow-hidden p-[5px]">
                <ng-content></ng-content>
            </div>
        }

        @if (title || hasSettings) {
            @if (hasSettings) {
                <button #toggle type="button" [class]="'section-title mx-[5px] text-[8pt] text-gray-500 text-center transition-[background-color] duration-400 border-b border-transparent whitespace-nowrap hover:bg-[#e0e0e0] cursor-pointer border-0 bg-transparent w-full ' + (separator ? 'border-t border-[rgba(0,0,0,0.12)]' : '')" (click)="toggleSettings()" (keydown.space)="toggleSettings($event)">
                    {{ title }}
                    <i [class]="'fa fa-angle-' + (isExpanded ? 'up' : 'down')"></i>
                </button>
            } @else {
                <div class="section-title mx-[5px] text-[8pt] text-gray-500 text-center transition-[background-color] duration-400 border-b border-transparent whitespace-nowrap">
                    {{ title }}
                </div>
            }
        }
    </div>

    <ng-content select="cc-ribbon-bar-panel-settings"></ng-content>
</div>
