:host {
    display: flex;
    width: 125%;
    flex-direction: column;
    padding: 6px;
    position: absolute;
    left: 6px;
    top: 45px;
    background: white;
    border: 1px solid #b5b5b5;
    box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
