blacklist-panel-component {
	.header {
		display: block;

		.header-text {
			display: inline-block;
			margin: 0;
		}

		i.fa {
			font-size: 12pt;
			cursor: pointer;
			color: grey;
		}
	}

	md-list-item {
		border-top: 1px solid rgba(0, 0, 0, 0.12);

		&.md-no-proxy {
			padding: 0;
		}
	}

	.pattern-text {
		direction: rtl;
		overflow: hidden;
		width: 100%;
		padding-right: 10px;
	}
}
