<md-list>
	<span class="header">
		<h3 class="header-text">Excluded</h3>
		<em class="fa fa-question-circle-o">
			<md-tooltip>Excluded buildings are not shown in the map and are not included in folder metrics</md-tooltip>
		</em>
	</span>

	<div class="sub-list">
		<md-list-item ng-show="$ctrl._viewModel.exclude.length == 0">
			<div class="pattern-text" layout="column">
				<p>
					<bdi>Add pattern via search or node context-menu</bdi>
				</p>
			</div>
		</md-list-item>

		<md-list-item ng-repeat="item in $ctrl._viewModel.exclude | orderBy: ['path']" title="{{::item.path}}">
			<md-button class="round-button" ng-click="$ctrl.removeBlacklistEntry(item)">
				<em class="fa fa-minus-square" title="Remove list item"></em>
			</md-button>
			<div class="pattern-text" layout="column">
				<p>
					<bdi>{{::item.display_path}}</bdi>
				</p>
			</div>
		</md-list-item>
	</div>
</md-list>
