<md-list>
	<span class="header">
		<h3 class="header-text">Flattened</h3>
		<em class="fa fa-question-circle-o">
			<md-tooltip>Flattened nodes are shown as flat/short buildings and are included in folder metrics</md-tooltip>
		</em>
	</span>

	<div class="sub-list">
		<md-list-item ng-show="$ctrl._viewModel.flatten.length == 0">
			<div class="pattern-text" layout="column">
				<p>
					<bdi>Add pattern via search or node context-menu</bdi>
				</p>
			</div>
		</md-list-item>

		<md-list-item
			ng-repeat="item in $ctrl._viewModel.flatten | orderBy: ['display_path'] track by $ctrl._viewModel.flatten.indexOf(item)"
			title="{{::item.path}}"
		>
			<md-button class="round-button" ng-click="$ctrl.removeBlacklistEntry(item)">
				<em class="fa fa-minus-square" title="Remove list item"></em>
			</md-button>
			<div class="pattern-text" layout="column">
				<p>
					<bdi>{{::item.display_path}}</bdi>
				</p>
			</div>
		</md-list-item>
	</div>
</md-list>
