<md-list>
	<span class="header">
		<h3 class="header-text">Flattened</h3>
		<i class="fa fa-question-circle-o">
			<md-tooltip>Flattened nodes are shown as flat/short buildings and are included in folder metrics</md-tooltip>
		</i>
	</span>

	<div class="sub-list">
		<md-list-item ng-show="$ctrl._viewModel.flatten.length == 0">
			<div class="pattern-text" layout="column">
				<p>
					<bdi>Add pattern via search or node context-menu</bdi>
				</p>
			</div>
		</md-list-item>

		<md-list-item ng-repeat="item in $ctrl._viewModel.flatten | orderBy: ['path'] track by $index+item.path" title="{{::item.path}}">
			<md-button class="round-button" ng-click="$ctrl.removeBlacklistEntry(item)">
				<i class="fa fa-minus-square" title="Remove list item"></i>
			</md-button>
			<div class="pattern-text" layout="column">
				<p>
					<bdi>{{::item.path}}</bdi>
				</p>
			</div>
		</md-list-item>
	</div>
</md-list>
