blacklist-panel-component {
	.small-info {
		color: rgba(0, 0, 0, 0.38);
		font-size: 9pt;
	}

	.md-list-item-text {
		direction: rtl;
		overflow: hidden;
		width: 100%;
	}

	md-list-item.md-no-proxy,
	md-list-item .md-no-style {
		padding: 0;
		margin-left: -15px;
	}
}
