<span
	class="node-name"
	[class.flattened]="node.isFlattened"
	[class.noAreaMetric]="!(node | areaMetricValid : (areaMetric$ | async))"
	[class.angular-green]="(searchedNodePaths$ | async).has(node.path)"
>
	{{ node.name }}
</span>

<span class="unary-number" *ngIf="!(node | isNodeLeaf)">
	<span *ngIf="!isHovered">{{ ((100 * unaryValue) / (rootUnary$ | async)).toFixed(0) }}%</span>
	<span *ngIf="isHovered" [ngPlural]="unaryValue">
		{{ unaryValue }}
		<ng-template ngPluralCase="=1">File</ng-template>
		<ng-template ngPluralCase="other">Files</ng-template>
	</span>
</span>
