cc-labelled-color-picker {
    .cc-labelled-color-picker-container {
        display: flex;
        height: 40px;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        .cc-color-swatch-container {
            position: relative;
            margin: 0px 11px; // Exactly 11px to match the mat-checkbox margin
            width: 18px;
            height: 18px;

            .cc-color-swatch {
                display: inline-block;
                width: inherit;
                height: inherit;
                border-radius: 2px;
            }

            .cc-color-brush {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 0; // handled by component
            }
        }
    }
}

.mat-mdc-menu-panel.cc-color-picker-menu .mat-mdc-menu-content {
    padding: 0;
}

color-chrome .chrome-hue {
    margin-top: 10px;
}
