<cc-color-picker
    [hexColor]="hexColor"
    (onColorChange)="handleColorChange($event)"
    [openXPosition]="'before'"
    [triggerTemplate]="colorPickerTriggerTemplate"
></cc-color-picker>

<ng-template #colorPickerTriggerTemplate let-isOpen="isOpen" let-isHovered="isHovered">
    <div class="cc-labelled-color-picker-container">
        <div class="cc-color-swatch-container">
            <span class="cc-color-swatch" [style.background-color]="hexColor"></span>
            <span
                class="cc-color-brush fa fa-paint-brush"
                [style.color]="hexColor | readableColorForBackground"
                [style.opacity]="isHovered || isOpen ? '1' : '0'"
            >
            </span>
        </div>
        <div class="cc-labelled-color-picker-label">
            @for (label of labels; track label; let last = $last) {
                <span>
                    {{ label }}
                    @if (!last) {
                        <br />
                    }
                </span>
            }
        </div>
    </div>
</ng-template>
