:host {
    display: block;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
            color: blue;
        }

        &:active {
            color: red;
        }
    }

    i.fa.fa-external-link {
        font-size: 10px;
        min-width: 10px;
        text-align: center;
    }

    span {
        display: inline-block;

        &.bold {
            font-weight: 600;
        }
    }
}
