<ng-container *ngIf="legendMetric.title; then titleExists; else onlyShowName" class="legend-block"></ng-container>
<ng-template #titleExists>
	<ng-container *ngIf="legendMetric.description; then showTitleAndDescription; else showTitle"></ng-container>
</ng-template>

<ng-template #showTitleAndDescription>
	<div title="{{ legendMetric.metricName + ': ' + legendMetric.description }}">
		{{ metricFor }} metric (<span class="bold">{{ legendMetric.metricName }}</span
		>: {{ legendMetric.title }})
	</div>
</ng-template>
<ng-template #showTitle>
	<div title="{{ legendMetric.metricName }}">
		{{ metricFor }} metric (<span class="bold">{{ legendMetric.metricName }}</span
		>: {{ legendMetric.title }})
	</div>
</ng-template>
<ng-template #onlyShowName>
	<div title="{{ legendMetric.metricName }}">
		{{ metricFor }} metric: <span class="bold">{{ legendMetric.metricName }}</span>
	</div>
</ng-template>
