@use "variables";

button {
    position: absolute;
    top: 0;
    right: 15px;
    width: 36px;
    height: 36px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: variables.$cc-primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &.cc-shadow {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    }

    &:hover {
        cursor: pointer;
        background-color: variables.$cc-emphasized-color;
    }
}
