<md-input-container>
	<i class="fa fa-exchange"></i>

	<md-select ng-model="$ctrl._viewModel.edgeMetric" ng-change="$ctrl.onEdgeMetricSelected('pairingRate')">
		<md-option ng-repeat="metric in $ctrl._viewModel.edgeMetricData" value="{{::metric.name}}">
			{{::metric.name}}
			<span class="metric-max-value">({{::metric.maxValue}})</span>
		</md-option>
	</md-select>

	<div>
		<edge-metric-type-component></edge-metric-type-component>
		<span class="metric-value"
			>{{ ($ctrl._viewModel.hoveredEdgeValue | number) || "-" }}
			<span ng-hide="!$ctrl.hoveredEdgeDelta">(&Delta;{{ $ctrl.hoveredEdgeDelta | number }})</span>
		</span>
	</div>
</md-input-container>
