<md-input-container>
	<i class="fa fa-exchange"></i>
	<md-tooltip ng-if="$ctrl.noEdgesAvailable()" md-delay="200">
		Edges indicate relationships between classes. Use the analysis to create edges.
	</md-tooltip>

	<md-select
		ng-model="$ctrl._viewModel.edgeMetric"
		ng-change="$ctrl.onEdgeMetricSelected('pairingRate')"
		ng-disabled="$ctrl.noEdgesAvailable()"
	>
		<md-option ng-repeat="metric in $ctrl._viewModel.edgeMetricData" value="{{::metric.name}}">
			{{::metric.name}}
			<span class="metric-max-value">({{::metric.maxValue}})</span>
		</md-option>
	</md-select>

	<div>
		<edge-metric-type-component></edge-metric-type-component>
		<span class="metric-value"
			>{{ ($ctrl._viewModel.hoveredEdgeValue.incoming | number) || "-" }} /
			{{ ($ctrl._viewModel.hoveredEdgeValue.outgoing | number) || "-" }}
		</span>
	</div>
</md-input-container>
