<md-slider-container class="md-block" title="Display the labels of the {{ $ctrl._viewModel.amountOfTopLabels }} highest buildings">
	<span>Labels</span>
	<md-slider
		flex
		step="1"
		min="0"
		max="20"
		ng-model="$ctrl._viewModel.amountOfTopLabels"
		id="labels-slider"
		ng-change="$ctrl.applySettingsAmountOfTopLabels()"
		class="md-primary"
	>
	</md-slider>
	<md-input-container>
		<input
			flex
			step="1"
			min="0"
			max="200"
			type="number"
			ng-model="$ctrl._viewModel.amountOfTopLabels"
			ng-change="$ctrl.applySettingsAmountOfTopLabels()"
			aria-controls="labels-slider"
		/>
	</md-input-container>
</md-slider-container>

<md-input-container class="md-block">
	<md-checkbox class="md-primary" ng-model="$ctrl._viewModel.showNodeName" ng-change="$ctrl.applySettingsMetricLabelNodeNameChanged()">
		Show label node names
	</md-checkbox>
	<br />
	<md-checkbox class="md-primary" ng-model="$ctrl._viewModel.showMetricValue" ng-change="$ctrl.applySettingsMetricLabelValueChanged()">
		Show label node metrics
	</md-checkbox>
</md-input-container>

<md-slider-container class="md-block" title="Adjust buildings height">
	<span>Height</span>
	<md-slider
		flex
		step="0.1"
		min="0.1"
		max="5"
		ng-model="$ctrl._viewModel.scalingY"
		id="y-scale-slider"
		hirg
		ng-change="$ctrl.applySettingsScaling()"
		class="md-primary"
	>
	</md-slider>
	<md-input-container>
		<input
			flex
			step="0.1"
			min="0.1"
			max="5"
			type="number"
			ng-model="$ctrl._viewModel.scalingY"
			ng-change="$ctrl.applySettingsScaling()"
			aria-controls="y-scale-slider"
		/>
	</md-input-container>
</md-slider-container>

<md-input-container class="md-block" ng-if="!$ctrl._viewModel.isDeltaState">
	<md-checkbox class="md-primary" ng-model="$ctrl._viewModel.invertHeight" ng-change="$ctrl.applySettingsInvertHeight()">
		Invert Height
	</md-checkbox>
</md-input-container>

<reset-settings-button-component
	settings-names="appSettings.amountOfTopLabels, appSettings.scaling.y, appSettings.invertHeight"
	tooltip="Reset height metric settings to their defaults"
></reset-settings-button-component>
