<div class="custom-configs">
	<md-menu class="custom-configs-component">
		<md-button class="custom-configs-button" ng-click="$ctrl.initView(); $mdMenu.open($event);" title="Open your saved Custom Configs">
			<i class="fa fa-cogs"></i>
		</md-button>

		<md-menu-content class="custom-configs-drop-down" width="7">
			<md-menu-item class="custom-configs-item">
				<md-button class="custom-configs-dialog-name" ng-disabled="true">Custom Configs</md-button>

				<md-button
					class="action-button"
					onclick="document.getElementById('input-file-id').click()"
					title="Upload Custom Configs (.cc.config.json file)."
				>
					<i class="fa fa-folder-open" aria-hidden="true"></i>
				</md-button>
				<md-button
					ng-click="$ctrl.downloadPreloadedCustomConfigs()"
					ng-disabled="!$ctrl._viewModel.hasDownloadableConfigs"
					class="action-button"
					title="Download Custom Configs related to currently uploaded maps, if any."
				>
					<i class="fa fa-download" aria-hidden="true"></i>
				</md-button>
				<md-button ng-click="$ctrl.showAddCustomConfigSettings()" class="action-button" title="Create new Custom Config">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</md-button>
			</md-menu-item>

			<md-divider></md-divider>

			<md-menu-item ng-if="!$ctrl._viewModel.dropDownCustomConfigItemGroups.length" class="custom-configs-item">
				<md-button disabled>It is time to add your first CustomConfig.</md-button>
			</md-menu-item>

			<md-menu-item
				class="custom-configs-item"
				ng-repeat="customConfigItemGroup in $ctrl._viewModel.dropDownCustomConfigItemGroups |
                     limitTo: $ctrl._viewModel.visibleEntries"
			>
				<md-button
					class="button-hovering"
					ng-click="collapsed=!collapsed"
					ng-style="!customConfigItemGroup.hasApplicableItems && { color: 'rgba(0,0,0,0.3)' }"
					md-prevent-menu-close="md-prevent-menu-close"
				>
					<span class="collapse-trigger">
						Custom Configs in <strong>{{ customConfigItemGroup.mapSelectionMode | lowercase }}</strong> mode for
						<strong>{{ customConfigItemGroup.mapNames }}</strong>
					</span>
					<i ng-show="!collapsed" class="collapse-icon fa fa-arrow-down"></i>
					<i ng-show="collapsed" class="collapse-icon fa fa-arrow-up"></i>
				</md-button>

				<div class="collapsable" ng-show="collapsed">
					<div class="custom-configs-item" ng-repeat="customConfig in customConfigItemGroup.customConfigItems">
						<md-button
							class="button-hovering"
							ng-click="$ctrl.applyCustomConfig(customConfig.id)"
							ng-disabled="!customConfig.isApplicable"
							title="{{
								customConfig.isApplicable
									? 'Apply Custom Config'
									: 'This one is applicable for map(s) ' +
									  customConfig.mapNames +
									  ' in ' +
									  customConfig.mapSelectionMode +
									  ' mode only.'
							}}"
						>
							{{ customConfig.name }}
						</md-button>

						<md-button
							ng-click="$ctrl.removeCustomConfig(customConfig.id, $index, $parent.$index)"
							md-prevent-menu-close="md-prevent-menu-close"
							class="action-button remove button-hovering"
							title="Remove Custom Config"
						>
							<i class="fa fa-minus-square"></i>
						</md-button>
					</div>
				</div>
			</md-menu-item>
			<button
				ng-show="$ctrl._viewModel.showNonApplicableButton"
				ng-click="$ctrl.toggleNonApplicableItems();"
				md-prevent-menu-close="md-prevent-menu-close"
			>
				{{
					$ctrl._viewModel.visibleEntries < $ctrl._viewModel.dropDownCustomConfigItemGroups.length
						? "Show non-applicable CustomConfigs"
						: "Hide non-applicable CustomConfigs"
				}}
				<i
					ng-class="
						$ctrl._viewModel.visibleEntries < $ctrl._viewModel.dropDownCustomConfigItemGroups.length
							? 'fa fa-angle-down'
							: 'fa fa-angle-up'
					"
				></i>
			</button>
		</md-menu-content>
	</md-menu>

	<md-menu class="custom-configs-component">
		<md-button
			class="custom-configs-button plus"
			ng-click="$ctrl.showAddCustomConfigSettings();"
			title="Quick save current view as a Custom Config"
		>
			<i class="fa fa-plus"></i>
		</md-button>
		<md-menu-content></md-menu-content>
	</md-menu>
</div>
