<md-dialog class="download-dialog">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Export File</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container class="input-container md-block">
				<label>FileName</label>
				<input class="filename-input" type="text" ng-model="$ctrl._viewModel.fileName" />
				<span class="cc-file-extension">.cc.json</span>
			</md-input-container>

			<p class="">The file includes:</p>
			<p class="dialog-list">Nodes ({{ $ctrl._viewModel.amountOfNodes }})</p>
			<p class="dialog-list">AttributeTypes ({{ $ctrl._viewModel.amountOfAttributeTypes }})</p>

			<md-input-container class="input-container md-block" ng-repeat="item in $ctrl._viewModel.fileContent" class="md-block">
				<md-checkbox class="dialog-list md-primary" ng-disabled="::item.isDisabled" ng-model="::item.isSelected">
					<span>{{::item.name}} ({{::item.numberOfListItems}})</span>
				</md-checkbox>
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="$ctrl.download()" class="md-primary">Save</md-button>
	</md-dialog-actions>
</md-dialog>
