<md-dialog class="download-dialog">
	<md-toolbar>
		<h2 class="md-toolbar-tools">Export File</h2>
	</md-toolbar>

	<md-dialog-content class="md-dialog-content">
		<md-input-container class="input-container md-block">
			<label>FileName</label>
			<input class="filename-input" type="text" ng-model="$ctrl._viewModel.fileName" />
			<span class="cc-file-extension">.cc.json</span>
		</md-input-container>

		<p>The file includes:</p>
		<md-checkbox ng-disabled="true" class="dialog-list md-block md-checked">Nodes ({{ $ctrl._viewModel.amountOfNodes }})</md-checkbox>
		<md-checkbox ng-disabled="true" class="dialog-list md-block md-checked"
			>AttributeTypes ({{ $ctrl._viewModel.amountOfAttributeTypes }})</md-checkbox
		>

		<md-input-container class="input-container md-block" ng-repeat="item in $ctrl._viewModel.fileContent" class="md-block">
			<md-checkbox class="dialog-list md-primary" ng-disabled="::item.isDisabled" ng-model="::item.isSelected">
				<span>{{::item.name}} ({{::item.numberOfListItems}})</span>
			</md-checkbox>
		</md-input-container>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="$ctrl.download()" class="md-primary">Save</md-button>
	</md-dialog-actions>
</md-dialog>
