<md-dialog class="custom-config-dialog">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Custom Config</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container class="md-block">
				<label>View Name</label>
				<input
					class="custom-config-input"
					type="text"
					ng-model="$ctrl._viewModel.customConfigName"
					ng-on-show="$ctrl.validateCustomConfigName()"
					ng-on-keyup="$ctrl.validateCustomConfigName()"
				/>
			</md-input-container>
			<div class="md-block" ng-show="$ctrl._viewModel.addErrorMessage.length > 0">
				<div class="error">
					<i class="fa fa-warning"></i>
					<span>{{ $ctrl._viewModel.addErrorMessage }}</span>
				</div>
			</div>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<span class="warning" ng-show="$ctrl._viewModel.localStorageSizeWarningMessage.length > 0">
			<span>{{ $ctrl._viewModel.localStorageSizeWarningMessage }}</span>
		</span>
		<span ng-show="$ctrl._viewModel.localStorageSizeWarningMessage.length > 0">
			<md-button ng-click="$ctrl.showPurgeConfirmDialog()" class="md-warn" title="Download old unused Configs as a backup file and then delete them in the browser.">Download & Purge ...</md-button>
		</span>

		<md-button ng-click="$ctrl.addCustomConfig()" ng-disabled="!$ctrl.isNewCustomConfigValid()" class="md-primary">Add</md-button>
	</md-dialog-actions>
</md-dialog>
