<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>URL Parameters</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<h3>Parameters</h3>
			<label>The web application allows the usage of two query parameters in the URL.</label>
			<ul>
				<li>
					<b>file</b> parameter can be used multiple times. Each accepts a file location, which must be reachable through XHR.
					With multiple file parameters, you can load more than one map.
				</li>

				<li><b>mode</b> parameter can be used to set one of the three different modes:</li>
				<ul>
					<li><b>Single</b> will only show the first imported files</li>
					<li><b>Delta</b> will show the first two imported files</li>
					<li><b>Multiple</b> will show all imported files aggregated together in one map</li>
				</ul>
			</ul>

			<h3>Examples</h3>
			<md-input-container class="md-block">
				<textarea readonly>
https://yourdomain.com/path/to/codeCharta/index.html?file=something.json
https://yourdomain.com/path/to/codeCharta/index.html?file=reference.json&file=comparison.json&mode=Delta
https://yourdomain.com/path/to/codeCharta/index.html?file=component1.json&file=component2.json&mode=Multiple
                </textarea>
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="$ctrl.hide()" class="md-primary">Close</md-button>
	</md-dialog-actions>
</md-dialog>
