<md-dialog class="changelog-dialog">
	<md-toolbar>
		<h2 class="md-toolbar-tools">Changelog</h2>
	</md-toolbar>

	<md-dialog-content class="md-dialog-content">
		<h1>What is new in CodeCharta?</h1>
		<h2>{{ $ctrl._viewModel.lastOpenedVersion }} -> {{ $ctrl._viewModel.currentVersion }}</h2>
		<div class="content">
			<div ng-repeat="(key, value) in $ctrl._viewModel.changes">
				<h2>{{ key }}</h2>
				<ul ng-bind-html="value"></ul>
			</div>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<a href="https://maibornwolff.github.io/codecharta/news/" class="md-primary">Know more</a>
		<md-button ng-click="$ctrl.hide()" class="md-secondary">Close</md-button>
	</md-dialog-actions>
</md-dialog>
