<md-dialog class="global-settings">
	<md-toolbar>
		<h2 class="md-toolbar-tools">Global Settings</h2>
	</md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<layout-selection-component></layout-selection-component>
			<tree-map-start-depth-component></tree-map-start-depth-component>
			<md-input-container class="input-container md-block">
				<md-checkbox
					class="md-primary"
					ng-model="$ctrl._viewModel.hideFlatBuildings"
					ng-change="$ctrl.applySettingsHideFlatBuildings()"
				>
					Hide Flattened Buildings
				</md-checkbox>
			</md-input-container>

			<md-input-container class="input-container md-block">
				<md-checkbox
					class="md-primary"
					ng-model="$ctrl._viewModel.resetCameraIfNewFileIsLoaded"
					ng-change="$ctrl.applySettingsResetCamera()"
				>
					Reset Camera when changing map
				</md-checkbox>
			</md-input-container>

			<md-input-container class="input-container md-block">
				<md-checkbox
					class="md-primary"
					ng-model="$ctrl._viewModel.isWhiteBackground"
					ng-change="$ctrl.applySettingsIsWhiteBackground()"
				>
					White Background
				</md-checkbox>
			</md-input-container>

			<a class="weblink" href="https://github.com/MaibornWolff/codecharta/blob/master/README.md" target="_blank">
				<i class="fa fa-external-link"></i>Manual
			</a>

			<a class="weblink" href="https://github.com/MaibornWolff/codecharta/" target="_blank">
				<i class="fa fa-external-link"></i>Github
			</a>

			<a class="weblink" href="https://github.com/MaibornWolff/codecharta/wiki" target="_blank">
				<i class="fa fa-external-link"></i>Wiki
			</a>

			<reset-settings-button-component
				autofocus="false"
				settings-names="appSettings.hideFlatBuildings, appSettings.isWhiteBackground, appSettings.resetCameraIfNewFileIsLoaded"
			></reset-settings-button-component>
		</div>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button ng-click="$ctrl.hide()" class="md-primary" autofocus>Close</md-button>
	</md-dialog-actions>
</md-dialog>
