
md-dialog {
    min-width: 50% !important;
}

md-input-container {
    margin: 0 !important;
    padding: 0 !important;
}

p.dialog-label {
    margin-top: 0;
}

.filename-input {
    width: 80% !important;
}

.cc-file-extension {
    color: grey;
    vertical-align: -webkit-baseline-middle !important;
}