.input-container {
	margin: 0 !important;
	padding: 0;

	&.md-block {
		display: block;
	}
}

cc-reset-settings-button {
	text-align: right;
}

.icon-link {
	font-size: 16px !important;
	margin-left: 6px;
	margin-right: 13px;
}

.md-toolbar-tools {
	color: white;
}

.download-dialog,
.global-settings,
.custom-config-dialog {
	min-width: 50%;
}

.download-dialog {
	.dialog-list {
		margin: 5px 0 5px 0;

		&.md-block {
			display: block;
			margin-top: 8px;
		}
	}

	.filename-input {
		width: 80%;
	}

	.cc-file-extension {
		color: grey;
		vertical-align: -webkit-baseline-middle;
	}
}

.custom-config-dialog {
	.warning {
		color: #ff6161;
	}
	.md-warn {
		color: #ffffff;
		background: #ff6161;
	}
	.md-warn:hover,
	.md-warn:focus {
		background: red;
	}
	.error {
		color: red;
	}
}
