.input-container {
	margin: 0;
	padding: 0;

	&.md-block {
		display: block;
	}
}

.download-dialog,
.global-settings {
	min-width: 50%;
}

.download-dialog {
	.dialog-list {
		margin: 5px 0 5px 0;

		&.md-block {
			display: block;
			margin-top: 8px;
		}
	}

	.filename-input {
		width: 80%;
	}

	.cc-file-extension {
		color: grey;
		vertical-align: -webkit-baseline-middle;
	}
}

.global-settings {
	.weblink {
		display: block;
		margin: 0 0 10px 0;
		color: rgba(0, 0, 0, 0.870588);
		text-decoration: none;

		i {
			margin-right: 15px;
			color: rgba(0, 0, 0, 0.54);
		}
	}

	.md-dialog-content {
		position: relative;
	}

	reset-settings-button-component button {
		top: 10px;
		bottom: initial;
		right: 0;
	}
}
