<md-dialog aria-label="url param dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>URL Parameters</h2>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <label>You can copy these parameters and append them as URL parameters to your CodeCharta URL in order to apply the current settings. Ctrl/Cmd + C to copy selection.</label>
            <md-input-container class="md-block">
                <textarea readonly ng-model="$ctrl._queryParams" md-select-on-focus md-auto-focus md-no-resize></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button ng-click="$ctrl.hide()" class="md-primary">Close</md-button>
    </md-dialog-actions>
</md-dialog>