@if (isOpen()) {
    <div
        id="legend-panel"
        data-testid="legend-panel"
        class="rounded-box border-base-300 bg-base-100 fixed z-[60] flex w-72 max-w-[30vw] flex-col border shadow-lg transition-[right] duration-300"
        [style.right]="panelRight()"
        [style.bottom]="panelBottom"
    >
        <div class="flex flex-col gap-3 p-3">
            <ng-container [ngTemplateOutlet]="legendContent()"></ng-container>
        </div>
    </div>
}

<cc-legend-toggle-button [isOpen]="isOpen()" [isMovedAsideByInspector]="isMovedAsideByInspector()" (togglePanel)="toggleIsOpen()"></cc-legend-toggle-button>
