@use "app/material/theme";

#customConfigNoteDialogButton {
	white-space: nowrap;
	min-width: auto;
	font-size: 12px;
	margin: 0;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
		color: theme.$cc-primary-color;
		border-radius: 50%;
	}
}
