<button mat-button (click)="toggleSubList()">
	Custom View(s) in <strong>{{ customConfigItemGroup.mapSelectionMode | lowercase }}</strong> mode for
	{{ customConfigItemGroup.mapNames }}
	<i [ngClass]="isCollapsed ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
</button>
<mat-list *ngIf="isCollapsed">
	<mat-list-item *ngFor="let customConfig of customConfigItemGroup.customConfigItems">
		<button
			title="{{
				customConfig.isApplicable
					? 'Apply Custom Config'
					: 'This one is applicable for map(s) ' + customConfig.mapNames + ' in ' + customConfig.mapSelectionMode + ' mode only.'
			}}"
			mat-dialog-close
		>
			{{ customConfig.mapNames }}
		</button>
		<button title="Remove Custom Config" (click)="removeCustomConfig(customConfig.id)">
			<i class="fa fa-minus-square"></i>
		</button>
	</mat-list-item>
</mat-list>
