.custom-config-toolbar {
    background-color: #1b9cfc !important;
    color: #ffffff !important;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.custom-config-documentation-hint {
    margin: 10px 0 20px 0;
    font-size: 1.4em;
    line-height: 1.4em;
    color: rgba(0, 0, 0, 0.87);
}

.no-custom-configs-box {
    text-align: center;
    padding: 50px 0;
}

.toggle-non-applicable-configs-button {
    width: 100%;
    height: 30px;
    margin: 5px 0;
}
