<mat-dialog-content class="content" *ngIf="customConfigService.customConfigItemGroups$ | async; let dropDownCustomConfigItemGroups">
	<div class="row">
		<div class="title">
			<h3>Custom Views</h3>
		</div>
		<div class="action-buttons">
			<cc-upload-custom-config-button></cc-upload-custom-config-button>
			<cc-download-custom-configs-button></cc-download-custom-configs-button>
			<cc-add-custom-config-button class="custom-configs-button-in-custom-views"></cc-add-custom-config-button>
		</div>
	</div>
	<div class="description">
		Custom Views allow you to save and upload your individual configurations for certain maps. Find out more about Custom Views in the
		<a href="https://maibornwolff.github.io/codecharta/docs/custom-view/" target="_blank" rel="noopener noreferrer">documentation</a>.
	</div>
	<mat-divider></mat-divider>
	<div
		class="no-custom-configs-box"
		*ngIf="dropDownCustomConfigItemGroups.applicableItems.size === 0 && dropDownCustomConfigItemGroups.nonApplicableItems.size === 0"
	>
		It is time to add your first Custom View!
	</div>
	<mat-accordion class="custom-config-container" [multi]="true">
		<cc-custom-config-item-group
			[customConfigItemGroups]="dropDownCustomConfigItemGroups.applicableItems"
		></cc-custom-config-item-group>
		<cc-custom-config-item-group
			*ngIf="!isCollapsed"
			class="non-applicable-configs-group"
			[customConfigItemGroups]="dropDownCustomConfigItemGroups.nonApplicableItems"
		></cc-custom-config-item-group>
		<button
			class="toggle-non-applicable-configs-button"
			*ngIf="dropDownCustomConfigItemGroups.nonApplicableItems.size > 0"
			(click)="toggleNonApplicableCustomConfigsList()"
		>
			{{ isCollapsed ? "Show non-applicable Custom Views" : "Hide non-applicable Custom Views" }}
			<i [ngClass]="isCollapsed ? 'fa fa-angle-down' : 'fa fa-angle-up'"></i>
		</button>
	</mat-accordion>
</mat-dialog-content>
