<mat-dialog-content>
	<mat-list>
		<mat-list-item class="test" *ngFor="let customConfigItemGroup of dropDownCustomConfigItemGroups.applicableItems | keyvalue">
			<cc-custom-config-item-group [customConfigItemGroup]="customConfigItemGroup.value"></cc-custom-config-item-group>
		</mat-list-item>
		<button (click)="toggleNonApplicableCustomConfigsList()">
			{{
				dropDownCustomConfigItemGroups.nonApplicableItems.size > 0
					? "Show non-applicable Custom Views"
					: "Hide non-applicable Custom Views"
			}}
		</button>
		<ng-container *ngIf="!isCollapsed">
			<mat-list-item class="test" *ngFor="let customConfigItemGroup of dropDownCustomConfigItemGroups.nonApplicableItems | keyvalue">
				<cc-custom-config-item-group [customConfigItemGroup]="customConfigItemGroup.value"></cc-custom-config-item-group>
			</mat-list-item>
		</ng-container>
	</mat-list>
</mat-dialog-content>
