<div style="display: flex; justify-content: center; align-items: center" id="cc-range-histogram-container"></div>

<div>
	<mat-form-field appearance="outline" class="slider-value-input-field" style="padding-right: 10px">
		<mat-label>Low threshhold</mat-label>
		<input
			matInput
			type="number"
			[value]="currentLeftValue"
			[min]="minValue"
			[max]="currentRightValue"
			(input)="this.handleCurrentLeftInputChanged($event)"
		/>
	</mat-form-field>

	<mat-form-field appearance="outline" class="slider-value-input-field" style="padding-left: 10px">
		<mat-label>High threshhold</mat-label>
		<input
			matInput
			type="number"
			[value]="currentRightValue"
			[max]="maxValue"
			[min]="currentLeftValue"
			(input)="this.handleCurrentRightInputChanged($event)"
		/>
	</mat-form-field>
</div>

<!-- (input)="this.handleCurrentLeftInputChanged($event)"
			[min]="minValue"
			[max]="upcomingRightValue"

            (input)="this.handleCurrentRightInputChanged($event)"
			[min]="upcomingLeftValue"
			[max]="maxValue" -->
