/* ==========================================================================
   Copy of the minmal mistakes Default skin
   Minimal mistakes has several skin files, see this one called air: https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/skins/_air.scss
   Also check out other .scss files like the masthead: https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_masthead.scss
   ========================================================================== */

// change the background color by uncommenting the following:
// $background-color: #eeeeee !default;

// masthead
.masthead {
	// background-color: #f0f0f0 !important; // override
}

.greedy-nav {
	// background-color: #f0f0f0 !important; // override
}
