<span
	class="node-name"
	[class.flattened]="node.isFlattened"
	[class.angular-green]="searchedNodePaths$ | async | mapTreeViewItemSearchedNameHighlight: node.path"
>
	{{ node.name }}
</span>

<span class="unary-number" *ngIf="!(node | isNodeLeaf)">
	<span *ngIf="!isHovered">{{ unaryPercentage }}%</span>
	<span *ngIf="isHovered" [ngPlural]="unaryValue">
		{{ unaryValue }}
		<ng-template ngPluralCase="=1">File</ng-template>
		<ng-template ngPluralCase="other">Files</ng-template>
	</span>
</span>
