ul {
    margin: 0;
}

.cc-risk-profiles {
    margin: 0 -10px -10px;
    display: flex;
}

.cc-risk-profile {
    height: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.cc-low-risk {
        background-color: #5cb34d;
    }

    &.cc-moderate-risk {
        background-color: #eef432;
    }

    &.cc-high-risk {
        background-color: #cc2900;
    }

    &.cc-very-high-risk {
        background-color: #9c0e6a;
    }
}

.sub-title {
    font-size: 16px;
}
