<button [matMenuTriggerFor]="menu" title="Open High Risk Profile" class="cc-ribbon-bar-menu-button">
    <i class="fa fa-bar-chart"></i>
</button>

<mat-menu #menu="matMenu" class="ai-drop-down high-risk-profile">
    @if (data.riskProfile !== undefined) {
        <div class="title">Risk Profile</div>
        <div class="text-content">
            The Risk Profile gives a quick overview about the complexity and risk structure of the code base. It tells you how much of the
            code is placed in files associated with low/high risk in means of maintainability. The separation of code in risk classes like
            low or high complexity is based on Java reference metric values and therefore may be inaccurate for other programming languages.
            More information can be found in the
            <a target="_blank" rel="noopener" href="https://maibornwolff.github.io/codecharta/docs/suspicious-metrics/"
                >How-To Article <i class="fa fa-external-link"></i></a
            >.
        </div>
        <div class="sub-title">
            <div><i class="fa fa-lightbulb-o"></i> Calculations are always based on cyclomatic complexity!</div>
        </div>
        <div class="text-content">
            <ul>
                <li>{{ data.riskProfile.lowRisk }}% of overall code is in files with low complexity</li>
                <li>{{ data.riskProfile.moderateRisk }}% of overall code is in files with moderate complexity</li>
                <li>{{ data.riskProfile.highRisk }}% of overall code is in files with high complexity</li>
                <li>{{ data.riskProfile.veryHighRisk }}% of overall code is in files with extreme complexity</li>
            </ul>
        </div>
        <div class="risk-profiles">
            <div
                [ccRiskProfileBar]="data.riskProfile.lowRisk"
                title="Low Risk ({{ data.riskProfile.lowRisk }}% of code)"
                class="risk-profile low-risk"
            >
                {{ data.riskProfile.lowRisk }}%
            </div>
            <div
                [ccRiskProfileBar]="data.riskProfile.moderateRisk"
                title="Moderate Risk ({{ data.riskProfile.moderateRisk }}% of code)"
                class="risk-profile moderate-risk"
            >
                {{ data.riskProfile.moderateRisk }}%
            </div>
            <div
                [ccRiskProfileBar]="data.riskProfile.highRisk"
                title="High Risk ({{ data.riskProfile.highRisk }}% of code)"
                class="risk-profile high-risk"
            >
                {{ data.riskProfile.highRisk }}%
            </div>
            <div
                [ccRiskProfileBar]="data.riskProfile.veryHighRisk"
                title="Very High Risk ({{ data.riskProfile.veryHighRisk }}% of code)"
                class="risk-profile very-high-risk"
            >
                {{ data.riskProfile.veryHighRisk }}%
            </div>
        </div>
    }
    @if (data.riskProfile === undefined) {
        <span>
            Could not calculate Risk Profile. At least one of the metrics rloc (real lines of code) or complexity (cyclomatic complexity) is
            not available.
        </span>
        <br /><br />
        <span>
            Be aware that complexity was previously named mcc. Old maps which still contain mcc instead of complexity need to be regenerated
            for the risk profile to work.
        </span>
    }
</mat-menu>
