map-tree-view-search-component {

  md-input-container {
    height: 45px !important;
  }

  .found-nodes {
    margin-top: -4px !important;
    margin-left: 3px;
    float: left;
  }

  .menu-button {
    margin-top: -7px !important;
    float: right;
  }

  .node-count {
    background: #eee;
    color: black;
    padding: 4px 8px !important;
    margin-right: 4px;
  }

  .node-count i {
    margin-left: 6px;
  }
}