
<md-input-container class="md-block">
    <label>Search by gitignore style</label>
    <input type='text' ng-model="$ctrl.viewModel.searchPattern" ng-change="$ctrl.onSearchChange($ctrl.viewModel.searchPattern)">
</md-input-container>

<div class="found-nodes angular-green">
    <span>Found:</span>
    <span>{{$ctrl.viewModel.folderCount}} <i class="fa fa-folder"></i></span>
    <span>{{$ctrl.viewModel.fileCount}} <i class="fa fa-file"></i></span>
</div>

<md-menu>
    <md-button class="menu-button round-button" ng-click="$mdMenu.open($event)"
               title="Add to Blacklist..."
               ng-disabled="$ctrl.viewModel.folderCount + $ctrl.viewModel.fileCount == 0">
        <i class="fa fa-list"></i>
    </md-button>
    <md-menu-content width="2">
        <md-menu-item style="min-height: 20px; height: 20px;">
            <md-button style="min-height: 20px; height: 20px; line-height: 20px; font-size: 9pt; text-align: center;" ng-disabled="true">Blacklist</md-button>
        </md-menu-item>
        <md-divider></md-divider>
        <md-menu-item>
            <md-button ng-disabled="$ctrl.viewModel.isPatternExcluded" ng-click="$ctrl.onClickBlacklistPattern('exclude')"><i class="fa fa-ban"></i> Exclude</md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-disabled="$ctrl.viewModel.isPatternHidden" ng-click="$ctrl.onClickBlacklistPattern('hide')"><i class="fa fa-eye-slash"></i> Hide</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<br>
