.pinned {
    background-color: rgba($color: #979797, $alpha: 1);
}

button {
    height: 25px;
    background: #e6e6e6;
    padding: 1px 8px;
}

.box-rounded {
    display: inline-block;
    font-weight: normal;
    line-height: 17px;
    font-size: 10pt;
    margin-top: 2px;
    min-width: 20px;
    border-radius: 4px;
    text-align: center;
}
