@use "../../../../../material/theme";

.mat-mdc-menu-panel.cc-scenarios-menu {
	width: 420px;
	max-width: unset;

	.mat-mdc-menu-content {
		padding: 0;
	}

	.cc-row {
		display: flex;
		height: 48px;
		align-items: center;

		[disabled] {
			color: rgba(0, 0, 0, 0.38);
		}

		.cc-apply-scenario-button {
			padding-left: 16px;
			padding-right: 16px;
			height: 100%;
			flex: 1;
			text-align: left;
			background-color: unset;

			&:hover:not([disabled]) {
				background-color: rgba(158, 158, 158, 0.2);
			}
		}

		.cc-action-button {
			width: 52px;
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&.cc-add {
				background-color: theme.$cc-primary-color;
			}

			&.cc-remove {
				border-left: 1px solid rgba(0, 0, 0, 0.12);
				color: #b30000;
				background-color: unset;
				&:hover:not([disabled]) {
					background-color: rgba(158, 158, 158, 0.2);
				}
			}
		}

		i.fa {
			font-size: x-small;
		}

		.cc-scenario-content-icons {
			padding: 0 8px;
			color: #d3d3d3;
			i.fa.cc-is-saved {
				color: black;
			}
		}
	}
}
