<div class="cc-row">
	<button class="cc-apply-scenario-button" disabled>Metric Scenarios</button>
	<button title="Create a custom scenario" class="cc-action-button cc-add" (click)="addScenario()"><i class="fa fa-plus"></i></button>
</div>

<mat-divider></mat-divider>

@for (scenario of scenarios; track scenario) {
<div class="cc-row">
	<button
		title="Apply scenario"
		class="cc-apply-scenario-button"
		[disabled]="!scenario.isScenarioApplicable"
		(click)="scenarioService.applyScenario(scenario.scenarioName)"
	>
		{{ scenario.scenarioName }}
	</button>
	@for (icon of scenario.icons; track icon) {
	<span [title]="icon.tooltip" class="cc-scenario-content-icons">
		<i class="fa {{ icon.faIconClass }}" [class.cc-is-saved]="icon.isSaved"></i>
	</span>
	}
	<button
		title="Remove custom scenario"
		class="cc-action-button cc-remove"
		(click)="scenarioService.removeScenario(scenario.scenarioName)"
	>
		<i class="fa fa-minus-square"></i>
	</button>
</div>
}
