cc-map-tree-view {
	.tree-element-0 {
		overflow-y: auto;
		max-height: 400px;
		margin-left: 3px;
		margin-top: 10px;

		div {
			margin: 0;
			padding: 0;
			position: relative;
		}

		.tree-element-children {
			margin-left: 19px;
		}
	}

	.tree-leaf .tree-element-label {
		cursor: default;
	}

	.tree-element-label {
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover,
		&.hovered {
			background-color: #efefef;
			border-radius: 2px;
		}
		&.marked {
			background-color: #efefef;
			border-radius: 2px;
		}

		.unary-number {
			color: #a3a3a3;
			font-size: 0.8em;
			margin-top: 1px;
		}

		.node-type-icon {
			display: inline-block;
			width: 14px;
			margin-left: 2px;
		}

		.node-name.flattened {
			color: gray;
		}

		.node-name.noAreaMetric {
			color: #bdbdbd;
		}

		.right-aligned {
			position: absolute;
			right: 6px;

			i.flattened {
				color: gray;
			}

			.small-action-button button {
				min-height: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				background-color: transparent;
				box-shadow: none;

				&:hover {
					background-color: #ddd;
				}

				i {
					position: absolute;
					top: 2px;
					left: 6px;
				}
			}
		}
	}
}
