<div class="secondary-metrics-wrapper">
	<div class="metrics-wrapper">
		<div class="metric-box scrollable-content">
			<table class="secondary-metrics" aria-hidden="true">
				<tr>
					<th scope="col" colspan="2">Secondary Metrics</th>
				</tr>
				<tr
					*ngFor="let secondaryMetric of secondaryMetrics$ | async"
					class="metric-row"
					[title]="secondaryMetric.descriptors | metricDescriptorTitle"
				>
					<td class="metric-summary">
						<span class="metric-type">
							<cc-attribute-type-selector
								*ngIf="showAttributeTypeSelector$ | async"
								class="attribute-type-select"
								[metricName]="secondaryMetric.name"
								[metricType]="'nodes'"
							>
							</cc-attribute-type-selector>
						</span>
						<span class="metric-value">{{ secondaryMetric.value | number: "1.0-0" }}</span>
					</td>
					<td [hidden]="!(showDeltaValue$ | async)">
						<cc-metric-delta-selected [metricName]="secondaryMetric.name"></cc-metric-delta-selected>
					</td>
					<td class="metric-name">{{ secondaryMetric.name }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
