.secondary-metrics-wrapper {
    position: relative;

    &:after {
        content: "";
        clear: both;
        display: block;
    }

    .metrics-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 12px;
    }

    .secondary-metrics {
        border-spacing: 0 2px;
        border-collapse: separate;
    }
}
