<div class="secondary-metrics-wrapper">
	<div class="metrics-wrapper">
		<div class="metric-box scrollable-content">
			<table class="secondary-metrics" aria-hidden="true">
				<tr>
					<th scope="col" colspan="2">Secondary Metrics</th>
				</tr>
				<tr *ngFor="let secondaryMetric of secondaryMetrics$ | async" [title]="secondaryMetric.descriptors | metricDescriptorTitle">
					<td class="secondary-metric-box">
						<div class="secondary-metric-row">
							<cc-attribute-type-selector
								*ngIf="showAttributeTypeSelector$ | async"
								class="attribute-type-select"
								[metricName]="secondaryMetric.name"
								[metricType]="'nodes'"
							>
							</cc-attribute-type-selector>
							<span class="metric-value">{{ secondaryMetric.value | number: "1.0-0" }}</span>
						</div>
					</td>
					<td class="delta-value-box" [hidden]="!(showDeltaValue$ | async)">
						<cc-metric-delta-selected [metricName]="secondaryMetric.name"></cc-metric-delta-selected>
					</td>
					<td>
						<a
							class="metric-name"
							[href]="link"
							target="_blank"
							class="metric-name"
							*ngIf="secondaryMetric.descriptors.link as link; else secondaryMetricNoLink"
						>
							{{ secondaryMetric.name }}
							<i class="fa fa-external-link"></i>
						</a>
						<ng-template #secondaryMetricNoLink
							><span class="metric-name">{{ secondaryMetric.name }}</span></ng-template
						>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
