{
  "ignore": [],
  "env": {
    "testing": {
      "presets": ["es2015", { "modules": true }],
      "plugins": []
    },
    "production": {
      "presets": [["es2015", { "modules": "commonjs" }]],
      "plugins": []
    },
    "development": {
      "presets": [["es2015", { "modules": "commonjs" }]],
      "plugins": []
    }
  }
}