@use "variables";

.state-selector-button {
    height: 24px;
    width: 66px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 10pt;

    &:hover {
        background-color: rgba(230, 230, 230, 0.96);
    }

    &.left {
        border-radius: 5px 0 0 5px;
    }

    &.right {
        border-radius: 0 5px 5px 0;
    }

    &.current {
        background-color: variables.$cc-primary-color;
        color: #ffffff;
    }

    &.current:hover {
        background-color: variables.$cc-primary-color;
    }
}
