<cc-action-icon
	[icon]="'fa fa-cube'"
	title="Download STL file for 3D printing (single material, geometry only)"
	(click)="downloadStlFile()"
></cc-action-icon>
<cc-action-icon
	[icon]="'fa fa-cubes'"
	title="Download STL files for multi-color 3D printing (one STL per color, import all together to merge in slicer)"
	(click)="downloadMultipleStlFiles()"
></cc-action-icon>
<cc-action-icon [icon]="'fa fa-code'" title="Download OpenSCAD code file" (click)="downloadOpenScadFile()"></cc-action-icon>
<cc-action-icon [icon]="'fa fa-print'" title="Download 3MF code file" (click)="download3MFFile()"></cc-action-icon>
