cc-export-threed-map-button {
	margin-left: 8px;
	.mat-flat-button.mat-accent,
	.mat-raised-button.mat-accent,
	.mat-fab.mat-accent,
	.mat-mini-fab.mat-accent {
		background-color: rgb(0, 150, 136);
	}
	.button-icon {
		font-size: 16px;
		line-height: 1.3;
	}
	span {
		padding: 0;
		margin: 0;
	}
	.mat-mini-fab .mat-button-wrapper {
		height: 25px;
		width: 25px;
		display: block;
		padding: 0;
	}
}
