<cc-explorer-header></cc-explorer-header>
<cc-explorer-search-bar></cc-explorer-search-bar>
<cc-explorer-sort-control></cc-explorer-sort-control>
<div id="explorer-scroll" class="flex-1 overflow-auto px-1 py-1">
    <cc-explorer-tree></cc-explorer-tree>
</div>
<cc-rules-popover kind="flatten" popoverId="explorer-flatten-rules" anchorName="explorer-flat-chip"></cc-rules-popover>
<cc-rules-popover kind="exclude" popoverId="explorer-hidden-rules" anchorName="explorer-hidden-chip"></cc-rules-popover>
