presentation-mode-button-component {
	/* The switch - the box around the slider */
	.presentation-mode-button {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 24px;
		margin-right: 10px;
	}

	/* Hide default HTML checkbox */
	.presentation-mode-button input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		outline: none;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 4px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #009688;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(25px);
		-ms-transform: translateX(25px);
		transform: translateX(25px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 30px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	.presentation-mode-icon {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
	}
}
