file-panel-component {
	width: calc(100% - 150px);
	min-width: 400px;
	display: inline-block;

	.delta-chooser {
		position: absolute;
		display: inline-flex;
		min-width: 70%;
	}

	.mode-chooser {
		display: inline-flex;
		vertical-align: middle;
		margin-left: 10px;
		margin-right: 10px;
	}

	.state-selector-button {
		&.toolbar-selector {
			height: 24px;
			width: 55px;
			background-color: #ffffff;

			&.middle {
				border-left: 1px solid rgba(230, 230, 230, 0.96);
				border-right: 1px solid rgba(230, 230, 230, 0.96);
			}

			&.current {
				background-color: rgb(0, 150, 136);
				color: #ffffff;
			}
			&.current:hover {
				background-color: rgb(0, 150, 136);
			}
			.text {
				display: block;
				margin-top: -5px;

				&:active {
					padding: -5px;
					margin: -5px;
				}
			}
		}
	}

	.pictogram {
		display: inline-flex;
		width: 10px;
		margin-right: 5px;
		padding-left: 5px;
		height: 22px;
		border-radius: 2px;
		align-self: center;
	}

	md-input-container {
		display: inline-block;
		text-align: left;
		font-size: 11pt;
		width: calc(100% - 250px);
		max-width: 300px;
		min-width: 150px;

		&.delta-select {
			width: calc((100% - 300px) / 2);
		}

		md-select {
			display: block;

			.md-select-value {
				background: white;
				margin-right: 5px;
				border-radius: 5px;
				padding-left: 5px;
				min-height: 22px;

				span {
					margin-top: -3px;
				}
			}
		}

		> * {
			display: inline-block;
		}

		i.fa {
			color: rgb(0, 150, 136);
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 3px;
			min-width: 16px;

			&:hover {
				color: black;
				cursor: pointer;
			}
		}
	}
}
