<section layout="row" layout-align="center center" class="mode-chooser">
	<md-button
		class="state-selector-button left"
		ng-class="{current: $ctrl._viewModel.isSingleState}"
		ng-click="$ctrl.onSingleStateSelected()"
		><span class="text">Single</span></md-button
	>
	<md-button
		class="state-selector-button middle"
		ng-class="{current: $ctrl._viewModel.isPartialState}"
		ng-click="$ctrl.onPartialStateSelected()"
		><span class="text">Multiple</span></md-button
	>
	<md-button
		class="state-selector-button right"
		ng-class="{current: $ctrl._viewModel.isDeltaState}"
		ng-click="$ctrl.onDeltaStateSelected()"
		><span class="text">Delta</span></md-button
	>
</section>

<md-input-container ng-show="$ctrl._viewModel.isSingleState">
	<md-select
		ng-model="$ctrl._viewModel.selectedFileNames.single"
		ng-change="$ctrl.onSingleFileChange($ctrl._viewModel.selectedFileNames.single)"
	>
		<md-option ng-repeat="fileState in $ctrl._viewModel.fileStates" value="{{::fileState.file.fileMeta.fileName}}">
			<md-truncate>{{::fileState.file.fileMeta.fileName}}</md-truncate>
		</md-option>
	</md-select>
</md-input-container>

<md-input-container ng-show="$ctrl._viewModel.isPartialState">
	<md-select
		ng-model="$ctrl._viewModel.selectedFileNames.partial"
		multiple="{{ true }}"
		ng-change="$ctrl.onPartialFilesChange($ctrl._viewModel.selectedFileNames.partial)"
	>
		<md-button ng-click="$ctrl.selectAllPartialFiles()">All</md-button>
		<md-button ng-click="$ctrl.selectZeroPartialFiles()">None</md-button>
		<md-button ng-click="$ctrl.invertPartialFileSelection()">Invert</md-button>

		<md-option ng-repeat="fileState in $ctrl._viewModel.fileStates" value="{{::fileState.file.fileMeta.fileName}}">
			<md-truncate>{{::fileState.file.fileMeta.fileName}}</md-truncate>
		</md-option>
	</md-select>
</md-input-container>

<div class="delta-chooser" ng-show="$ctrl._viewModel.isDeltaState">
	<md-input-container class="delta-select">
		<md-select
			ng-model="$ctrl._viewModel.selectedFileNames.delta.reference"
			ng-change="$ctrl.onDeltaReferenceFileChange($ctrl._viewModel.selectedFileNames.delta.reference)"
		>
			<md-option ng-repeat="fileState in $ctrl._viewModel.fileStates" value="{{::fileState.file.fileMeta.fileName}}">
				<md-truncate>{{::fileState.file.fileMeta.fileName}}</md-truncate>
			</md-option>
		</md-select>
	</md-input-container>

	<md-input-container class="delta-select">
		<md-select
			ng-model="$ctrl._viewModel.selectedFileNames.delta.comparison"
			ng-change="$ctrl.onDeltaComparisonFileChange($ctrl._viewModel.selectedFileNames.delta.comparison)"
		>
			<md-option ng-repeat="fileState in $ctrl._viewModel.fileStates" value="{{::fileState.file.fileMeta.fileName}}">
				<md-truncate>{{::fileState.file.fileMeta.fileName}}</md-truncate>
			</md-option>
		</md-select>
	</md-input-container>
</div>
