file-panel-component {
	width: calc(100% - 100px);
	min-width: 400px;
	display: block;

	.delta-chooser {
		min-width: 600px;
	}

	.mode-chooser {
		display: block;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 3px;
	}

	.state-selector-button {
		height: 24px !important;
		width: 55px !important;
		background-color: #ffffff !important;

		&.middle {
			border-left: 1px solid rgba(230, 230, 230, 0.96) !important;
			border-right: 1px solid rgba(230, 230, 230, 0.96) !important;
		}

		&.current {
			background-color: rgb(0, 150, 136) !important;
			color: #ffffff !important;
		}

		&.current:hover {
			background-color: rgb(0, 150, 136) !important;
		}

		.text {
			display: block;
			margin-top: -5px;
			padding-top: -5px;

			&:active {
				padding: -5px;
				margin: -5px;
			}
		}
	}

	md-input-container {
		display: block;
		text-align: left;
		float: left;
		margin: 0;
		font-size: 11pt;
		width: calc(100% - 250px);
		max-width: 300px;
		min-width: 150px;

		&.delta-select {
			width: calc((100% - 250px) / 2);
		}

		md-select {
			display: block;

			.md-select-value {
				background: white;
				margin-right: 5px;
				margin-top: 5px;
				border-radius: 5px;
				padding-left: 5px;
				min-height: 22px;

				span {
					margin-top: -3px;
				}
			}
		}

		> * {
			display: inline-block;
		}

		i.fa {
			color: rgb(0, 150, 136);
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 3px;
			min-width: 16px;

			&:hover {
				color: black;
				cursor: pointer;
			}
		}
	}
}
