cc-height-settings-panel {
	background: white;
	border: 1px solid #b5b5b5;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	padding: 8px;
	position: absolute;
	font-size: 0.9em;
	width: 240px;
	transition: opacity 0ms, max-height 200ms ease-in-out;
	top: 45px;
	right: 0;

	&.hidden {
		max-height: 0;
		opacity: 0;
		transition: max-height 200ms ease-in-out, opacity 0ms 200ms;
	}

	.cc-height-settings-panel-row {
		margin: 8px 0;
	}

	.cc-height-settings-panel-reset-row {
		display: flex;

		mat-checkbox {
			flex: 1;
		}

		cc-reset-settings-button {
			margin-top: -8px;
		}
	}
}
