<div class="metric-value" ng-show="$ctrl._viewModel.hoveredNode">
	<div class="rounded-box">
		<cc-metric-type [attribute-type]="'nodes'" [metric-for]="'areaMetric'"></cc-metric-type>
		<span class="value">{{ $ctrl._viewModel.hoveredNode.attributes[$ctrl._viewModel.areaMetric] | number }}</span>
	</div>
	<div class="rounded-box" ng-show="$ctrl._viewModel.hoveredNode.deltas">
		<span class="value">&Delta;{{ $ctrl._viewModel.hoveredNode.deltas[$ctrl._viewModel.areaMetric] | number }}</span>
	</div>
</div>
