<md-input-container class="md-block" ng-if="$ctrl.show == 'single' || $ctrl.show == 'delta'"
                    ng-class="{half: $ctrl.show == 'delta'}">
    <md-select ng-model="$ctrl.ui.chosenReference" ng-change="$ctrl.onReferenceChange($ctrl.ui.chosenReference)">
        <md-option ng-repeat="(key, value) in $ctrl.revisions" value="{{::key}}">
            {{::value.fileName}}
        </md-option>
    </md-select>
</md-input-container>
<md-input-container class="md-block" ng-if="$ctrl.show == 'delta'"
                    ng-class="{half: $ctrl.show == 'delta'}">
    <label>In comparison to</label>
    <md-select ng-model="$ctrl.ui.chosenComparison" ng-change="$ctrl.onComparisonChange($ctrl.ui.chosenComparison)">
        <md-option ng-repeat="(key, value) in $ctrl.revisions" value="{{::key}}">
            {{::value.fileName}}
        </md-option>
    </md-select>
</md-input-container>

<aggregate-settings-panel-component ng-if="$ctrl.show == 'aggregate'"></aggregate-settings-panel-component>

