<md-input-container class="md-block"
                    ng-class="{half: $ctrl._viewModel.renderMode == 'Delta'}"
                    ng-if="$ctrl._viewModel.renderMode != 'Multiple'">
    <i class="fa fa-folder-open"></i>
    <i class="fa fa-download"></i>

    <md-select ng-model="$ctrl._viewModel.chosenReference" ng-change="$ctrl.onReferenceChange($ctrl._viewModel.chosenReference)">
        <md-option ng-repeat="file in $ctrl.importedFiles" value="{{::key}}">
            <md-truncate>{{::file.fileMeta.fileName}}</md-truncate>
        </md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block second"
                    ng-class="{half: $ctrl._viewModel.renderMode == 'Delta'}"
                    ng-if="$ctrl._viewModel.renderMode == 'Delta'">
    <md-select ng-model="$ctrl._viewModel.chosenComparison" ng-change="$ctrl.onComparisonChange($ctrl._viewModel.chosenComparison)">
        <md-option ng-repeat="file in $ctrl.importedFiles" value="{{::key}}">
            <md-truncate>{{::file.fileMeta.fileName}}</md-truncate>
        </md-option>
    </md-select>
</md-input-container>

<multiple-file-panel-component ng-if="$ctrl._viewModel.renderMode == 'Multiple'"></multiple-file-panel-component>

