<md-input-container class="md-block"
                    ng-class="{half: $ctrl.settingsService.settings.kindOfMap == KindOfMap.Delta}"
                    ng-if="$ctrl.settingsService.settings.kindOfMap != KindOfMap.Aggregate">
    <i class="fa fa-folder-open" onclick="document.getElementById('input-file-id').click();"></i>

    <md-select ng-model="$ctrl.ui.chosenReference" ng-change="$ctrl.onReferenceChange($ctrl.ui.chosenReference)">
        <md-option ng-repeat="(key, value) in $ctrl.revisions" value="{{::key}}">
            <md-truncate>{{::value.fileName}}</md-truncate>
        </md-option>
    </md-select>
</md-input-container>

<md-input-container class="md-block second"
                    ng-class="{half: $ctrl.settingsService.settings.kindOfMap == KindOfMap.Delta}"
                    ng-if="$ctrl.settingsService.settings.kindOfMap == KindOfMap.Delta">
    <md-select ng-model="$ctrl.ui.chosenComparison" ng-change="$ctrl.onComparisonChange($ctrl.ui.chosenComparison)">
        <md-option ng-repeat="(key, value) in $ctrl.revisions" value="{{::key}}">
            <md-truncate>{{::value.fileName}}</md-truncate>
        </md-option>
    </md-select>
</md-input-container>

<aggregate-settings-panel-component ng-if="$ctrl.settingsService.settings.kindOfMap == KindOfMap.Aggregate"></aggregate-settings-panel-component>

