revision-chooser-file-drop-down-component{

  $dropdownWidth: 275;

  md-input-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    top: -5px;
    width: $dropdownWidth + px;
  }

  md-input-container.half {
    display: inline-block;
    width: ($dropdownWidth / 2) + px;
  }
}