revision-chooser-file-drop-down-component{
  md-input-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    top: -5px;
    width: 100px;
  }

  md-input-container.half {
    display: inline-block;
    width: 40%;
  }
}