<div class="row">
    <div class="col l12">
        Show...
    </div>
    <div class="input-field col l12">
        <select class="browser-default" ng-model="$ctrl.ui.chosenReference" ng-options="value.fileName for (key, value) in $ctrl.revisions" ng-change="$ctrl.onReferenceChange($ctrl.ui.chosenReference)">
        </select>
    </div>
</div>

<div class="row" ng-if="$ctrl.settingsService.settings.deltas">
    <div class="col l12">
        In comparison to...
    </div>
    <div class="input-field col l12">
        <select class="browser-default" ng-model="$ctrl.ui.chosenComparison" ng-options="value.fileName for (key, value) in $ctrl.revisions" ng-change="$ctrl.onComparisonChange($ctrl.ui.chosenComparison)">
        </select>
    </div>
</div>
