search-bar-component {
	display: inline-block;

	.search-icon {
		display: inline-block;
		vertical-align: text-top;
		margin-right: 6px;
		min-width: 16px;
	}

	md-input-container {
		font-size: 11pt;
		width: 200px;
		position: relative;
		top: -5px;
		min-height: 0px !important;
		vertical-align: middle;
		height: 30px;

		> * {
			vertical-align: middle;
			display: inline-block;
		}

		#searchInput {
			padding-right: 24px;
		}
		
		.clear-icon {
			position: absolute;
			right: 0;
			margin: 0;
			margin-top: 2px;

			i {
				color: red;
			}
		}
	}


	.small-action-button {
		margin: 0px 5px 0px 5px;
		display: inline-block;
	}
}
