search-bar-component {
	display: block;

	.search-icon {
		vertical-align: middle;
		margin-top: 5px;
		float: left;
		margin-right: 10px;
		min-width: 16px;
	}

	md-input-container {
		font-size: 11pt;
		width: 200px;
		position: relative;
		top: -5px;
		min-height: 0px !important;
		vertical-align: middle;
		height: 30px;
		float: left;

		> * {
			margin: 0;
			padding: 0;
			vertical-align: middle;
			display: inline-block;
		}
	}

	.small-action-button {
		margin-left: 10px;
	}
}
