search-bar-component {
	display: inline-block;

	.search-icon {
		display: inline-block;
		vertical-align: text-top;
		margin-right: 6px;
		min-width: 16px;
	}

	md-input-container {
		font-size: 11pt;
		width: 200px;
		position: relative;
		top: -5px;
		min-height: 0px !important;
		vertical-align: middle;
		height: 30px;

		> * {
			vertical-align: middle;
			display: inline-block;
		}
	}

	.small-action-button {
		margin: 0px 5px 0px 5px;
		display: inline-block;
	}
}
