<mat-expansion-panel
	[expanded]="isExpanded"
	(opened)="isExpanded = true"
	(closed)="isExpanded = false"
	*ngFor="let customConfigItemGroup of customConfigItemGroups | keyvalue"
>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Custom View(s) in
			<span class="highlight-mode"> {{ customConfigItemGroup.value.mapSelectionMode === "MULTIPLE" ? "Standard" : "Delta" }} </span>
			mode for
			{{ customConfigItemGroup.value.mapNames }}
		</mat-panel-title>
	</mat-expansion-panel-header>
	<mat-list *ngFor="let customConfig of customConfigItemGroup.value.customConfigItems">
		<mat-list-item title="{{ customConfig | customConfig2ApplicableMessage }}">
			<button
				mat-dialog-close
				[disabled]="!customConfig.isApplicable"
				(click)="applyCustomConfig(customConfig.id)"
				[style.color]="customConfig | customConfig2ApplicableColor"
			>
				<div class="config-description-container">
					<span class="description-text"><strong>Name: </strong>{{ customConfig.name }}</span>
					<span class="description-text"
						><strong>Selection Mode: </strong> {{ customConfig.mapSelectionMode === "MULTIPLE" ? "Standard" : "Delta" }}</span
					>
					<span class="description-text"><i class="fa fa-arrows-alt"></i> {{ customConfig.areaMetric }}</span>
					<span class="description-text"><i class="fa fa-arrows-v"></i> {{ customConfig.heightMetric }}</span>
					<div class="color-schema-container">
						<span><strong>Color Schema: </strong></span>
						<div class="cc-color-swatch-container" *ngFor="let mapColor of customConfig.mapColors | keyvalue">
							<span class="cc-color-swatch" [style.background-color]="mapColor.value"></span>
						</div>
					</div>
				</div>
			</button>
			<button class="remove-button" title="Remove Custom View" (click)="removeCustomConfig(customConfig.id)">
				<i class="fa fa-minus-square"></i>
			</button>
		</mat-list-item>
	</mat-list>
</mat-expansion-panel>
