<mat-expansion-panel
	[expanded]="isExpanded"
	(opened)="isExpanded = true"
	(closed)="isExpanded = false"
	*ngFor="let customConfigItemGroup of customConfigItemGroups | keyvalue"
>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Custom View(s) in
			<span class="highlight-mode"> {{ customConfigItemGroup.value.mapSelectionMode | lowercase }} </span>
			mode for
			{{ customConfigItemGroup.value.mapNames }}
		</mat-panel-title>
	</mat-expansion-panel-header>
	<mat-list *ngFor="let customConfig of customConfigItemGroup.value.customConfigItems">
		<mat-list-item title="{{ isCustomConfigApplicableService.customConfigInfoMessage.msg }}">
			<button
				mat-dialog-close
				[style.color]="
					isCustomConfigApplicableService.customConfigInfoMessage.isFullyApplicable ? 'rgb(0,0,0)' : 'rgba(16,16,16,0.3)'
				"
				[disabled]="!customConfig.isApplicable"
				(click)="applyCustomConfig(customConfig.id)"
				(mouseover)="isCustomConfigApplicableService.buildMessage(customConfig)"
			>
				{{ customConfig.name }}
			</button>
			<button class="remove-button" title="Remove Custom Config" (click)="removeCustomConfig(customConfig.id)">
				<i class="fa fa-minus-square"></i>
			</button>
		</mat-list-item>
	</mat-list>
</mat-expansion-panel>
