cc-custom-config-item-group {
	div {
		.configNoteAndButton {
			display: flex;
			align-items: center;
			position: absolute;
			top: 15px;
		}

		.metrics-box {
			margin-right: 30px;
		}
	}

	p {
		&.config-item-name {
			font-size: 15px;
			margin-top: 10px;
			margin-bottom: 30px;
			text-align: left;
			flex: 0 0 22em;
			&:hover {
				cursor: pointer;
			}
		}

		&.config-item-note {
			white-space: nowrap;
			min-width: auto;
			font-size: 10px;
			margin: 5px 0;
			text-align: left;
			flex: 0 0 22em;
			color: grey;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
