.collapse {
    border-radius: 0;
}

.text-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.custom-config-item-group-title {
    color: rgba(0, 0, 0, 0.87);
}

.metrics-box {
    margin-top: 10px;
}

.custom-config-note {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.custom-config-action-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    margin: 0;
    white-space: pre-line;

    &.custom-config-note-content {
        margin-right: 7px;
        font-size: 13px;
    }
}

.remove-button {
    font-size: 16px;
    padding: 8px 10px;
    margin: 0;
    background-color: transparent;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: #1b9cfc;
        border-radius: 50%;
    }
}
