<div class="w-full">
    <label class="label" for="mapLayoutSelect">
        <span class="label-text">Map Layout</span>
    </label>
    <select
        id="mapLayoutSelect"
        class="select select-bordered w-full"
        [value]="layoutAlgorithm()"
        (change)="handleSelectedLayoutAlgorithmChanged($event)"
    >
        @for (layoutAlgorithm of layoutAlgorithms; track layoutAlgorithm) {
            <option [value]="layoutAlgorithm">
                {{ layoutAlgorithm }}
            </option>
        }
    </select>
</div>

@if (showTreeMapSlider()) {
    <div class="w-full mt-4">
        <label class="label" for="maxTreeMapFiles">
            <span class="label-text">Maximum TreeMap Files</span>
        </label>
        <div class="flex gap-4 items-center">
            <input
                type="range"
                id="maxTreeMapFiles"
                min="1"
                max="1000"
                [value]="maxTreeMapFiles()"
                (input)="handleMaxTreeMapFilesRangeInput($event)"
                class="range range-primary flex-1"
            />
            <input
                type="number"
                [value]="maxTreeMapFiles()"
                (input)="handleMaxTreeMapFilesNumberInput($event)"
                min="1"
                max="1000"
                class="input input-bordered w-24"
            />
        </div>
    </div>
}
