detail-panel-component {

    #detailWindow {

        $detail-border-color: #dfdfdf;

        max-height: 50%;
        overflow-y: auto;

        position: fixed;
        z-index: 40;
        bottom: 0.5em;
        left: 0.5em;
        color: #5A585A;
        font-size: 0.8em;

        table.minimized {
            td, th {
                min-width: initial;
                max-width: initial;
            }
        }

        table {

            background-color: #fff;
            text-align: left;
            border-collapse: collapse;
            border: 0;

            th {
                border-bottom: 1px $detail-border-color solid;

                i.fa {
                    cursor: pointer;
                }
            }

            tr:not(:first-child) th {
                border-top: 1px $detail-border-color solid;
            }

            td:not(:first-child),
            th:not(:first-child){
                border-left: 1px $detail-border-color solid;
            }

            td, th {
                padding: 4px;
                min-width: 300px;
                max-width: 350px;
                -ms-word-break: break-all;
                word-break: break-all;
            }

            tr>td:nth-child(2),
            tr>th:nth-child(2),
            tr>td:first-child,
            tr>th:first-child {
                min-width: 0;
            }

        }

    }

}