<!--TODO reduce watchers-->

<div id="detailWindow" class="dark_shadow_opacity" ng-hide="!($ctrl.isSelected() || $ctrl.isHovered())">
	<table class="minimized" ng-hide="$ctrl._viewModel.maximizeDetailPanel">
		<thead>
			<tr>
				<th ng-hide="!$ctrl.isHovered()">{{ $ctrl._viewModel.details.hovered.path }}</th>
				<th ng-click="$ctrl.toggleDetailPanel()">
					<i class="fa fa-arrow-down"></i>
				</th>
			</tr>
		</thead>
	</table>

	<table ng-hide="!$ctrl._viewModel.maximizeDetailPanel">
		<thead>
			<tr>
				<th ng-click="$ctrl.toggleDetailPanel()">
					<i class="fa fa-arrow-up"></i>
				</th>
				<th>Property</th>
				<th ng-hide="!$ctrl.isSelected()" class="selectedHeader">Selected</th>
				<th ng-hide="!$ctrl.isHovered()" class="hoveredHeader">Hovered</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td>Name</td>
				<td ng-hide="!$ctrl.isSelected()">{{ $ctrl._viewModel.details.selected.name }}</td>
				<td ng-hide="!$ctrl.isHovered()">{{ $ctrl._viewModel.details.hovered.name }}</td>
			</tr>
			<tr>
				<td><i class="fa fa-arrows-alt"></i></td>
				<td>{{ $ctrl._viewModel.details.common.areaAttributeName }}</td>
				<td ng-hide="!$ctrl.isSelected()">
					{{ $ctrl._viewModel.details.selected.area | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.selected.areaDelta"
						>(&Delta;{{ $ctrl._viewModel.details.selected.areaDelta | number: 2 }})</span
					>
				</td>
				<td ng-hide="!$ctrl.isHovered()">
					{{ $ctrl._viewModel.details.hovered.area | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.hovered.areaDelta"
						>(&Delta;{{ $ctrl._viewModel.details.hovered.areaDelta | number: 2 }})</span
					>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-arrows-v"></i></td>
				<td>{{ $ctrl._viewModel.details.common.heightAttributeName }}</td>
				<td ng-hide="!$ctrl.isSelected()">
					{{ $ctrl._viewModel.details.selected.height | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.selected.heightDelta"
						>(&Delta;{{ $ctrl._viewModel.details.selected.heightDelta | number: 2 }})</span
					>
				</td>
				<td ng-hide="!$ctrl.isHovered()">
					{{ $ctrl._viewModel.details.hovered.height | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.hovered.heightDelta"
						>(&Delta;{{ $ctrl._viewModel.details.hovered.heightDelta | number: 2 }})</span
					>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-paint-brush"></i></td>
				<td>{{ $ctrl._viewModel.details.common.colorAttributeName }}</td>
				<td ng-hide="!$ctrl.isSelected()">
					{{ $ctrl._viewModel.details.selected.color | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.selected.colorDelta"
						>(&Delta;{{ $ctrl._viewModel.details.selected.colorDelta | number: 2 }})</span
					>
				</td>
				<td ng-hide="!$ctrl.isHovered()">
					{{ $ctrl._viewModel.details.hovered.color | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.hovered.colorDelta"
						>(&Delta;{{ $ctrl._viewModel.details.hovered.colorDelta | number: 2 }})</span
					>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-file"></i></td>
				<td>Origin</td>
				<td ng-hide="!$ctrl.isSelected()">{{ $ctrl._viewModel.details.selected.origin }}</td>
				<td ng-hide="!$ctrl.isHovered()">{{ $ctrl._viewModel.details.hovered.origin }}</td>
			</tr>
			<tr>
				<td><i class="fa fa-location-arrow"></i></td>
				<td>Path</td>
				<td ng-hide="!$ctrl.isSelected()">
					<a ng-if="$ctrl._viewModel.details.selected.link" target="_blank" href="{{ $ctrl._viewModel.details.selected.link }}">{{
						$ctrl._viewModel.details.selected.path
					}}</a>
					<a ng-if="!$ctrl._viewModel.details.selected.link">{{ $ctrl._viewModel.details.selected.path }}</a>
				</td>

				<td ng-hide="!$ctrl.isHovered()">
					<a ng-if="$ctrl._viewModel.details.hovered.link" target="_blank" href="{{ $ctrl._viewModel.details.hovered.link }}">{{
						$ctrl._viewModel.details.hovered.path
					}}</a>
					<a ng-if="!$ctrl._viewModel.details.hovered.link">{{ $ctrl._viewModel.details.hovered.path }}</a>
				</td>
			</tr>
			<tr>
				<th></th>
				<th>Property</th>
				<th ng-hide="!$ctrl.isSelected()" class="selectedHeader">Selected</th>
				<th ng-hide="!$ctrl.isHovered()" class="hoveredHeader">Hovered</th>
			</tr>
			<tr ng-repeat="metric in $ctrl._viewModel.metrics">
				<td></td>
				<td>{{ metric }}</td>
				<td ng-if="$ctrl.isSelected()">
					{{ $ctrl._viewModel.details.selected.attributes[metric] | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.selected.deltas || $ctrl._viewModel.details.selected.deltas[metric] == 0"
						>(&Delta;{{ $ctrl._viewModel.details.selected.deltas[metric] | number: 2 }})</span
					>
				</td>
				<td ng-if="$ctrl.isHovered()">
					{{ $ctrl._viewModel.details.hovered.attributes[metric] | number: 2 }}
					<span ng-hide="!$ctrl._viewModel.details.hovered.deltas || $ctrl._viewModel.details.hovered.deltas[metric] == 0"
						>(&Delta;{{ $ctrl._viewModel.details.hovered.deltas[metric] | number: 2 }})</span
					>
				</td>
			</tr>
		</tbody>
	</table>
</div>
