<style>
    .feature-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        box-sizing: border-box;
    }

    .feature-item {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature-item h3 {
        margin-top: 15px;
    }

    .feature-item p {
        margin-top: 10px;
        color: #555;
    }

    .image-container {
        height: 300px;
    }

    .image-container img {
        height: 300px;
    }
</style>
<div class="feature-row">
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/visualize.png" alt="Interactive Visualization" />
        </div>
        <h3>Interactive Visualization</h3>
        <p>
            Turn your codebase into a dynamic, city-like map. Navigate through your code with ease and uncover insights you’ve never seen
            before.
        </p>
    </div>
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/tangible.png" alt="Tangible Models" />
        </div>
        <h3>Tangible Models</h3>
        <p>Bring your code to life! Print your codebase as a 3D model! Perfect for presentations.</p>
    </div>
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/hotspots.png" alt="Hotspots" />
        </div>
        <h3>Find Hotspots</h3>
        <p>See hotspots at a glance and see what is important to you.</p>
    </div>
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/history.png" alt="Track your changes" />
        </div>
        <h3>Track your changes</h3>
        <p>See how your codebase has grown ver time. Compare older maps to understand the impact your decisions had!</p>
    </div>
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/imports.png" alt="Seamless Import" />
        </div>
        <h3>Seamless Import</h3>
        <p>You can get metrics from a lot of different parsers and importers.</p>
    </div>
    <div class="feature-item">
        <div class="image-container">
            <img src="assets/images/features/cli.png" alt="Powerful CLI" />
        </div>
        <h3>Powerful CLI</h3>
        <p>
            Easily import metrics from a wide range of parsers and tools. Get a comprehensive view of your codebase without the hassle of
            building it yourself.
        </p>
    </div>
</div>
