@if (data.unsuspiciousMetrics.length) {
    @if (data.analyzedProgrammingLanguage.length) {
        <div class="subtitle">
            <button data-testid="Unsuspicious Metrics" class="untracked-metrics-button" (click)="toggleUnsuspiciousMetricsVisibility()">
                <span class="untracked-unsus-icon-span">
                    <i
                        class="fa"
                        [ngClass]="{ 'fa-caret-right': !isUnsuspiciuosMetricsVisible, 'fa-caret-down': isUnsuspiciuosMetricsVisible }"
                    ></i>
                </span>
                Unsuspicious metrics in this <code>.{{ data.analyzedProgrammingLanguage }}</code> code
            </button>
        </div>
    }
    @if (isUnsuspiciuosMetricsVisible) {
        <ul data-testid="List of Unsuspicious Metrics in ts Code" class="text-content">
            @for (unsuspiciousMetric of data.unsuspiciousMetrics; track unsuspiciousMetric) {
                <li>{{ unsuspiciousMetric }}</li>
            }
        </ul>
    }
}
