button {
    height: 28px;
    line-height: 22px;
    min-width: 38px;
    margin: 0;
    padding: 0;
    font-size: 9pt;
    background-color: #e6e6e6f5;
    color: #444;

    &:hover {
        background-color: #c8c8c8;
    }
}

i {
    font-size: 10px !important;
}
