@if (data.untrackedMetrics.length) {
    @if (data.analyzedProgrammingLanguage.length) {
        <div class="sub-title">
            <button data-testid="Untracked Metrics" class="untracked-metrics-button" (click)="toggleUntrackedMetricsVisibility()">
                <span class="untracked-unsus-icon-span">
                    <i
                        class="fa"
                        [ngClass]="{ 'fa-caret-right': !isUntrackedMetricsVisible, 'fa-caret-down': isUntrackedMetricsVisible }"
                    ></i>
                </span>
                Untracked metrics in <code>.{{ data.analyzedProgrammingLanguage }}</code> code
            </button>
        </div>
    }
    @if (isUntrackedMetricsVisible) {
        <ul data-testid="List of Untracked Metrics in ts Code" class="text-content">
            @for (untrackedMetric of data.untrackedMetrics; track untrackedMetric) {
                <li>{{ untrackedMetric }}</li>
            }
        </ul>
    }
    @if (data.analyzedProgrammingLanguage === undefined) {
        <div>No programming language was found for analyzing suspicious metrics.</div>
    }
}
