@use "variables";

cc-search-panel {
    .search-panel-card {
        border-left: none;
        width: 100%;
    }
    .search-panel-card .section-body {
        display: flex;
        flex-direction: column;
        padding: 6px;
        position: absolute;
        top: 45px;
        background: white;
        border: 1px solid #b5b5b5;
        box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);

        &.hidden {
            display: none;
            pointer-events: none;
        }
    }

    .submenu-button {
        border: 2px solid variables.$cc-primary-color;

        &:hover {
            border: 2px solid variables.$cc-emphasized-color;
        }
    }
}
