cc-search-panel {
    // Override ribbon bar panel height for search panel
    ::ng-deep > div {
        height: 65px !important;
    }

    // Remove top margin for search panel to fit all content
    ::ng-deep .section-header {
        margin-top: 0 !important;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    ::ng-deep .section button.section-title {
        margin-top: 0 !important;
    }

    .search-panel-card {
        border-left: none;
        width: 100%;
    }
    .search-panel-card .section-body {
        display: flex;
        flex-direction: column;
        padding: 6px;
        position: absolute;
        top: 45px;
        background: white;
        border: 1px solid #b5b5b5;
        box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);

        &.hidden {
            display: none;
            pointer-events: none;
        }
    }
}

cc-blacklist-panel {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}
