@use "../../../../material/theme";

cc-global-configuration-button button {
	margin: 0;

	cc-action-icon {
		margin-left: 4px;
	}

	&:hover cc-action-icon {
		background-color: rgb(0, 124, 112);
	}
}

.cc-global-configuration-dialog .mat-dialog-container {
	width: 50vw;
	padding: 0;

	.cc-global-configuration-align-right {
		float: right;

		.close-button {
			padding-bottom: 5px;
		}
	}

	.cc-global-configuration-dialog-content {
		margin: 8px;
		padding: 0 15px;
	}

	[mat-dialog-close] {
		color: theme.$cc-primary-color;
	}

	cc-map-layout-selection,
	cc-display-quality-selection {
		display: block;
		margin-bottom: 8px;

		> mat-form-field {
			width: 100%;
		}

		.cc-tree-maps-max-tree-map-files {
			display: inline-block;
			padding-left: 16px;
		}
	}

	.cc-global-configuration-toggle-option {
		margin-bottom: 16px;

		mat-slide-toggle {
			display: block;
			margin-bottom: 8px;
		}
	}

	.weblink {
		display: block;
		color: rgba(0, 0, 0, 0.870588);
		text-decoration: none;

		i {
			margin-right: 16px;
		}
	}
}
