@use "../../../../material/theme";

cc-global-configuration-button button {
	display: inline-flex;
	align-items: center;
	margin: 0;

	i {
		background-color: theme.$cc-primary-color;
		color: white;
		border-radius: 100%;
		padding: 5px;
		font-size: 14px;
		margin-left: 4px;
	}
}
