<span class="box-rounded node-count">{{ $ctrl._viewModel.fileCount }}<i class="fa fa-file"></i></span>
<span class="box-rounded node-count">{{ $ctrl._viewModel.flattenCount }}<i class="fa fa-eye-slash"></i></span>
<span class="box-rounded node-count">{{ $ctrl._viewModel.excludeCount }}<i class="fa fa-ban"></i></span>
<div id="sort-component">
	<sorting-button-component id="sort-component-button"></sorting-button-component>
	<sorting-option-component id="sort-component-dialog"></sorting-option-component>
</div>
