<span class="box-rounded node-count" title="Files matching search pattern">{{ $ctrl._viewModel.fileCount }}<i class="fa fa-file"></i></span>
<span class="box-rounded node-count" style="display: inline-flex" title="Files flattened"
	>{{ $ctrl._viewModel.flattenCount }}<img alt="flattenIcon" class="fa png-icon-files-counter" src="../../../assets/flatten.png" />
</span>
<span class="box-rounded node-count" title="Files excluded">{{ $ctrl._viewModel.excludeCount }}<i class="fa fa-ban"></i></span>
<div id="sort-component">
	<cc-sorting-button></cc-sorting-button>
	<sorting-option-component id="sort-component-dialog"></sorting-option-component>
</div>
