matching-files-counter-component {
	.node-count {
		background: #eee;
		color: black;
		padding: 4px 8px;
		margin-right: 4px;
	}

	.node-count i {
		margin-left: 6px;
	}

	.box-rounded {
		display: inline-block;
		font-weight: normal;
		line-height: 17px;
		font-size: 10pt;
		margin-top: 2px;
		min-width: 20px;
		border-radius: 4px;
		text-align: center;
	}

	#id-sort-component-button .md-button {
		min-height: unset;
		margin-bottom: 0;
		height: 23px;
		background: #e6e6e6;
		padding: 1px 8px;
	}

	#id-sort-component-dialog .md-select-value {
		min-height: unset;
		padding: 2px 8px;
	}

	.sort-component-styling {
		margin-right: 3px;
		float: right;
		display: flex;
		color: black;
	}
}
