<span class="box-rounded node-count ">{{ $ctrl._viewModel.fileCount }}<i class="fa fa-file"></i></span>
<span class="box-rounded node-count">{{ $ctrl._viewModel.flattenCount }}<i class="fa fa-eye-slash"></i></span>
<span class="box-rounded node-count">{{ $ctrl._viewModel.excludeCount }}<i class="fa fa-ban"></i></span>
<div class="sort-component-styling">
	<sorting-button-component id="id-sort-component-button"></sorting-button-component>
	<sorting-option-dialog-component id="id-sort-component-dialog"></sorting-option-dialog-component>
</div>
