<md-input-container class="small-input-field" id="rangeFromInputField">
	<input
		type="number"
		ng-model="$ctrl._viewModel.colorRangeFrom"
		ng-disabled="$ctrl._viewModel.sliderOptions.disabled"
		min="0"
		step="1"
		ng-change="$ctrl._viewModel.sliderOptions.onFromChange()"
		ng-model-options="{debounce: 1000}"
	/>
</md-input-container>

<md-input-container class="md-block" id="colorSliderContainer">
	<rzslider
		id="colorSlider"
		rz-slider-model="$ctrl._viewModel.colorRangeFrom"
		rz-slider-high="$ctrl._viewModel.colorRangeTo"
		rz-slider-options="$ctrl._viewModel.sliderOptions"
	></rzslider>
</md-input-container>

<md-input-container class="small-input-field" id="rangeToInputField">
	<input
		type="number"
		ng-model="$ctrl._viewModel.colorRangeTo"
		ng-disabled="$ctrl._viewModel.sliderOptions.disabled"
		min="0"
		step="1"
		ng-change="$ctrl._viewModel.sliderOptions.onToChange()"
		ng-model-options="{debounce: 1000}"
	/>
</md-input-container>
