@import "~angularjs-slider/dist/rzslider.css";

range-slider-component {

  .rzslider .rz-pointer, .rzslider .rz-selection {
    background: #26a69a !important;
  }

  .rzslider .rz-bar {
    background: rgb(196, 196, 196);
  }

  .small-input-field {
    width: 48%
  }
}