@import "~angularjs-slider/dist/rzslider.css";

range-slider-component {
	display: block;
	margin-top: 17px;
	margin-left: 5px;

	* {
		display: inline-block !important;
	}

	.rzslider {
		width: 150px;
		margin: 4px 0 15px 0 !important;

		.rz-bar {
			background: #a3a3a3;
			height: 5px;
			margin-top: -1.5px;
		}

		.rz-pointer,
		.rz-selection {
			background: #26a69a !important;
		}

		.rz-pointer {
			top: -6px;
			width: 14px;
			height: 14px;
			cursor: pointer;
			border-radius: 16px;
		}

		.rz-bar-wrapper:nth-child(2) {
			visibility: visible !important;
		}
	}

	.rz-bubble,
	.rz-limit {
		bottom: 7px !important;
		padding: 1px 3px;
		color: #aeaeae !important;
		cursor: default;
	}

	.rz-active:after {
		display: none;
	}

	.small-input-field {
		width: 42px;
		text-align: center !important;
	}
}
