<div (click)="$event.stopPropagation()">
    <div class="title-container">
        <div class="title">Suspicious Metrics</div>
        <div class="title title-button-container">
            <i
                class="fa fa-question-circle-o title-button"
                role="button"
                title="Open Information about Suspicious Metrics"
                popovertarget="suspiciousMetricPopover"
                (click)="openDialog()"
            ></i>
        </div>
    </div>

    <div class="suspicious-menu-content-wrapper">
        <cc-suspicious-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-suspicious-metrics-list>
        <cc-unsuspicious-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-unsuspicious-metrics-list>
        <cc-untracked-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-untracked-metrics-list>
    </div>
</div>
