<div (click)="$event.stopPropagation()">
    <div>
        <div class="title">Suspicious Metrics</div>
        <cc-action-icon
            icon="fa fa-question-circle-o"
            title="Open Information about Suspicious Metrics"
            (click)="openDialog()"
        ></cc-action-icon>
    </div>

    <div class="suspicious-menu-content-wrapper">
        <cc-suspicious-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-suspicious-metrics-list>
        <cc-unsuspicious-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-unsuspicious-metrics-list>
        <cc-untracked-metrics-list [data]="data" [matMenuTriggerReference]="matMenuTriggerReference"></cc-untracked-metrics-list>
    </div>
</div>
