@use "../../../../../material/theme";

.cc-download-dialog .mat-mdc-dialog-container {
	padding: 0 0 8px 0;
	width: 500px;
	overflow: hidden;

	mat-toolbar {
		&.header {
			background-color: theme.$cc-primary-color;
			h2 {
				color: white;
			}
		}
	}

	.mat-mdc-dialog-content {
		margin: 0;
		padding: 16px;

		.file-name-wrapper {
			display: flex;

			.mat-mdc-form-field {
				flex: 1;
			}

			.file-extension {
				margin-top: 41px;
				color: grey;
				font-size: 17px;
			}
		}
		mat-checkbox {
			display: block;
		}

		.deprecation-warning-container {
			padding: 10px 0 10px 0;
			color: red;

			h4 {
				margin: 0 0 10px 0;
			}
		}
	}

	.mat-mdc-dialog-actions {
		flex-direction: column;
		align-items: flex-end;

		.save-button {
			color: theme.$cc-primary-color;
			background-color: rgba(138, 132, 132, 0.08);
			margin-right: 8px;
		}
	}
}
