bin
!**/src/**/bin
**/out/**/*
.projectBuilder
.settings
.gradle
.classpath
.idea
*.iml
*.ipr
*.iws
obj
*.user
*.suo
.metadata
.metadata/**/*
.jshintrc
.sublime-projectBuilder
.tern-projectBuilder
.vagrant
codecharta-analyse.sonargraph
auth.txt
./**/public
