bin
!**/src/**/bin
build
.project
.settings
.gradle
.classpath
.idea
*.iml
*.ipr
*.iws
obj
*.user
*.suo
.metadata
.metadata/**/*
.jshintrc
.sublime-project
.tern-project
.vagrant
codecharta-analyse.sonargraph
auth.txt
