bin
!**/src/**/bin
**/out/**/*
build
.projectCreator
.settings
.gradle
.classpath
.idea
*.iml
*.ipr
*.iws
obj
*.user
*.suo
.metadata
.metadata/**/*
.jshintrc
.sublime-projectCreator
.tern-projectCreator
.vagrant
codecharta-analyse.sonargraph
auth.txt
./**/public
