<range-slider-component></range-slider-component>

<md-slider-container class="md-block">
    <span>Height</span>
    <md-slider flex step="0.1" min="0.1" max="5" ng-model="$ctrl.settingsService.settings.scaling.y" id="y-scale-slider" ng-change="$ctrl.settingsService.applySettings()" class="md-primary">
    </md-slider>
    <md-input-container>
        <input flex step="0.1" min="0.1" max="5" type="number" ng-model="$ctrl.settingsService.settings.scaling.y" ng-change="$ctrl.settingsService.applySettings()" aria-controls="y-scale-slider">
    </md-input-container>
</md-slider-container>

<md-slider-container class="md-block">
    <span>Margin</span>
    <md-slider flex step="1" min="1" max="100" ng-model="$ctrl.settingsService.settings.margin" id="margin-slider" ng-change="$ctrl.changeMargin()" class="md-primary">
    </md-slider>
    <md-input-container>
        <input flex step="1" min="1" max="100" type="number" ng-model="$ctrl.settingsService.settings.margin" ng-change="$ctrl.changeMargin()" aria-controls="margin-slider">
    </md-input-container>
</md-slider-container>

<md-input-container class="md-block" ng-if="!$ctrl.viewModel.deltas">
    <md-checkbox class="md-primary" ng-model="$ctrl.viewModel.flipped" ng-change="$ctrl.apply()">
        Invert Colors
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block" ng-if="$ctrl.viewModel.deltas">
    <md-checkbox class="md-primary" ng-model="$ctrl.viewModel.deltaColorFlipped" ng-change="$ctrl.apply()">
        Invert Delta Colors
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block">
    <md-checkbox class="md-primary" ng-model="$ctrl.settingsService.settings.invertHeight" ng-change="$ctrl.settingsService.onSettingsChanged()">
        Invert Height
    </md-checkbox>
</md-input-container>

<md-input-container class="md-block">
    <md-checkbox class="md-primary" ng-model="$ctrl.settingsService.settings.dynamicMargin" ng-change="$ctrl.settingsService.onSettingsChanged()">
        Dynamic Margin
    </md-checkbox>
</md-input-container>

<reset-settings-button-component settings-names="deltaColorFlipped, neutralColorRange.to, neutralColorRange.flipped, neutralColorRange.from, amountOfTopLabels, scaling.y, margin, dynamicMargin, showDependencies, maximizeDetailPanel, invertHeight"></reset-settings-button-component>
