reset-settings-button-component {
	height: 10px;
	.md-button {
		top: 0px;
		margin-left: 0;
		min-width: 37px;
		display: block;
    	float: right;
		bottom: 10;
		right: 10px;
		border-radius: 50%;
	}
}
