@use "../../../material/theme";

cc-reset-settings-button {
	button {
		color: theme.$cc-primary-color;
		background: none;
		height: 28px;
		width: 28px;

		&:hover {
			border-radius: 100%;
			background-color: rgba(158, 158, 158, 0.2);
		}
	}
}
