<cc-layout-tab />
<cc-area-segment></cc-area-segment>
@if (!isRadialLayout()) {
    <cc-height-segment></cc-height-segment>
}

@if (showColorMetricSegment()) {
    @if (!isRadialLayout()) {
        <cc-link-color-height-button></cc-link-color-height-button>
    }
    <cc-color-segment></cc-color-segment>
    @if (isRadialLayout()) {
        <cc-folders-segment></cc-folders-segment>
    }
} @else {
    <cc-axis-card
        label="Color"
        [metricName]="'Settings'"
        [hasCog]="true"
        [cogPopoverId]="deltaColorSettingsPopoverId"
        [cogAnchorName]="deltaColorSettingsAnchorName"
        [testId]="'metric-segment-color-settings'"
        [cogTestId]="'metric-segment-color-settings-cog'"
    ></cc-axis-card>
    <cc-color-settings-popover
        [popoverId]="deltaColorSettingsPopoverId"
        [anchorName]="deltaColorSettingsAnchorName"
    ></cc-color-settings-popover>
}

@if (hasEdgeMetric() && !isRadialLayout()) {
    <cc-edge-segment></cc-edge-segment>
}

<cc-labels-scenarios-segment></cc-labels-scenarios-segment>
