<div class="cc-dialog suspicious-metric-dialog" id="suspiciousMetricPopover" data-testid="suspiciousMetricPopover">
    <h2 mat-dialog-title class="title">Suspicious Metrics Information</h2>
    <mat-dialog-content class="info-text">
        This feature compares the values of certain metrics from the loaded cc.json file with metric values of 241 Open Source Java
        projects. Based on this data suspicious and inconspicuous metrics are identified and corresponding suggestions can be clicked to
        view them. Be aware that metrics for other programming languages might not be comparable to Java Reference metric values. More
        information can be found in the
        <a target="_blank" href="https://maibornwolff.github.io/codecharta/docs/suspicious-metrics/"
            >How-To Article <i class="fa fa-external-link"></i></a
        >.
    </mat-dialog-content>
    <mat-dialog-actions style="display: flex; justify-content: center">
        <button mat-stroked-button mat-dialog-close class="button-mat-dialog">Close</button>
    </mat-dialog-actions>
</div>
