area-settings-panel-component {
	background: white;
	border: 1px solid #b5b5b5;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	display: block;
	padding: 6px;
	position: absolute;
	overflow: hidden;
	font-size: 0.9em;
	text-align: left;
	max-height: 300px;
	opacity: 1;
	width: 240px;
	transition: opacity 0ms, max-height 200ms ease-in-out;

	top: 45px;
	right: 0;

	md-slider-container {
		position: relative;
		.slider-title {
			position: absolute;
			top: 0;
			font-size: 0.8em;
			color: grey;
			left: 4px;
		}
		.margin-input {
			height: 24px;
		}
	}

	.bottom-row {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

area-settings-panel-component.hidden {
	max-height: 0;
	opacity: 0;
	transition: max-height 200ms ease-in-out, opacity 0ms 200ms;
}
