<md-card id="codemap-context-menu" ng-show="$ctrl.rightClickedNodeData !== null">
	<div ng-if="$ctrl.nodeIsFolder()">
		<cc-mark-folder-row></cc-mark-folder-row>
		<md-divider></md-divider>
	</div>

	<div class="button-group">
		<md-button ng-disabled="true" title="{{ $ctrl._viewModel.nodePath }}">
			{{ $ctrl._viewModel.lastPartOfNodePath }}
		</md-button>

		<cc-focus-buttons [code-map-node]="$ctrl._viewModel.codeMapNode"></cc-focus-buttons>
		<cc-flatten-buttons></cc-flatten-buttons>
		<md-button
			ng-if="!$ctrl._viewModel.codeMapNode.isFlattened"
			ng-click="$ctrl.flattenNode()"
			id="flatten-button"
			title="Flatten node and children-nodes, but keep an empty space"
		>
			<img alt="flattenIcon" class="png-icon" src="../../../assets/flatten.png" style="width: 17px; height: 17px" />
			Flatten
		</md-button>
		<md-button
			ng-if="$ctrl._viewModel.codeMapNode.isFlattened"
			ng-click="$ctrl.showFlattenedNode()"
			title="Show node and children-nodes"
			><img alt="flattenIcon" class="png-icon" src="../../../assets/flatten.png" style="width: 17px; height: 17px" /> Show</md-button
		>
		<md-button
			ng-if="!$ctrl.isNodeConstantlyHighlighted()"
			title="Highlight node constantly"
			ng-click="$ctrl.addNodeToConstantHighlight()"
			><i class="fa fa-cubes"></i> Keep Highlight</md-button
		>
		<md-button
			ng-if="$ctrl.isNodeConstantlyHighlighted()"
			title="Remove constant highlight"
			ng-click="$ctrl.removeNodeFromConstantHighlight()"
			><i class="fa fa-cubes"></i> Remove Highlight</md-button
		>

		<md-button ng-click="$ctrl.excludeNode()" id="exclude-button" title="Exclude node and children-nodes and reorder the CodeMap"
			><i class="fa fa-ban"></i> Exclude</md-button
		>
	</div>
</md-card>
