<mat-toolbar color="primary">Global Configuration</mat-toolbar>

<div class="cc-global-configuration-dialog-content">
	<div align="end">
		<cc-reset-settings-button
			[settingsKeys]="[
				'appSettings.hideFlatBuildings',
				'appSettings.isWhiteBackground',
				'appSettings.resetCameraIfNewFileIsLoaded',
				'appSettings.layoutAlgorithm',
				'appSettings.maxTreeMapFiles'
			]"
			tooltip="Reset global settings to their defaults"
		></cc-reset-settings-button>
	</div>

	<cc-map-layout-selection></cc-map-layout-selection>
	<cc-display-quality-selection></cc-display-quality-selection>

	<div align="end">
		<button mat-button mat-dialog-close>CLOSE</button>
	</div>
</div>
