<div class="cc-range-slider-container">
	<mat-form-field>
		<input matInput [disabled]="disabled" type="number" [value]="this.value" (input)="this.handleInputOnChange($event)" />
	</mat-form-field>

	<div class="cc-range-slider-slider">
		<span [style.width.px]="currentLeftValue" [style.border-bottom]="'4px solid ' + leftColor" class="cc-range-slider-bar"></span>
		<span
			[style.width.px]="sliderWidth - currentLeftValue - currentRightValue"
			[style.border-bottom]="'4px solid ' + middleColor"
			class="cc-range-slider-bar"
		></span>
		<span [style.width.px]="currentRightValue" [style.border-bottom]="'4px solid ' + rightColor" class="cc-range-slider-bar"></span>
	</div>

	<mat-form-field>
		<input matInput [disabled]="disabled" type="number" [value]="this.value" (input)="this.handleInputOnChange($event)" />
	</mat-form-field>
</div>
