<div class="cc-range-slider-container">
	<mat-form-field>
		<input
			matInput
			type="number"
			[value]="currentLeftValue"
			(input)="this.handleCurrentLeftInputChanged($event)"
			[min]="minValue"
			[max]="currentRightValue"
		/>
	</mat-form-field>

	<div #rangeSliderContainer class="cc-range-slider-slider">
		<span
			[style.width.px]="sliderRangePosition.leftEnd"
			[style.border-bottom]="'4px solid ' + leftColor"
			class="cc-range-slider-bar"
		></span>
		<span
			[style.width.px]="sliderRangePosition.rightStart - sliderRangePosition.leftEnd"
			[style.border-bottom]="'4px solid ' + middleColor"
			class="cc-range-slider-bar"
		></span>
		<span
			[style.width.px]="sliderWidth - sliderRangePosition.rightStart"
			[style.border-bottom]="'4px solid ' + rightColor"
			class="cc-range-slider-bar"
		></span>

		<div
			#leftThumb
			class="cc-range-slider-slider-thumb"
			[style.left.px]="sliderRangePosition.leftEnd - 8"
			(mousedown)="setCurrentlySliding('leftThumb')"
		>
			<div class="cc-range-slider-slider-thumb-value">{{ currentLeftValue }}</div>
			<div class="cc-range-slider-slider-thumb-circle"></div>
		</div>
		<div
			#rightThumb
			class="cc-range-slider-slider-thumb"
			[style.left.px]="sliderRangePosition.rightStart - 8"
			(mousedown)="setCurrentlySliding('rightThumb')"
		>
			<div class="cc-range-slider-slider-thumb-value">{{ currentRightValue }}</div>
			<div class="cc-range-slider-slider-thumb-circle"></div>
		</div>
	</div>

	<mat-form-field>
		<input
			matInput
			type="number"
			[value]="this.currentRightValue"
			(input)="this.handleCurrentRightInputChanged($event)"
			[min]="currentLeftValue"
			[max]="maxValue"
		/>
	</mat-form-field>
</div>
