<div class="cc-range-slider-container">
	<mat-form-field>
		<input matInput [disabled]="disabled" type="number" [value]="this.value" (input)="this.handleInputOnChange($event)" />
	</mat-form-field>

	<div #rangeSliderContainer class="cc-range-slider-slider">
		<span
			[style.width.px]="sliderRangePosition.leftEnd"
			[style.border-bottom]="'4px solid ' + leftColor"
			class="cc-range-slider-bar"
		></span>
		<span
			[style.width.px]="sliderRangePosition.rightStart - sliderRangePosition.leftEnd"
			[style.border-bottom]="'4px solid ' + middleColor"
			class="cc-range-slider-bar"
		></span>
		<span
			[style.width.px]="sliderWidth - sliderRangePosition.rightStart"
			[style.border-bottom]="'4px solid ' + rightColor"
			class="cc-range-slider-bar"
		></span>
		<div
			class="cc-range-slider-slider-thumb"
			[style.left.px]="sliderRangePosition.leftEnd"
			cdkDrag
			cdkDragLockAxis="x"
			(cdkDragMoved)="handleLeftThumbMoved($event)"
			[cdkDragConstrainPosition]="constrainLeftThumbPosition"
		></div>
	</div>

	<mat-form-field>
		<input matInput [disabled]="disabled" type="number" [value]="this.value" (input)="this.handleInputOnChange($event)" />
	</mat-form-field>
</div>
